In [1]:
#p_info.csv  -> dob,height,playerid
#m_info.csv -> mkey,date,home/away#_id/pos,home/away_formation/manager/team,result,score
#t_info.csv -> team_id,name,seats
#p_values.csv -> date,playerid,y
#m_odds.csv -> at,date,ht,odds,odds1,odds2,oddsx,score
import pandas as pd
import numpy as np
from datetime import datetime
import math
import time

In [2]:
datafolder = '../data_sources/soccerway_data/'

### available at ETL:

In [3]:
p_i_df = pd.read_csv(datafolder + 'p_info.csv').drop_duplicates()
t_i_df = pd.read_csv(datafolder + 't_info.csv').drop_duplicates()
p_v_df = pd.read_csv(datafolder + 'p_values.csv').drop_duplicates()
m_o_df = pd.read_csv(datafolder + 'm_odds.csv').drop_duplicates()
m_i_df = pd.read_csv(datafolder + 'm_info.csv').drop_duplicates()

In [4]:
p_i_df

               dob height  playerid
0       1980-09-23    170         1
1       1968-12-18    186         2
2       1967-12-29    180         3
3       1968-03-09    179         4
4       1973-05-17    191         5
5       1973-08-06    181         6
6       1978-07-08    179         7
7       1973-07-29    192         8
8       1995-03-29    195    262153
9       1978-06-09    184        10
10      1972-02-03    191        11
11      1969-11-15    184        12
12      1971-01-02    188        13
13      1973-09-27    192        14
14      1997-07-06    NaN    262159
15      1995-03-16    NaN    262160
16      1969-03-10    185        17
17      1971-06-08    171        18
18      1977-12-30    183        19
19      1993-09-14    175    262164
20      1967-01-19    191        22
21      1981-07-09    184        23
22      1974-10-05    190        24
23      1973-08-08    194        25
24      1980-08-06    188        26
25      1974-09-15    186        27
26      1970-11-24    182        28
27      1979-08-28    187        29
28      1973-02-22    180        30
29      1970-08-25    196        31
...            ...    ...       ...
141643  1999-08-15    NaN    393203
141644  1995-11-19    182    262068
141645  1997-04-22    174    262070
141646  1992-05-16    175    131060
141647  1991-01-22    177     87288
141648  1993-03-09    183    131062
141649  1987-10-06    173    262090
141650  1995-03-04    180    262091
141651  1991-12-21    162    262092
141652  1995-06-04    188    262093
141653  1996-01-03    188    262094
141654  1996-03-31    NaN    375347
141655  1991-12-23    181    262098
141656  1987-09-09    185     43683
141657  1991-06-21    174    262104
141658  1996-06-24    201    262105
141659  1995-04-22    166    262108
141660  1999-03-07    NaN    393210
141661  1984-02-18    NaN    279328
141662  1996-08-06    184    262114
141663  1995-02-19    176    262115
141664  1992-05-24    175    262117
141665         NaN    NaN    410264
141666  1995-07-16    176    262123
141667  1994-03-07    176    262124
141668  1995-05-14    178    262130
141669  1992-01-28    180    262134
141670  1997-10-11    191    314245
141671  1992-01-21    173    162736
141672  1990-05-18    191    262140

[141673 rows x 3 columns]

In [5]:
#teszt=t_i_df.merge(m_i_df[b], left_on='team_id', right_on='home_team')
#teszt.merge(p_i_df[['height','playerid']], left_on='home1_id', right_on='playerid')
t_i_df

      team_id                       name    seats
0           1           1.FC Saarbrücken  30931.0
1           2        1.FC Kaiserslautern  49780.0
2           3                 1. FC Köln  50000.0
3           4             1.FC Nuremberg  50000.0
4           5                   AC Milan  80018.0
5           6                  Adanaspor  16095.0
6           7              El Ahly Cairo  16000.0
7           8           Alemannia Aachen  32960.0
8           9                PS Kalamata   4496.0
9          10          Arminia Bielefeld  26515.0
10         11                 Arsenal FC  60260.0
11         12                    AS Roma  73261.0
12         13            Atlético Madrid  54907.0
13         14             Austria Vienna  48000.0
14         15        Bayer 04 Leverkusen  30210.0
15         16          Borussia Dortmund  81360.0
16         17       Borussia Dortmund II   9999.0
17         18   Borussia Mönchengladbach  54014.0
18         19             Brescia Calcio  23072.0
19         20                  Bursaspor  43331.0
20         21              Chemnitzer FC  15200.0
21         22               Derby County  33597.0
22         23     Eintracht Braunschweig  23325.0
23         24        Eintracht Frankfurt  51500.0
24         25         FC Energie Cottbus  22528.0
25         26              FC Basel 1893  38512.0
26         27              Bayern Munich  75000.0
27         28        FC Bayern Munich II  10500.0
28         29                 Everton FC  39571.0
29         30           FC Hansa Rostock  29000.0
...       ...                        ...      ...
4992    32129           FC Balzan Youths      NaN
4993    32130            Naxxar Lions FC      NaN
4994    32138  Socio Culturale Castiadas    800.0
4995    32143           Stal Rzeszow U19  12700.0
4996    32177                 US Chaouia      NaN
4997    32213            VfL Tremsbüttel   1000.0
4998    32311                Army United  20000.0
4999    32312        SC Paderborn 07 U17      0.0
5000    32335               TSU Bramberg   2000.0
5001    32343                 Hajer Club  27550.0
5002    32358                   FC Köniz   1000.0
5003    32360    FC Portalban/Gletterens   1800.0
5004    32388                   Stord IL      0.0
5005    39268              Suzhou Dongwu      0.0
5006    32395        JK Viljandi Tulevik   2500.0
5007    32397          Rakvere JK Tarvas   2500.0
5008    32400                Itzehoer SV   9000.0
5009    32408         Jingtie Locomotive  12000.0
5010    32419            CNS Cetate Deva   4000.0
5011    32476      Solomon Warriors F.C.  18000.0
5012    32477          Western United FC      NaN
5013    32502                Naft Tehran  30122.0
5014    32563         Al-Ahli Akhaa Aley   3500.0
5015    38200              Glacis United   5000.0
5016    32673               FC Lyubimets   4000.0
5017    32682                Levanger FK   2000.0
5018    32683           Tornado Måløy FK      0.0
5019    32721              Academia Hagi      NaN
5020     5456                  Ullern IF      0.0
5021    32755                 PAE Serres   9500.0

[5022 rows x 3 columns]

In [6]:
p_v_df.drop_duplicates()

              date  playerid        y
0       2004-10-04         1   250000
1       2007-06-19         1   200000
2       2009-04-23         1        0
3       2004-10-04         2        0
4       2005-07-27         2   250000
5       2004-10-04         3        0
6       2004-10-04         4   400000
7       2005-02-19         4   300000
8       2006-09-27         4   400000
9       2006-10-13         4   300000
10      2007-02-13         4        0
11      2004-10-04         5  1400000
12      2006-01-09         5  1300000
13      2006-06-02         5  1400000
14      2008-01-01         5   800000
15      2008-06-04         5   600000
16      2009-03-17         5   250000
17      2010-09-14         5        0
18      2004-10-04         6   400000
19      2004-10-11         6   550000
20      2005-07-20         6   700000
21      2005-10-06         6   850000
22      2007-12-28         6   500000
23      2008-06-04         6   400000
24      2009-04-28         6   200000
25      2009-09-25         6        0
26      2009-12-23         6   100000
27      2010-06-16         6   100000
28      2010-08-02         6        0
29      2004-10-04         7  1200000
...            ...       ...      ...
570724  2013-03-15    262115    50000
570725  2013-10-08    262115   200000
570726  2014-09-16    262115   100000
570727  2014-12-15    262115    50000
570728  2015-06-01    262115    50000
570729  2015-12-07    262115    25000
570730  2016-06-27    262115    25000
570731  2013-10-08    262117   125000
570732  2014-04-17    262117   250000
570733  2014-06-12    262117   350000
570734  2014-12-12    262117   300000
570735  2015-03-23    262117   400000
570736  2015-06-01    262117   400000
570737  2015-09-30    262117   500000
570738  2015-12-22    262117   900000
570739  2016-06-01    262117   900000
570740  2013-10-08    262123    25000
570741  2015-08-17    262123    25000
570742  2014-02-20    262124    50000
570743  2014-06-16    262124    50000
570744  2015-03-23    262124   100000
570745  2016-06-28    262124   100000
570746  2015-12-06    262130    25000
570747  2013-10-08    262134   100000
570748  2014-09-19    262134   100000
570749  2014-12-12    262134    50000
570750  2015-12-07    262134    25000
570751  2016-06-28    262134    25000
570752  2016-02-11    314245   200000
570753  2016-07-22    314245   250000

[569359 rows x 3 columns]

In [7]:
p_v_df

              date  playerid        y
0       2004-10-04         1   250000
1       2007-06-19         1   200000
2       2009-04-23         1        0
3       2004-10-04         2        0
4       2005-07-27         2   250000
5       2004-10-04         3        0
6       2004-10-04         4   400000
7       2005-02-19         4   300000
8       2006-09-27         4   400000
9       2006-10-13         4   300000
10      2007-02-13         4        0
11      2004-10-04         5  1400000
12      2006-01-09         5  1300000
13      2006-06-02         5  1400000
14      2008-01-01         5   800000
15      2008-06-04         5   600000
16      2009-03-17         5   250000
17      2010-09-14         5        0
18      2004-10-04         6   400000
19      2004-10-11         6   550000
20      2005-07-20         6   700000
21      2005-10-06         6   850000
22      2007-12-28         6   500000
23      2008-06-04         6   400000
24      2009-04-28         6   200000
25      2009-09-25         6        0
26      2009-12-23         6   100000
27      2010-06-16         6   100000
28      2010-08-02         6        0
29      2004-10-04         7  1200000
...            ...       ...      ...
570724  2013-03-15    262115    50000
570725  2013-10-08    262115   200000
570726  2014-09-16    262115   100000
570727  2014-12-15    262115    50000
570728  2015-06-01    262115    50000
570729  2015-12-07    262115    25000
570730  2016-06-27    262115    25000
570731  2013-10-08    262117   125000
570732  2014-04-17    262117   250000
570733  2014-06-12    262117   350000
570734  2014-12-12    262117   300000
570735  2015-03-23    262117   400000
570736  2015-06-01    262117   400000
570737  2015-09-30    262117   500000
570738  2015-12-22    262117   900000
570739  2016-06-01    262117   900000
570740  2013-10-08    262123    25000
570741  2015-08-17    262123    25000
570742  2014-02-20    262124    50000
570743  2014-06-16    262124    50000
570744  2015-03-23    262124   100000
570745  2016-06-28    262124   100000
570746  2015-12-06    262130    25000
570747  2013-10-08    262134   100000
570748  2014-09-19    262134   100000
570749  2014-12-12    262134    50000
570750  2015-12-07    262134    25000
570751  2016-06-28    262134    25000
570752  2016-02-11    314245   200000
570753  2016-07-22    314245   250000

[569359 rows x 3 columns]

In [8]:
m_o_df[['at']].unstack().value_counts()

Al                        792
Atletico                  354
Osaka                     309
Everton                   272
Santos                    267
River Plate               263
Albirex Niigata           247
Brest                     243
Benfica                   232
U. Catolica               226
Paris SG                  222
Guarani                   222
PR                        219
MG                        217
FC Porto                  211
Lyon                      209
Basel                     209
Marseille                 207
Sao Paulo                 202
FC Steaua Bucuresti       201
Rudar                     200
Botafogo RJ               197
Fenerbahce                196
Palmeiras                 192
Inter                     192
Chelsea                   191
Trabzonspor               189
U.N.A.M.                  189
Zurich                    187
Derby                     187
                         ...
USA U16                     1
Real Hyria                  1
Torns (Swe)                 1
Huachipato (Chi)            1
Lok. Sofia                  1
Preilu BJSS                 1
Radnevo                     1
Varegg                      1
Myanmar U21                 1
Odra Wodzislaw (Pol)        1
Ol. Cluj W (Rou)            1
Adonis Idaliou              1
Ulisses Yerevan (Arm)       1
Bryne (Nor)                 1
First Vienna                1
Selfoss (Ice)               1
Tebessa                     1
Chinese Taipei Univ. W      1
Megah Murni                 1
Karpaty (Ukr)               1
Moravany                    1
Switzerland U19 W           1
Kfarsoum                    1
Stjarnan (Ice)              1
El Gaish                    1
Bluebell Utd                1
Esbjerg (Den)               1
Sakskobing                  1
Milano Kumanovo             1
Dragor                      1
Length: 16034, dtype: int64

In [9]:
m_i_df

,mkey,away10_id,away10_pos,away11_id,away11_pos,away1_id,away1_pos,away2_id,away2_pos,away3_id,...,home7_pos,home8_id,home8_pos,home9_id,home9_pos,home_formation,home_manager,home_team,result,score
0,2604022,45146,top: 2%; left: 30%;,66521,top: 22%; left: 40%;,34370,top: 80%; left: 40%;,262523,top: 61%; left: 73%;,88682,...,top: 33%; left: 55%;,240306,top: 36%; left: 40%;,40428,top: 33%; left: 25%;,3-5-2 flat,2127,410,2,2-3
1,948786,113974,top: 80%; left: 40%;,113979,top: 61%; left: 7.5%;,59373,top: 61%; left: 73%;,57628,top: 63%; left: 28%;,68152,...,top: 18%; left: 65%;,39743,top: 3%; left: 40%;,38267,top: 63%; left: 28%;,4-2-3-1,97,3817,0,1-1
2,1134605,88983,top: 2%; left: 30%;,143219,top: 2%; left: 50%;,45601,top: 80%; left: 40%;,145922,top: 61%; left: 73%;,128912,...,top: 43%; left: 52%;,128262,top: 63%; left: 52.5%;,42413,top: 43%; left: 28%;,4-2-3-1,3866,9251,1,4-0
3,2463048,58030,top: 18%; left: 65%;,78147,top: 3%; left: 40%;,93763,top: 80%; left: 40%;,56112,top: 43%; left: 40%;,45677,...,top: 43%; left: 28%;,85927,top: 43%; left: 52%;,39998,top: 23%; left: 68%;,4-4-2 double 6,433,269,1,1-0
4,2547389,183120,top: 23%; left: 40%;,42393,top: 3%; left: 40%;,128969,top: 80%; left: 40%;,110668,top: 61%; left: 7.5%;,19312,...,top: 18%; left: 15%;,22378,top: 61%; left: 7.5%;,24049,top: 43%; left: 52%;,4-2-3-1,5191,339,1,1-0
5,2463041,41118,top: 63%; left: 52.5%;,18296,top: 3%; left: 40%;,89649,top: 80%; left: 40%;,31608,top: 63%; left: 28%;,83415,...,top: 18%; left: 65%;,89654,top: 23%; left: 40%;,84425,top: 18%; left: 15%;,4-2-3-1,6092,17,0,1-1
6,1143249,6053,top: 2%; left: 50%;,33570,top: 2%; left: 30%;,27539,top: 80%; left: 40%;,58816,top: 61%; left: 73%;,58821,...,top: 35%; left: 55%;,53556,top: 25%; left: 12%;,7153,top: 35%; left: 25%;,4-5-1,789,2381,2,0-4
7,1143248,16499,top: 18%; left: 65%;,174984,top: 3%; left: 40%;,14555,top: 80%; left: 40%;,44996,top: 63%; left: 28%;,16353,...,top: 43%; left: 28%;,44992,top: 43%; left: 52%;,5628,top: 10%; left: 15%;,4-3-3 def.,806,3216,2,1-3
8,1143245,37091,top: 2%; left: 30%;,38768,top: 2%; left: 50%;,28124,top: 80%; left: 40%;,4873,top: 63%; left: 28%;,7402,...,top: 61%; left: 7.5%;,21494,top: 28%; left: 53%;,56372,top: 10%; left: 65%;,4-3-3 off.,2043,820,1,2-1
9,1143247,36873,top: 18%; left: 15%;,33833,top: 3%; left: 40%;,7110,top: 80%; left: 40%;,16698,top: 61%; left: 73%;,27280,...,top: 23%; left: 68%;,80696,top: 43%; left: 52%;,8539,top: 43%; left: 28%;,4-4-2 double 6,5199,2323,1,1-0
10,1143246,109217,top: 18%; left: 65%;,16589,top: 3%; left: 40%;,15448,top: 80%; left: 40%;,7445,top: 63%; left: 28%;,8680,...,top: 23%; left: 40%;,56386,top: 18%; left: 65%;,13389,top: 43%; left: 28%;,4-2-3-1,2332,449,2,0-1
11,1143243,33796,top: 28%; left: 27%;,6949,top: 3%; left: 40%;,7249,top: 80%; left: 40%;,755,top: 63%; left: 28%;,68523,...,top: 22%; left: 40%;,56518,top: 10%; left: 65%;,137616,top: 43%; left: 28%;,4-3-3 def.,7849,3205,2,0-1
12,2463042,17134,top: 63%; left: 52.5%;,159928,top: 3%; left: 40%;,124497,top: 80%; left: 40%;,60006,top: 43%; left: 28%;,60007,...,top: 23%; left: 40%;,196836,top: 18%; left: 65%;,93552,top: 43%; left: 28%;,4-2-3-1,15119,851,1,1-0
13,2239764,144310,top: 43%; left: 28%;,54022,top: 2%; left: 30%;,51048,top: 80%; left: 40%;,70833,top: 43%; left: 52%;,121208,...,top: 35%; left: 53%;,31436,top: 2%; left: 30%;,108825,top: 61%; left: 73%;,4-4-2,6210,6711,0,0-0
14,2463045,51309,top: 10%; left: 65%;,50674,top: 3%; left: 40%;,153772,top: 80%; left: 40%;,59994,top: 61%; left: 7.5%;,58061,...,top: 23%; left: 50%;,50782,top: 18%; left: 65%;,124441,top: 18%; left: 15%;,4-1-4-1,340,129,0,1-1
15,2341280,188854,top: 23%; left: 40%;,23966,top: 3%; left: 40%;,51710,top: 80%; left: 40%;,149498,top: 63%; left: 28%;,73250,...,top: 18%; left: 65%;,4248,top: 23%; left: 40%;,33448,top: 18%; left: 15%;,4-2-3-1,2868,13,1,1-0
16,2698728,192655,top: 3%; left: 40%;,52731,top: 20%; left: 50%;,2856,top: 80%; left: 40%;,119032,top: 34%; left: 15%;,41767,...,top: 28%; left: 53%;,9934,top: 39%; left: 40%;,280387,top: 28%; left: 27%;,4-3-3 off.,472,321,1,3-1
17,2698729,147043,top: 2%; left: 30%;,186260,top: 2%; left: 50%;,147051,top: 80%; left: 40%;,62854,top: 61%; left: 7.5%;,4843,...,top: 43%; left: 28%;,27410,top: 18%; left: 15%;,3730,top: 43%; left: 52%;,4-2-3-1,6517,504,1,4-1
18,2698724,192655,top: 2%; left: 50%;,52731,top: 25%; left: 68%;,2856,top: 80%; left: 40%;,119032,top: 61%; left: 7.5%;,166375,...,top: 23%; left: 30%;,183312,top: 0%; left: 10%;,191486,top: 18%; left: 65%;,3-1-4-2,17687,527,1,5-0
19,2698725,250490,top: 18%; left: 15%;,154635,top: 3%; left: 40%;,32750,top: 80%; left: 40%;,165732,top: 18%; left: 65%;,172192,...,top: 28%; left: 53%;,9934,top: 39%; left: 40%;,280387,top: 28%; left: 27%;,4-3-3 off.,472,321,1,1-0
20,2698726,189410,top: 10%; left: 15%;,176130,top: 3%; left: 40%;,147027,top: 80%; left: 40%;,169841,top: 63%; left: 28%;,46420,...,top: 18%; left: 65%;,195051,top: 43%; left: 52%;,68004,top: 43%; left: 28%;,4-2-3-1,2503,257,2,0-2
21,2698727,165891,top: 3%; left: 40%;,74532,top: 20%; left: 30%;,165435,top: 80%; left: 40%;,56621,top: 62%; left: 40%;,129642,...,top: 28%; left: 27%;,102409,top: 39%; left: 40%;,151658,top: 28%; left: 53%;,4-3-3 off.,28335,2790,0,1-1
22,2698720,250490,top: 18%; left: 65%;,154635,top: 3%; left: 40%;,32750,top: 80%; left: 40%;,172192,top: 63%; left: 28%;,79392,...,top: 25%; left: 12%;,3391,top: 35%; left: 27%;,52556,top: 25%; left: 68%;,4-4-2,4487,434,1,3-0
23,2698721,68004,top: 43%; left: 28%;,195051,top: 43%; left: 52%;,4769,top: 80%; left: 40%;,122695,top: 63%; left: 28%;,74075,...,top: 61%; left: 73%;,119032,top: 61%; left: 7.5%;,107784,top: 18%; left: 15%;,4-1-4-1,2808,163,1,2-0
24,2698722,51497,top: 18%; left: 65%;,203123,top: 3%; left: 40%;,68030,top: 80%; left: 40%;,289875,top: 63%; left: 28%;,147501,...,top: 23%; left: 40%;,238056,top: 43%; left: 52%;,194638,top: 18%; left: 15%;,4-2-3-1,5965,26,1,3-1
25,2698723,243856,top: 2%; left: 50%;,21625,top: 2%; left: 30%;,4914,top: 80%; left: 40%;,9819,top: 63%; left: 52.5%;,159299,...,top: 23%; left: 68%;,36080,top: 23%; left: 12%;,334526,top: 43%; left: 28%;,4-4-2 double 6,5018,452,1,2-1
26,30462,23364,top: 43%; left: 30%;,23345,top: 23%; left: 40%;,6034,top: 80%; left: 40%;,23351,top: 63%; left: 28%;,23357,...,top: 42%; left: 15%;,6022,top: 22%; left: 40%;,6405,top: 42%; left: 40%;,4-3-1-2,2133,749,2,0-1
27,30465,22119,top: 2%; left: 50%;,28847,top: 2%; left: 30%;,22149,top: 80%; left: 40%;,5992,top: 61%; left: 56.5%;,22103,...,top: 35%; left: 50%;,16897,top: 10%; left: 65%;,22277,top: 35%; left: 30%;,3-4-3 flat,2138,2921,0,2-2
28,2462903,76657,top: 43%; left: 40%;,17902,top: 3%; left: 40%;,2053,top: 80%; left: 40%;,45679,top: 61%; left: 7.5%;,31608,...,top: 43%; left: 28%;,85961,top: 61%; left: 73%;,20258,top: 23%; left: 12%;,4-4-2 double 6,1155,91,2,3-4
29,2462902,20282,top: 18%; left: 15%;,42908,top: 3%; left: 40%;,2398,top: 80%; left: 40%;,11269,top: 61%; left: 7.5%;,88529,...,top: 61%; left: 7.5%;,52529,top: 43%; left: 52%;,139942,top: 23%; left: 68%;,4-4-2 double 6,11289,2589,1,2-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168045,2731611,73338,top: 33%; left: 40%;,380338,top: 2%; left: 30%;,277221,top: 80%; left: 40%;,89933,top: 62%; left: 40%;,172541,...,top: 61%; left: 73%;,214273,top: 18%; left: 15%;,15117,top: 43%; left: 28%;,4-2-3-1,8542,16950,0,1-1
168046,2771369,89086,top: 18%; left: 65%;,92180,top: 18%; left: 15%;,126360,top: 80%; left: 40%;,44136,top: 63%; left: 28%;,56036,...,top: 18%; left: 15%;,57402,top: 43%; left: 28%;,15083,top: 61%; left: 7.5%;,4-2-3-1,41333,16704,1,2-1
168047,2746560,39800,top: 3%; left: 40%;,284646,top: 10%; left: 65%;,160824,top: 80%; left: 40%;,22209,top: 63%; left: 28%;,38648,...,top: 28%; left: 27%;,354725,top: 10%; left: 15%;,340445,top: 39%; left: 40%;,4-3-3 off.,29498,1104,0,1-1
168048,2697638,102132,top: 2%; left: 30%;,174001,top: 2%; left: 50%;,69306,top: 80%; left: 40%;,119533,top: 61%; left: 7.5%;,37227,...,top: 42%; left: 65%;,253316,top: 42%; left: 40%;,256186,top: 22%; left: 40%;,4-3-1-2,1145,206,1,3-1
168049,2746562,85009,top: 10%; left: 15%;,191183,top: 3%; left: 40%;,163315,top: 80%; left: 40%;,167877,top: 63%; left: 28%;,56605,...,top: 43%; left: 28%;,383876,top: 23%; left: 40%;,363177,top: 18%; left: 15%;,4-2-3-1,19718,8373,1,1-0
168050,2707292,27235,top: 18%; left: 15%;,61505,top: 3%; left: 40%;,24515,top: 80%; left: 40%;,144143,top: 61%; left: 73%;,54512,...,top: 43%; left: 28%;,8480,top: 23%; left: 40%;,176906,top: 18%; left: 15%;,4-2-3-1,23173,759,2,0-4
168051,2732119,164913,top: 43%; left: 28%;,45161,top: 3%; left: 40%;,42531,top: 80%; left: 40%;,198394,top: 63%; left: 28%;,19312,...,top: 18%; left: 15%;,159622,top: 43%; left: 52%;,111039,top: 23%; left: 40%;,4-2-3-1,1299,3057,1,4-1
168052,2717250,74944,top: 18%; left: 65%;,74715,top: 43%; left: 28%;,361001,top: 80%; left: 40%;,140944,top: 61%; left: 73%;,74975,...,top: 63%; left: 52.5%;,135883,top: 23%; left: 40%;,147113,top: 18%; left: 65%;,4-2-3-1,34248,365,1,3-0
168053,2697633,264423,top: 3%; left: 40%;,271098,top: 23%; left: 40%;,95738,top: 80%; left: 40%;,126610,top: 61%; left: 7.5%;,260840,...,top: 23%; left: 68%;,22176,top: 43%; left: 28%;,37527,top: 2%; left: 30%;,4-4-2 double 6,4028,1063,0,2-2
168054,2698163,133179,top: 23%; left: 30%;,18644,top: 3%; left: 40%;,7589,top: 80%; left: 40%;,32522,top: 61%; left: 73%;,215118,...,top: 43%; left: 52%;,56872,top: 43%; left: 28%;,171424,top: 23%; left: 68%;,4-4-2 double 6,456,1003,0,2-2
168055,2697634,188131,top: 2%; left: 30%;,188180,top: 2%; left: 50%;,75458,top: 80%; left: 40%;,146889,top: 61%; left: 73%;,170646,...,top: 43%; left: 28%;,22474,top: 43%; left: 52%;,201139,top: 18%; left: 65%;,4-2-3-1,24490,369,2,0-1
168056,2697637,257366,top: 10%; left: 15%;,269878,top: 3%; left: 40%;,241389,top: 80%; left: 40%;,253664,top: 61%; left: 73%;,253206,...,top: 23%; left: 68%;,148365,top: 23%; left: 12%;,97241,top: 43%; left: 28%;,4-4-2 double 6,4149,3426,0,2-2
168057,2794224,142738,top: 43%; left: 28%;,94855,top: 3%; left: 40%;,94507,top: 80%; left: 40%;,82562,top: 63%; left: 28%;,214810,...,top: 10%; left: 65%;,224672,top: 39%; left: 40%;,102784,top: 28%; left: 53%;,4-3-3 off.,5622,11622,1,1-0
168058,2771368,43261,top: 3%; left: 40%;,63170,top: 18%; left: 65%;,62514,top: 80%; left: 40%;,49589,top: 61%; left: 73%;,375755,...,top: 33%; left: 40%;,44318,top: 25%; left: 68%;,45858,top: 29%; left: 26%;,3-5-2 off.,32335,1083,1,2-0
168059,2730300,59772,top: 23%; left: 40%;,199855,top: 3%; left: 40%;,37061,top: 80%; left: 40%;,123765,top: 61%; left: 73%;,42642,...,top: 43%; left: 52%;,217879,top: 43%; left: 28%;,21101,top: 18%; left: 65%;,4-2-3-1,2724,941,1,2-0
168060,2764510,133668,top: 18%; left: 65%;,111995,top: 3%; left: 40%;,51161,top: 80%; left: 40%;,58312,top: 61%; left: 73%;,19638,...,top: 28%; left: 27%;,197622,top: 10%; left: 65%;,5336,top: 61%; left: 7.5%;,4-3-3 off.,1332,6418,2,2-3
168061,2722694,22382,top: 2%; left: 30%;,4380,top: 2%; left: 50%;,7079,top: 80%; left: 40%;,55605,top: 61%; left: 7.5%;,48859,...,top: 43%; left: 52%;,124422,top: 43%; left: 28%;,248219,top: 2%; left: 50%;,4-4-2 double 6,801,126,2,1-5
168062,2698183,62049,top: 32%; left: 68%;,3306,top: 3%; left: 40%;,13460,top: 80%; left: 40%;,3881,top: 62%; left: 40%;,112052,...,top: 43%; left: 28%;,63494,top: 23%; left: 12%;,112302,top: 43%; left: 52%;,5-4-1 flat,1933,1010,2,0-1
168063,2794218,77928,top: 28%; left: 27%;,312151,top: 10%; left: 15%;,72671,top: 80%; left: 40%;,330684,top: 63%; left: 28%;,250004,...,top: 43%; left: 52%;,436032,top: 43%; left: 30%;,196037,top: 20%; left: 50%;,3-1-4-2,45713,17974,2,1-3
168064,2700522,45881,top: 2%; left: 50%;,23934,top: 2%; left: 30%;,147051,top: 80%; left: 40%;,203115,top: 61%; left: 7.5%;,183321,...,top: 43%; left: 40%;,207561,top: 23%; left: 30%;,61487,top: 18%; left: 15%;,3-1-4-2,17687,527,2,1-2
168065,2702772,39924,top: 10%; left: 65%;,23952,top: 3%; left: 40%;,53306,top: 80%; left: 40%;,205497,top: 61%; left: 7.5%;,109720,...,top: 43%; left: 52%;,174094,top: 10%; left: 65%;,37157,top: 10%; left: 15%;,4-3-3 def.,2679,969,0,0-0
168066,2746176,149160,top: 2%; left: 30%;,245075,top: 2%; left: 50%;,338297,top: 80%; left: 40%;,112046,top: 61%; left: 73%;,139298,...,top: 36%; left: 40%;,40482,top: 33%; left: 25%;,162939,top: 2%; left: 50%;,3-5-2 flat,17354,21474,0,1-1
168067,2698150,37647,top: 2%; left: 50%;,120610,top: 2%; left: 30%;,51321,top: 80%; left: 40%;,12691,top: 62%; left: 40%;,92571,...,top: 18%; left: 65%;,44068,top: 23%; left: 40%;,122153,top: 43%; left: 52%;,4-2-3-1,781,985,0,1-1
168068,2746179,167687,top: 10%; left: 15%;,85276,top: 3%; left: 40%;,282333,top: 80%; left: 40%;,331199,top: 61%; left: 7.5%;,199916,...,top: 42%; left: 65%;,163168,top: 42%; left: 40%;,106651,top: 2%; left: 30%;,4-3-1-2,20739,5621,1,1-0
168069,2719223,19335,top: 63%; left: 52.5%;,125177,top: 43%; left: 28%;,67365,top: 80%; left: 40%;,104919,top: 61%; left: 7.5%;,45283,...,top: 10%; left: 65%;,131047,top: 3%; left: 40%;,194058,top: 32%; left: 68%;,3-4-3 flat,8904,2540,0,1-1
168070,2717249,184948,top: 3%; left: 40%;,464800,top: 10%; left: 65%;,90307,top: 80%; left: 40%;,74712,top: 63%; left: 28%;,232390,...,top: 18%; left: 65%;,41367,top: 23%; left: 40%;,90872,top: 18%; left: 15%;,4-2-3-1,24893,7087,0,3-3
168071,2702780,146805,top: 10%; left: 15%;,59957,top: 3%; left: 40%;,81543,top: 80%; left: 40%;,154199,top: 63%; left: 28%;,120651,...,top: 22%; left: 40%;,33847,top: 10%; left: 15%;,52112,top: 43%; left: 28%;,4-3-3 def.,1541,347,0,3-3
168072,2736451,142252,top: 2%; left: 30%;,75794,top: 2%; left: 50%;,143581,top: 80%; left: 40%;,108831,top: 61%; left: 7.5%;,133227,...,top: 35%; left: 55%;,228865,top: 25%; left: 12%;,153132,top: 35%; left: 25%;,4-5-1,27771,22821,2,0-2
168073,2736423,247588,top: 3%; left: 40%;,77441,top: 10%; left: 15%;,123357,top: 80%; left: 40%;,462943,top: 63%; left: 28%;,463336,...,top: 18%; left: 15%;,122666,top: 18%; left: 65%;,159947,top: 43%; left: 40%;,4-1-4-1,3923,581,1,3-0
168074,2746174,114677,top: 3%; left: 40%;,57653,top: 10%; left: 65%;,272357,top: 80%; left: 40%;,139555,top: 61%; left: 73%;,19438,...,top: 28%; left: 27%;,127230,top: 39%; left: 40%;,136100,top: 10%; left: 15%;,4-3-3 off.,2124,1388,1,2-1

In [5]:
a=[]
b=[]
for k in range(1,12):
    a.append('home%s_id' %k)
    a.append('home%s_pos' %k)
    a.append('away%s_id' %k)
    a.append('away%s_pos' %k)
    b.append('home%s_id' %k)

def stringtoint(a):
    if type(a)==str:
        a=a.replace(';','')
        a=a.replace(' ','')
        a=a.replace(',','')
        a=a.replace('.','')
    try:
        a=int(a)
    except:
        a=float('nan')
    
    return a

In [11]:
m_i_df[b]#.sort_values('home_team')

,home1_id,home2_id,home3_id,home4_id,home5_id,home6_id,home7_id,home8_id,home9_id,home10_id,home11_id
0,16408,261611,6750,169052,125251,129893,108484,240306,40428,6031,29316
1,3612,19354,26485,35208,38434,31469,35872,39743,38267,16474,31173
2,73472,141655,118534,110798,141650,118535,122153,128262,42413,62049,61887
3,18971,57966,11583,57101,2169,3993,48633,85927,39998,31968,48547
4,91931,57987,101304,58000,248934,25758,58949,22378,24049,97567,59908
5,104220,45685,134636,153664,77812,138091,87650,89654,84425,5036,164265
6,67797,85302,29678,21086,33569,34531,90970,53556,7153,10364,49838
7,16693,138409,33794,35029,7072,39711,74648,44992,5628,15821,66405
8,85339,37722,7005,10504,39564,44608,85783,21494,56372,31867,51350
9,22109,7152,138476,14514,47310,30846,5516,80696,8539,46658,6924
10,16816,7345,21354,55839,76176,40500,16955,56386,13389,52979,3531
11,26727,58829,55605,9621,51100,37713,52585,56518,137616,55619,7394
12,160954,196832,153184,153198,49032,148091,217593,196836,93552,123189,82367
13,50970,129314,50951,147632,50950,50972,142008,31436,108825,170016,240280
14,29903,195954,102382,89658,119286,31874,85908,50782,124441,89010,46179
15,108390,42710,54928,21725,16635,34601,74229,4248,33448,37337,7980
16,260677,149652,183260,9915,25542,17352,134618,9934,280387,16402,192774
17,68030,171062,289875,147501,128054,148344,46017,27410,3730,51497,203123
18,165435,56621,129642,109717,122722,147037,183446,183312,191486,165891,181882
19,260677,330031,9915,25542,247459,17352,134618,9934,280387,16402,317583
20,4769,122695,17885,237666,192539,48119,86788,195051,68004,111430,74075
21,147027,169841,46420,22088,33351,129604,107790,102409,151658,252875,176130
22,4914,87268,9819,159299,20093,192638,41113,3391,52556,171820,21625
23,2856,41767,47408,192655,41207,30125,114038,119032,107784,68655,38007
24,64000,265127,51346,34542,70209,34453,8886,238056,194638,113125,75287
25,147051,62854,4843,34520,4793,194975,82461,36080,334526,147043,186260
26,16748,28833,6028,17173,17174,6033,28841,6022,6405,6029,6020
27,35866,6014,22757,22288,22095,21916,22749,16897,22277,22268,22273
28,8266,18531,29864,82112,17443,33416,2624,85961,20258,33956,29972
29,169374,52066,14878,79268,101168,80799,38040,52529,139942,45754,2768
...,...,...,...,...,...,...,...,...,...,...,...
168045,146918,264140,183150,181190,194947,332242,378820,214273,15117,235341,243805
168046,106196,29213,42401,148666,159957,9645,73783,57402,15083,72458,50355
168047,127217,285091,130349,130399,24314,222502,163073,354725,340445,239583,192118
168048,107775,167794,187147,140678,116272,135209,146155,253316,256186,46972,78590
168049,130388,240082,370991,250781,21999,140431,140318,383876,363177,140423,108541
168050,34417,168674,29509,255085,222332,33430,31027,8480,176906,29809,324147
168051,129585,250638,168159,121570,153582,160380,237846,159622,111039,260806,64535
168052,258267,90869,74701,80903,155577,193785,74951,135883,147113,74950,424058
168053,68847,161368,22920,143101,94295,265671,15039,22176,37527,79989,78753
168054,21327,6636,2998,10003,37442,61560,214056,56872,171424,79642,197838
168055,22860,222977,103327,283225,23582,189044,68973,22474,201139,91225,51349
168056,20850,288549,22487,293324,57727,20852,255729,148365,97241,89188,77314
168057,72975,195002,87360,267549,335677,126239,265982,224672,102784,265236,456514
168058,59209,31068,48634,100160,29056,84483,5245,44318,45858,180337,98539
168059,21053,96047,24667,16090,62794,70153,186380,217879,21101,62570,178469
168060,34284,12953,238856,16682,55512,12872,77832,197622,5336,36119,237641
168061,126681,263903,217656,170239,134629,52269,96798,124422,248219,80697,157588
168062,19059,76799,41112,60744,27114,37981,21905,63494,112302,55619,65477
168063,84462,72972,279380,94513,94877,72673,135139,436032,196037,325696,248637
168064,284695,56621,129642,122722,147037,183446,183312,207561,61487,165891,181882
168065,5686,22386,127128,4811,127076,77826,93726,174094,37157,290587,238639
168066,278586,148852,101956,21188,336925,240487,140110,40482,162939,85075,43895
168067,59377,54906,117996,93176,33544,99343,141660,44068,122153,3455,258923
168068,240675,130352,324214,241040,38641,164545,136091,163168,106651,240206,61717
168069,88453,265301,105719,50858,11308,118090,45733,131047,194058,139142,72998
168070,381477,90941,315441,41372,74947,252712,251916,41367,90872,92182,74945
168071,182891,18310,85295,24661,170927,129679,12508,33847,52112,205587,344888
168072,146265,108829,136752,122602,293030,159334,151519,228865,153132,81943,441679
168073,122489,69098,415679,172019,169399,177663,45566,122666,159947,316072,210051
168074,96851,90233,200653,140120,75613,132801,334952,127230,136100,198084,353173

In [12]:
m_i_df[['home_formation','away_formation']].unstack().value_counts().index[0]

'4-2-3-1'

In [13]:
m_i_df[['away10_id','away11_id','away1_id','away2_id','away3_id','away4_id','away5_id','away6_id','away7_id','away8_id','away9_id','home10_id','home11_id','home1_id','home2_id','home3_id','home4_id','home5_id','home6_id','home7_id','home8_id','home9_id']].unstack().value_counts()

2219      609
2514      516
17259     514
10        510
27513     501
6710      496
8198      464
3979      462
61885     457
77        451
23951     442
25557     436
27520     433
27796     431
17965     426
26        415
89        415
3332      413
28003     411
79531     409
1662      401
27765     399
5285      397
58358     395
2963      390
27521     388
35664     388
77388     387
6020      387
27799     382
         ...
453850      1
44060       1
123957      1
287878      1
105529      1
208780      1
16703       1
239938      1
281731      1
279682      1
211280      1
285825      1
196951      1
221531      1
205934      1
192873      1
89121       1
285826      1
87072       1
391560      1
33818       1
7177        1
336275      1
400586      1
349347      1
293304      1
312465      1
271501      1
267403      1
361223      1
Length: 141746, dtype: int64

In [14]:
#number-of-players-with-no-games
#player-with-highest-number-of-games

In [15]:
hanymeccs=m_i_df[['away10_id','away11_id','away1_id','away2_id','away3_id','away4_id','away5_id','away6_id','away7_id','away8_id','away9_id','home10_id','home11_id','home1_id','home2_id','home3_id','home4_id','home5_id','home6_id','home7_id','home8_id','home9_id']].unstack().value_counts().sort_index()

#player-with-highest-number-of-games
hanymeccs.sort_values(ascending=False).index[0]

2219

In [16]:
osszesjatekos=p_i_df.sort_values(by='playerid')
osszesjatekos

               dob height  playerid
0       1980-09-23    170         1
1       1968-12-18    186         2
2       1967-12-29    180         3
3       1968-03-09    179         4
4       1973-05-17    191         5
5       1973-08-06    181         6
6       1978-07-08    179         7
7       1973-07-29    192         8
9       1978-06-09    184        10
10      1972-02-03    191        11
11      1969-11-15    184        12
12      1971-01-02    188        13
13      1973-09-27    192        14
8603    1966-03-19    186        15
9029    1975-09-29    179        16
16      1969-03-10    185        17
17      1971-06-08    171        18
18      1977-12-30    183        19
20      1967-01-19    191        22
21      1981-07-09    184        23
22      1974-10-05    190        24
23      1973-08-08    194        25
24      1980-08-06    188        26
25      1974-09-15    186        27
26      1970-11-24    182        28
27      1979-08-28    187        29
28      1973-02-22    180        30
29      1970-08-25    196        31
30      1973-10-11    179        32
31      1975-11-24    186        33
...            ...    ...       ...
120733  2000-01-18    NaN    471092
120734  2000-06-22    NaN    471093
119266  2000-01-10    NaN    471095
120737  1996-04-21    NaN    471098
138575  1987-10-13    NaN    471100
120740  1989-07-12    NaN    471104
120741  1988-02-25    NaN    471105
138836  1998-05-26    NaN    471123
120754  2001-12-20    NaN    471158
120827  1995-09-07    NaN    471362
120829  1995-01-01    NaN    471366
119992  1987-12-28    NaN    471422
119998  1993-02-20    NaN    471423
125388  1993-12-08    NaN    471424
120878  2000-01-01    NaN    471475
120880         NaN    NaN    471478
120883  2000-05-21    NaN    471496
120904  1997-01-01    NaN    471625
114755  1998-01-01    NaN    471626
120487  1998-05-07    NaN    471643
120937         NaN    NaN    471685
120971  1994-03-05    NaN    471778
120974  1998-04-14    NaN    471782
120975  1998-03-27    NaN    471783
120938  1994-08-08    NaN    471831
121016  1998-01-01    NaN    471906
121017  1990-01-01    NaN    471907
12044   1990-01-01    NaN    471915
121028         NaN    NaN    471931
121432  1991-10-10    NaN    472058

[141673 rows x 3 columns]

In [17]:
nemjatszott=0
for i in range(len(osszesjatekos)):
    if int(osszesjatekos.iloc[i,2]) not in hanymeccs.index:
        nemjatszott+=1

In [18]:
#number-of-players-with-no-games
nemjatszott

227

player-with-highest-number-of-games-where-his-team-didnt-concede - nem kapott gólt a csapat - kész

most-games-played-in-same-position-by-player - kész 

most-different-positions-by-player - kész

most-different-formations-by-player - kész

largest-odds-overcome-in-game - kész
legnagyobb olyan beteljesült odds ami nem döntetlen. (csak azok közül a meccsek közül ami az input adatbázisban szerepelnek)

largest-height-difference-overcome-in-game - M_I_DF-BŐL HOME&AWAY ID + MKEY + PIDF-BŐL HEIGHT - PLAYERID KÖTI ÖSSZE
csapatok átlagmagassága közötti különbség


longest-time-in-days-between-two-games-for-player - PD.DATETIME + MIDF SORBARAKVA DATE ALAPJÁN + TIMESTAMP MIN MEGKERESNI ÉS ÁTSZÁMOLNI NAPOKRA + FELTÉTEL: VALAMELYIK PLAYER ID EGYEZZEN 

biggest-value-difference - AVERAGE HEIGHT + TEAM IDK + P_V_DF + MIDF CSAPATOK ALAPJÁN MECCSENKÉNTI ÉRTÉKKÜLÖNBSÉG
csapatok összesített játékos-értéke közötti különbség

biggest-value-difference-upset # an upset means the unexpected team won - P_V_DF + MIDF CSAPATOK ALAPJÁN MECCSENKÉNTI ÉRTÉKKÜLÖNBSÉG - FELTÉTEL: A NAGYOBB ODDSAL RENDELKEZŐ CSAPAT NYER

biggest-value-difference-with-higher-odds - SKIP
legnagyobb játékos-érték beli különbség, ahol az értékesebb csapatra van nagyobb odds

biggest-stadium-capacity-difference-upset - TIDF + MIDF MATCHING TEAM ID ALAPJÁN
kisebb stadionú csapat nyert


capacity-of-stadium-of-team-with-most-games - MIDF + TIDF 

id-of-oldest-team-to-win-a-game - M_O_DF + M_I_DF + T_I_DF MODF BŐL DATETIME LEGRÉGEBBI MECCSEK, ÖSSZEMATCHELÉSE A TIDF-EL HOGY LEGYEN TEAM ID, MAJD ÖSSZEMATCHELÉSE AZ MIDF-EL HOGY LÁSSUK CSAPATONKÉNT A LEGÚJABB ÉS LEGRÉGEBBI MECCSEK KÖZTI KÜLÖNBSÉGET
a győztes meccs idején hány éves volt?
igen, nyilván a kor mindig a meccs időpontjában értelmezendő

biggest-age-difference-between-teams-match-id - SKIP

median-of-winning-team-average-age - M_I_DF + P_I_DF + PD.DATETIME

median-of-favorite-team-average-age - MIDF + PIDF + MODF + PD.DATETIME
#favorite means has lower odds of winning

median-of-underdog-team-average-age  - MIDF + PIDF + MODF + PD.DATETIME
#underdog means has higher odds of winning

team-with-most-wins-as-underdog - M_O_DF

team-with-most-losses-as-favorite - MODF

team-with-lowest-average-odds-of-draw - MODF

position-with-highest-average-value - AVERAGE HEIGHT + P_V_DF PLAYERID ALAPJÁN, IDŐPONTONKÉNT GROUPBYOLNI A POZICIÓK ALAPJÁN A JÁTÉKOSOK ÉRTÉKÉT

position-with-largest-average-height - kész

position-with-youngest-average-age - AVERAGE HEIGHT + PD.DATETIME TIMESTAMP

In [19]:
#player-with-highest-number-of-games-where-his-team-didnt-concede - nem kapott gólt a csapat
m_i_df[['score']].unstack().value_counts()

1-1      18431
1-0      16805
2-1      14206
0-1      12569
0-0      12388
2-0      12367
1-2      10817
2-2       7887
0-2       7868
3-1       7192
3-0       6993
1-3       4698
3-2       4204
0-3       3801
2-3       3388
4-0       3219
4-1       3026
1-4       1751
4-2       1720
0-4       1578
3-3       1535
5-0       1294
2-4       1232
5-1       1096
4-3        686
0-5        614
5-2        575
1-5        565
3-4        557
6-0        502
         ...
8-5          2
10-2         2
15-14        2
0-15         2
10-1         2
1-12         2
8-4          2
4-8          2
11-1         2
8-10         1
1-11         1
12-2         1
16-15        1
9-6          1
2-11         1
7-7          1
11-3         1
10-3         1
3-10         1
13-12        1
12-11        1
0-14         1
13-14        1
15-0         1
3-9          1
18-19        1
5-8          1
3-8          1
17-0         1
7-9          1
Length: 125, dtype: int64

In [8]:
nemnulla=[]
#for i, rows in m_i_df.iterrows():
#    nemnulla.append(m_i_df.loc[i,'score'].split('-'))

In [6]:
m_i_df['score_away'] = m_i_df['score'].str.split('-').str[0]
m_i_df['score_home'] = m_i_df['score'].str.split('-').str[1]
m_i_df

,mkey,away10_id,away10_pos,away11_id,away11_pos,away1_id,away1_pos,away2_id,away2_pos,away3_id,...,home8_pos,home9_id,home9_pos,home_formation,home_manager,home_team,result,score,score_away,score_home
0,2604022,45146,top: 2%; left: 30%;,66521,top: 22%; left: 40%;,34370,top: 80%; left: 40%;,262523,top: 61%; left: 73%;,88682,...,top: 36%; left: 40%;,40428,top: 33%; left: 25%;,3-5-2 flat,2127,410,2,2-3,2,3
1,948786,113974,top: 80%; left: 40%;,113979,top: 61%; left: 7.5%;,59373,top: 61%; left: 73%;,57628,top: 63%; left: 28%;,68152,...,top: 3%; left: 40%;,38267,top: 63%; left: 28%;,4-2-3-1,97,3817,0,1-1,1,1
2,1134605,88983,top: 2%; left: 30%;,143219,top: 2%; left: 50%;,45601,top: 80%; left: 40%;,145922,top: 61%; left: 73%;,128912,...,top: 63%; left: 52.5%;,42413,top: 43%; left: 28%;,4-2-3-1,3866,9251,1,4-0,4,0
3,2463048,58030,top: 18%; left: 65%;,78147,top: 3%; left: 40%;,93763,top: 80%; left: 40%;,56112,top: 43%; left: 40%;,45677,...,top: 43%; left: 52%;,39998,top: 23%; left: 68%;,4-4-2 double 6,433,269,1,1-0,1,0
4,2547389,183120,top: 23%; left: 40%;,42393,top: 3%; left: 40%;,128969,top: 80%; left: 40%;,110668,top: 61%; left: 7.5%;,19312,...,top: 61%; left: 7.5%;,24049,top: 43%; left: 52%;,4-2-3-1,5191,339,1,1-0,1,0
5,2463041,41118,top: 63%; left: 52.5%;,18296,top: 3%; left: 40%;,89649,top: 80%; left: 40%;,31608,top: 63%; left: 28%;,83415,...,top: 23%; left: 40%;,84425,top: 18%; left: 15%;,4-2-3-1,6092,17,0,1-1,1,1
6,1143249,6053,top: 2%; left: 50%;,33570,top: 2%; left: 30%;,27539,top: 80%; left: 40%;,58816,top: 61%; left: 73%;,58821,...,top: 25%; left: 12%;,7153,top: 35%; left: 25%;,4-5-1,789,2381,2,0-4,0,4
7,1143248,16499,top: 18%; left: 65%;,174984,top: 3%; left: 40%;,14555,top: 80%; left: 40%;,44996,top: 63%; left: 28%;,16353,...,top: 43%; left: 52%;,5628,top: 10%; left: 15%;,4-3-3 def.,806,3216,2,1-3,1,3
8,1143245,37091,top: 2%; left: 30%;,38768,top: 2%; left: 50%;,28124,top: 80%; left: 40%;,4873,top: 63%; left: 28%;,7402,...,top: 28%; left: 53%;,56372,top: 10%; left: 65%;,4-3-3 off.,2043,820,1,2-1,2,1
9,1143247,36873,top: 18%; left: 15%;,33833,top: 3%; left: 40%;,7110,top: 80%; left: 40%;,16698,top: 61%; left: 73%;,27280,...,top: 43%; left: 52%;,8539,top: 43%; left: 28%;,4-4-2 double 6,5199,2323,1,1-0,1,0
10,1143246,109217,top: 18%; left: 65%;,16589,top: 3%; left: 40%;,15448,top: 80%; left: 40%;,7445,top: 63%; left: 28%;,8680,...,top: 18%; left: 65%;,13389,top: 43%; left: 28%;,4-2-3-1,2332,449,2,0-1,0,1
11,1143243,33796,top: 28%; left: 27%;,6949,top: 3%; left: 40%;,7249,top: 80%; left: 40%;,755,top: 63%; left: 28%;,68523,...,top: 10%; left: 65%;,137616,top: 43%; left: 28%;,4-3-3 def.,7849,3205,2,0-1,0,1
12,2463042,17134,top: 63%; left: 52.5%;,159928,top: 3%; left: 40%;,124497,top: 80%; left: 40%;,60006,top: 43%; left: 28%;,60007,...,top: 18%; left: 65%;,93552,top: 43%; left: 28%;,4-2-3-1,15119,851,1,1-0,1,0
13,2239764,144310,top: 43%; left: 28%;,54022,top: 2%; left: 30%;,51048,top: 80%; left: 40%;,70833,top: 43%; left: 52%;,121208,...,top: 2%; left: 30%;,108825,top: 61%; left: 73%;,4-4-2,6210,6711,0,0-0,0,0
14,2463045,51309,top: 10%; left: 65%;,50674,top: 3%; left: 40%;,153772,top: 80%; left: 40%;,59994,top: 61%; left: 7.5%;,58061,...,top: 18%; left: 65%;,124441,top: 18%; left: 15%;,4-1-4-1,340,129,0,1-1,1,1
15,2341280,188854,top: 23%; left: 40%;,23966,top: 3%; left: 40%;,51710,top: 80%; left: 40%;,149498,top: 63%; left: 28%;,73250,...,top: 23%; left: 40%;,33448,top: 18%; left: 15%;,4-2-3-1,2868,13,1,1-0,1,0
16,2698728,192655,top: 3%; left: 40%;,52731,top: 20%; left: 50%;,2856,top: 80%; left: 40%;,119032,top: 34%; left: 15%;,41767,...,top: 39%; left: 40%;,280387,top: 28%; left: 27%;,4-3-3 off.,472,321,1,3-1,3,1
17,2698729,147043,top: 2%; left: 30%;,186260,top: 2%; left: 50%;,147051,top: 80%; left: 40%;,62854,top: 61%; left: 7.5%;,4843,...,top: 18%; left: 15%;,3730,top: 43%; left: 52%;,4-2-3-1,6517,504,1,4-1,4,1
18,2698724,192655,top: 2%; left: 50%;,52731,top: 25%; left: 68%;,2856,top: 80%; left: 40%;,119032,top: 61%; left: 7.5%;,166375,...,top: 0%; left: 10%;,191486,top: 18%; left: 65%;,3-1-4-2,17687,527,1,5-0,5,0
19,2698725,250490,top: 18%; left: 15%;,154635,top: 3%; left: 40%;,32750,top: 80%; left: 40%;,165732,top: 18%; left: 65%;,172192,...,top: 39%; left: 40%;,280387,top: 28%; left: 27%;,4-3-3 off.,472,321,1,1-0,1,0
20,2698726,189410,top: 10%; left: 15%;,176130,top: 3%; left: 40%;,147027,top: 80%; left: 40%;,169841,top: 63%; left: 28%;,46420,...,top: 43%; left: 52%;,68004,top: 43%; left: 28%;,4-2-3-1,2503,257,2,0-2,0,2
21,2698727,165891,top: 3%; left: 40%;,74532,top: 20%; left: 30%;,165435,top: 80%; left: 40%;,56621,top: 62%; left: 40%;,129642,...,top: 39%; left: 40%;,151658,top: 28%; left: 53%;,4-3-3 off.,28335,2790,0,1-1,1,1
22,2698720,250490,top: 18%; left: 65%;,154635,top: 3%; left: 40%;,32750,top: 80%; left: 40%;,172192,top: 63%; left: 28%;,79392,...,top: 35%; left: 27%;,52556,top: 25%; left: 68%;,4-4-2,4487,434,1,3-0,3,0
23,2698721,68004,top: 43%; left: 28%;,195051,top: 43%; left: 52%;,4769,top: 80%; left: 40%;,122695,top: 63%; left: 28%;,74075,...,top: 61%; left: 7.5%;,107784,top: 18%; left: 15%;,4-1-4-1,2808,163,1,2-0,2,0
24,2698722,51497,top: 18%; left: 65%;,203123,top: 3%; left: 40%;,68030,top: 80%; left: 40%;,289875,top: 63%; left: 28%;,147501,...,top: 43%; left: 52%;,194638,top: 18%; left: 15%;,4-2-3-1,5965,26,1,3-1,3,1
25,2698723,243856,top: 2%; left: 50%;,21625,top: 2%; left: 30%;,4914,top: 80%; left: 40%;,9819,top: 63%; left: 52.5%;,159299,...,top: 23%; left: 12%;,334526,top: 43%; left: 28%;,4-4-2 double 6,5018,452,1,2-1,2,1
26,30462,23364,top: 43%; left: 30%;,23345,top: 23%; left: 40%;,6034,top: 80%; left: 40%;,23351,top: 63%; left: 28%;,23357,...,top: 22%; left: 40%;,6405,top: 42%; left: 40%;,4-3-1-2,2133,749,2,0-1,0,1
27,30465,22119,top: 2%; left: 50%;,28847,top: 2%; left: 30%;,22149,top: 80%; left: 40%;,5992,top: 61%; left: 56.5%;,22103,...,top: 10%; left: 65%;,22277,top: 35%; left: 30%;,3-4-3 flat,2138,2921,0,2-2,2,2
28,2462903,76657,top: 43%; left: 40%;,17902,top: 3%; left: 40%;,2053,top: 80%; left: 40%;,45679,top: 61%; left: 7.5%;,31608,...,top: 61%; left: 73%;,20258,top: 23%; left: 12%;,4-4-2 double 6,1155,91,2,3-4,3,4
29,2462902,20282,top: 18%; left: 15%;,42908,top: 3%; left: 40%;,2398,top: 80%; left: 40%;,11269,top: 61%; left: 7.5%;,88529,...,top: 43%; left: 52%;,139942,top: 23%; left: 68%;,4-4-2 double 6,11289,2589,1,2-1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168045,2731611,73338,top: 33%; left: 40%;,380338,top: 2%; left: 30%;,277221,top: 80%; left: 40%;,89933,top: 62%; left: 40%;,172541,...,top: 18%; left: 15%;,15117,top: 43%; left: 28%;,4-2-3-1,8542,16950,0,1-1,1,1
168046,2771369,89086,top: 18%; left: 65%;,92180,top: 18%; left: 15%;,126360,top: 80%; left: 40%;,44136,top: 63%; left: 28%;,56036,...,top: 43%; left: 28%;,15083,top: 61%; left: 7.5%;,4-2-3-1,41333,16704,1,2-1,2,1
168047,2746560,39800,top: 3%; left: 40%;,284646,top: 10%; left: 65%;,160824,top: 80%; left: 40%;,22209,top: 63%; left: 28%;,38648,...,top: 10%; left: 15%;,340445,top: 39%; left: 40%;,4-3-3 off.,29498,1104,0,1-1,1,1
168048,2697638,102132,top: 2%; left: 30%;,174001,top: 2%; left: 50%;,69306,top: 80%; left: 40%;,119533,top: 61%; left: 7.5%;,37227,...,top: 42%; left: 40%;,256186,top: 22%; left: 40%;,4-3-1-2,1145,206,1,3-1,3,1
168049,2746562,85009,top: 10%; left: 15%;,191183,top: 3%; left: 40%;,163315,top: 80%; left: 40%;,167877,top: 63%; left: 28%;,56605,...,top: 23%; left: 40%;,363177,top: 18%; left: 15%;,4-2-3-1,19718,8373,1,1-0,1,0
168050,2707292,27235,top: 18%; left: 15%;,61505,top: 3%; left: 40%;,24515,top: 80%; left: 40%;,144143,top: 61%; left: 73%;,54512,...,top: 23%; left: 40%;,176906,top: 18%; left: 15%;,4-2-3-1,23173,759,2,0-4,0,4
168051,2732119,164913,top: 43%; left: 28%;,45161,top: 3%; left: 40%;,42531,top: 80%; left: 40%;,198394,top: 63%; left: 28%;,19312,...,top: 43%; left: 52%;,111039,top: 23%; left: 40%;,4-2-3-1,1299,3057,1,4-1,4,1
168052,2717250,74944,top: 18%; left: 65%;,74715,top: 43%; left: 28%;,361001,top: 80%; left: 40%;,140944,top: 61%; left: 73%;,74975,...,top: 23%; left: 40%;,147113,top: 18%; left: 65%;,4-2-3-1,34248,365,1,3-0,3,0
168053,2697633,264423,top: 3%; left: 40%;,271098,top: 23%; left: 40%;,95738,top: 80%; left: 40%;,126610,top: 61%; left: 7.5%;,260840,...,top: 43%; left: 28%;,37527,top: 2%; left: 30%;,4-4-2 double 6,4028,1063,0,2-2,2,2
168054,2698163,133179,top: 23%; left: 30%;,18644,top: 3%; left: 40%;,7589,top: 80%; left: 40%;,32522,top: 61%; left: 73%;,215118,...,top: 43%; left: 28%;,171424,top: 23%; left: 68%;,4-4-2 double 6,456,1003,0,2-2,2,2
168055,2697634,188131,top: 2%; left: 30%;,188180,top: 2%; left: 50%;,75458,top: 80%; left: 40%;,146889,top: 61%; left: 73%;,170646,...,top: 43%; left: 52%;,201139,top: 18%; left: 65%;,4-2-3-1,24490,369,2,0-1,0,1
168056,2697637,257366,top: 10%; left: 15%;,269878,top: 3%; left: 40%;,241389,top: 80%; left: 40%;,253664,top: 61%; left: 73%;,253206,...,top: 23%; left: 12%;,97241,top: 43%; left: 28%;,4-4-2 double 6,4149,3426,0,2-2,2,2
168057,2794224,142738,top: 43%; left: 28%;,94855,top: 3%; left: 40%;,94507,top: 80%; left: 40%;,82562,top: 63%; left: 28%;,214810,...,top: 39%; left: 40%;,102784,top: 28%; left: 53%;,4-3-3 off.,5622,11622,1,1-0,1,0
168058,2771368,43261,top: 3%; left: 40%;,63170,top: 18%; left: 65%;,62514,top: 80%; left: 40%;,49589,top: 61%; left: 73%;,375755,...,top: 25%; left: 68%;,45858,top: 29%; left: 26%;,3-5-2 off.,32335,1083,1,2-0,2,0
168059,2730300,59772,top: 23%; left: 40%;,199855,top: 3%; left: 40%;,37061,top: 80%; left: 40%;,123765,top: 61%; left: 73%;,42642,...,top: 43%; left: 28%;,21101,top: 18%; left: 65%;,4-2-3-1,2724,941,1,2-0,2,0
168060,2764510,133668,top: 18%; left: 65%;,111995,top: 3%; left: 40%;,51161,top: 80%; left: 40%;,58312,top: 61%; left: 73%;,19638,...,top: 10%; left: 65%;,5336,top: 61%; left: 7.5%;,4-3-3 off.,1332,6418,2,2-3,2,3
168061,2722694,22382,top: 2%; left: 30%;,4380,top: 2%; left: 50%;,7079,top: 80%; left: 40%;,55605,top: 61%; left: 7.5%;,48859,...,top: 43%; left: 28%;,248219,top: 2%; left: 50%;,4-4-2 double 6,801,126,2,1-5,1,5
168062,2698183,62049,top: 32%; left: 68%;,3306,top: 3%; left: 40%;,13460,top: 80%; left: 40%;,3881,top: 62%; left: 40%;,112052,...,top: 23%; left: 12%;,112302,top: 43%; left: 52%;,5-4-1 flat,1933,1010,2,0-1,0,1
168063,2794218,77928,top: 28%; left: 27%;,312151,top: 10%; left: 15%;,72671,top: 80%; left: 40%;,330684,top: 63%; left: 28%;,250004,...,top: 43%; left: 30%;,196037,top: 20%; left: 50%;,3-1-4-2,45713,17974,2,1-3,1,3
168064,2700522,45881,top: 2%; left: 50%;,23934,top: 2%; left: 30%;,147051,top: 80%; left: 40%;,203115,top: 61%; left: 7.5%;,183321,...,top: 23%; left: 30%;,61487,top: 18%; left: 15%;,3-1-4-2,17687,527,2,1-2,1,2
168065,2702772,39924,top: 10%; left: 65%;,23952,top: 3%; left: 40%;,53306,top: 80%; left: 40%;,205497,top: 61%; left: 7.5%;,109720,...,top: 10%; left: 65%;,37157,top: 10%; left: 15%;,4-3-3 def.,2679,969,0,0-0,0,0
168066,2746176,149160,top: 2%; left: 30%;,245075,top: 2%; left: 50%;,338297,top: 80%; left: 40%;,112046,top: 61%; left: 73%;,139298,...,top: 33%; left: 25%;,162939,top: 2%; left: 50%;,3-5-2 flat,17354,21474,0,1-1,1,1
168067,2698150,37647,top: 2%; left: 50%;,120610,top: 2%; left: 30%;,51321,top: 80%; left: 40%;,12691,top: 62%; left: 40%;,92571,...,top: 23%; left: 40%;,122153,top: 43%; left: 52%;,4-2-3-1,781,985,0,1-1,1,1
168068,2746179,167687,top: 10%; left: 15%;,85276,top: 3%; left: 40%;,282333,top: 80%; left: 40%;,331199,top: 61%; left: 7.5%;,199916,...,top: 42%; left: 40%;,106651,top: 2%; left: 30%;,4-3-1-2,20739,5621,1,1-0,1,0
168069,2719223,19335,top: 63%; left: 52.5%;,125177,top: 43%; left: 28%;,67365,top: 80%; left: 40%;,104919,top: 61%; left: 7.5%;,45283,...,top: 3%; left: 40%;,194058,top: 32%; left: 68%;,3-4-3 flat,8904,2540,0,1-1,1,1
168070,2717249,184948,top: 3%; left: 40%;,464800,top: 10%; left: 65%;,90307,top: 80%; left: 40%;,74712,top: 63%; left: 28%;,232390,...,top: 23%; left: 40%;,90872,top: 18%; left: 15%;,4-2-3-1,24893,7087,0,3-3,3,3
168071,2702780,146805,top: 10%; left: 15%;,59957,top: 3%; left: 40%;,81543,top: 80%; left: 40%;,154199,top: 63%; left: 28%;,120651,...,top: 10%; left: 15%;,52112,top: 43%; left: 28%;,4-3-3 def.,1541,347,0,3-3,3,3
168072,2736451,142252,top: 2%; left: 30%;,75794,top: 2%; left: 50%;,143581,top: 80%; left: 40%;,108831,top: 61%; left: 7.5%;,133227,...,top: 25%; left: 12%;,153132,top: 35%; left: 25%;,4-5-1,27771,22821,2,0-2,0,2
168073,2736423,247588,top: 3%; left: 40%;,77441,top: 10%; left: 15%;,123357,top: 80%; left: 40%;,462943,top: 63%; left: 28%;,463336,...,top: 18%; left: 65%;,159947,top: 43%; left: 40%;,4-1-4-1,3923,581,1,3-0,3,0
168074,2746174,114677,top: 3%; left: 40%;,57653,top: 10%; left: 65%;,272357,top: 80%; left: 40%;,139555,top: 61%; left: 73%;,19438,...,top: 39%; left: 40%;,136100,top: 10%; left: 15%;,4-3-3 off.,2124,1388,1,2-1,2,1

In [9]:
nemnulla1=[]
nemnulla2=[]
for i in range(len(nemnulla)):
    nemnulla1.append(nemnulla[i][0])
    nemnulla2.append(nemnulla[i][1])

In [10]:
m_i_df['score0']=nemnulla1
m_i_df['score1']=nemnulla2

ValueError: Length of values does not match length of index

In [11]:
m_i_df

,mkey,away10_id,away10_pos,away11_id,away11_pos,away1_id,away1_pos,away2_id,away2_pos,away3_id,...,home8_pos,home9_id,home9_pos,home_formation,home_manager,home_team,result,score,score_away,score_home
0,2604022,45146,top: 2%; left: 30%;,66521,top: 22%; left: 40%;,34370,top: 80%; left: 40%;,262523,top: 61%; left: 73%;,88682,...,top: 36%; left: 40%;,40428,top: 33%; left: 25%;,3-5-2 flat,2127,410,2,2-3,2,3
1,948786,113974,top: 80%; left: 40%;,113979,top: 61%; left: 7.5%;,59373,top: 61%; left: 73%;,57628,top: 63%; left: 28%;,68152,...,top: 3%; left: 40%;,38267,top: 63%; left: 28%;,4-2-3-1,97,3817,0,1-1,1,1
2,1134605,88983,top: 2%; left: 30%;,143219,top: 2%; left: 50%;,45601,top: 80%; left: 40%;,145922,top: 61%; left: 73%;,128912,...,top: 63%; left: 52.5%;,42413,top: 43%; left: 28%;,4-2-3-1,3866,9251,1,4-0,4,0
3,2463048,58030,top: 18%; left: 65%;,78147,top: 3%; left: 40%;,93763,top: 80%; left: 40%;,56112,top: 43%; left: 40%;,45677,...,top: 43%; left: 52%;,39998,top: 23%; left: 68%;,4-4-2 double 6,433,269,1,1-0,1,0
4,2547389,183120,top: 23%; left: 40%;,42393,top: 3%; left: 40%;,128969,top: 80%; left: 40%;,110668,top: 61%; left: 7.5%;,19312,...,top: 61%; left: 7.5%;,24049,top: 43%; left: 52%;,4-2-3-1,5191,339,1,1-0,1,0
5,2463041,41118,top: 63%; left: 52.5%;,18296,top: 3%; left: 40%;,89649,top: 80%; left: 40%;,31608,top: 63%; left: 28%;,83415,...,top: 23%; left: 40%;,84425,top: 18%; left: 15%;,4-2-3-1,6092,17,0,1-1,1,1
6,1143249,6053,top: 2%; left: 50%;,33570,top: 2%; left: 30%;,27539,top: 80%; left: 40%;,58816,top: 61%; left: 73%;,58821,...,top: 25%; left: 12%;,7153,top: 35%; left: 25%;,4-5-1,789,2381,2,0-4,0,4
7,1143248,16499,top: 18%; left: 65%;,174984,top: 3%; left: 40%;,14555,top: 80%; left: 40%;,44996,top: 63%; left: 28%;,16353,...,top: 43%; left: 52%;,5628,top: 10%; left: 15%;,4-3-3 def.,806,3216,2,1-3,1,3
8,1143245,37091,top: 2%; left: 30%;,38768,top: 2%; left: 50%;,28124,top: 80%; left: 40%;,4873,top: 63%; left: 28%;,7402,...,top: 28%; left: 53%;,56372,top: 10%; left: 65%;,4-3-3 off.,2043,820,1,2-1,2,1
9,1143247,36873,top: 18%; left: 15%;,33833,top: 3%; left: 40%;,7110,top: 80%; left: 40%;,16698,top: 61%; left: 73%;,27280,...,top: 43%; left: 52%;,8539,top: 43%; left: 28%;,4-4-2 double 6,5199,2323,1,1-0,1,0
10,1143246,109217,top: 18%; left: 65%;,16589,top: 3%; left: 40%;,15448,top: 80%; left: 40%;,7445,top: 63%; left: 28%;,8680,...,top: 18%; left: 65%;,13389,top: 43%; left: 28%;,4-2-3-1,2332,449,2,0-1,0,1
11,1143243,33796,top: 28%; left: 27%;,6949,top: 3%; left: 40%;,7249,top: 80%; left: 40%;,755,top: 63%; left: 28%;,68523,...,top: 10%; left: 65%;,137616,top: 43%; left: 28%;,4-3-3 def.,7849,3205,2,0-1,0,1
12,2463042,17134,top: 63%; left: 52.5%;,159928,top: 3%; left: 40%;,124497,top: 80%; left: 40%;,60006,top: 43%; left: 28%;,60007,...,top: 18%; left: 65%;,93552,top: 43%; left: 28%;,4-2-3-1,15119,851,1,1-0,1,0
13,2239764,144310,top: 43%; left: 28%;,54022,top: 2%; left: 30%;,51048,top: 80%; left: 40%;,70833,top: 43%; left: 52%;,121208,...,top: 2%; left: 30%;,108825,top: 61%; left: 73%;,4-4-2,6210,6711,0,0-0,0,0
14,2463045,51309,top: 10%; left: 65%;,50674,top: 3%; left: 40%;,153772,top: 80%; left: 40%;,59994,top: 61%; left: 7.5%;,58061,...,top: 18%; left: 65%;,124441,top: 18%; left: 15%;,4-1-4-1,340,129,0,1-1,1,1
15,2341280,188854,top: 23%; left: 40%;,23966,top: 3%; left: 40%;,51710,top: 80%; left: 40%;,149498,top: 63%; left: 28%;,73250,...,top: 23%; left: 40%;,33448,top: 18%; left: 15%;,4-2-3-1,2868,13,1,1-0,1,0
16,2698728,192655,top: 3%; left: 40%;,52731,top: 20%; left: 50%;,2856,top: 80%; left: 40%;,119032,top: 34%; left: 15%;,41767,...,top: 39%; left: 40%;,280387,top: 28%; left: 27%;,4-3-3 off.,472,321,1,3-1,3,1
17,2698729,147043,top: 2%; left: 30%;,186260,top: 2%; left: 50%;,147051,top: 80%; left: 40%;,62854,top: 61%; left: 7.5%;,4843,...,top: 18%; left: 15%;,3730,top: 43%; left: 52%;,4-2-3-1,6517,504,1,4-1,4,1
18,2698724,192655,top: 2%; left: 50%;,52731,top: 25%; left: 68%;,2856,top: 80%; left: 40%;,119032,top: 61%; left: 7.5%;,166375,...,top: 0%; left: 10%;,191486,top: 18%; left: 65%;,3-1-4-2,17687,527,1,5-0,5,0
19,2698725,250490,top: 18%; left: 15%;,154635,top: 3%; left: 40%;,32750,top: 80%; left: 40%;,165732,top: 18%; left: 65%;,172192,...,top: 39%; left: 40%;,280387,top: 28%; left: 27%;,4-3-3 off.,472,321,1,1-0,1,0
20,2698726,189410,top: 10%; left: 15%;,176130,top: 3%; left: 40%;,147027,top: 80%; left: 40%;,169841,top: 63%; left: 28%;,46420,...,top: 43%; left: 52%;,68004,top: 43%; left: 28%;,4-2-3-1,2503,257,2,0-2,0,2
21,2698727,165891,top: 3%; left: 40%;,74532,top: 20%; left: 30%;,165435,top: 80%; left: 40%;,56621,top: 62%; left: 40%;,129642,...,top: 39%; left: 40%;,151658,top: 28%; left: 53%;,4-3-3 off.,28335,2790,0,1-1,1,1
22,2698720,250490,top: 18%; left: 65%;,154635,top: 3%; left: 40%;,32750,top: 80%; left: 40%;,172192,top: 63%; left: 28%;,79392,...,top: 35%; left: 27%;,52556,top: 25%; left: 68%;,4-4-2,4487,434,1,3-0,3,0
23,2698721,68004,top: 43%; left: 28%;,195051,top: 43%; left: 52%;,4769,top: 80%; left: 40%;,122695,top: 63%; left: 28%;,74075,...,top: 61%; left: 7.5%;,107784,top: 18%; left: 15%;,4-1-4-1,2808,163,1,2-0,2,0
24,2698722,51497,top: 18%; left: 65%;,203123,top: 3%; left: 40%;,68030,top: 80%; left: 40%;,289875,top: 63%; left: 28%;,147501,...,top: 43%; left: 52%;,194638,top: 18%; left: 15%;,4-2-3-1,5965,26,1,3-1,3,1
25,2698723,243856,top: 2%; left: 50%;,21625,top: 2%; left: 30%;,4914,top: 80%; left: 40%;,9819,top: 63%; left: 52.5%;,159299,...,top: 23%; left: 12%;,334526,top: 43%; left: 28%;,4-4-2 double 6,5018,452,1,2-1,2,1
26,30462,23364,top: 43%; left: 30%;,23345,top: 23%; left: 40%;,6034,top: 80%; left: 40%;,23351,top: 63%; left: 28%;,23357,...,top: 22%; left: 40%;,6405,top: 42%; left: 40%;,4-3-1-2,2133,749,2,0-1,0,1
27,30465,22119,top: 2%; left: 50%;,28847,top: 2%; left: 30%;,22149,top: 80%; left: 40%;,5992,top: 61%; left: 56.5%;,22103,...,top: 10%; left: 65%;,22277,top: 35%; left: 30%;,3-4-3 flat,2138,2921,0,2-2,2,2
28,2462903,76657,top: 43%; left: 40%;,17902,top: 3%; left: 40%;,2053,top: 80%; left: 40%;,45679,top: 61%; left: 7.5%;,31608,...,top: 61%; left: 73%;,20258,top: 23%; left: 12%;,4-4-2 double 6,1155,91,2,3-4,3,4
29,2462902,20282,top: 18%; left: 15%;,42908,top: 3%; left: 40%;,2398,top: 80%; left: 40%;,11269,top: 61%; left: 7.5%;,88529,...,top: 43%; left: 52%;,139942,top: 23%; left: 68%;,4-4-2 double 6,11289,2589,1,2-1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168045,2731611,73338,top: 33%; left: 40%;,380338,top: 2%; left: 30%;,277221,top: 80%; left: 40%;,89933,top: 62%; left: 40%;,172541,...,top: 18%; left: 15%;,15117,top: 43%; left: 28%;,4-2-3-1,8542,16950,0,1-1,1,1
168046,2771369,89086,top: 18%; left: 65%;,92180,top: 18%; left: 15%;,126360,top: 80%; left: 40%;,44136,top: 63%; left: 28%;,56036,...,top: 43%; left: 28%;,15083,top: 61%; left: 7.5%;,4-2-3-1,41333,16704,1,2-1,2,1
168047,2746560,39800,top: 3%; left: 40%;,284646,top: 10%; left: 65%;,160824,top: 80%; left: 40%;,22209,top: 63%; left: 28%;,38648,...,top: 10%; left: 15%;,340445,top: 39%; left: 40%;,4-3-3 off.,29498,1104,0,1-1,1,1
168048,2697638,102132,top: 2%; left: 30%;,174001,top: 2%; left: 50%;,69306,top: 80%; left: 40%;,119533,top: 61%; left: 7.5%;,37227,...,top: 42%; left: 40%;,256186,top: 22%; left: 40%;,4-3-1-2,1145,206,1,3-1,3,1
168049,2746562,85009,top: 10%; left: 15%;,191183,top: 3%; left: 40%;,163315,top: 80%; left: 40%;,167877,top: 63%; left: 28%;,56605,...,top: 23%; left: 40%;,363177,top: 18%; left: 15%;,4-2-3-1,19718,8373,1,1-0,1,0
168050,2707292,27235,top: 18%; left: 15%;,61505,top: 3%; left: 40%;,24515,top: 80%; left: 40%;,144143,top: 61%; left: 73%;,54512,...,top: 23%; left: 40%;,176906,top: 18%; left: 15%;,4-2-3-1,23173,759,2,0-4,0,4
168051,2732119,164913,top: 43%; left: 28%;,45161,top: 3%; left: 40%;,42531,top: 80%; left: 40%;,198394,top: 63%; left: 28%;,19312,...,top: 43%; left: 52%;,111039,top: 23%; left: 40%;,4-2-3-1,1299,3057,1,4-1,4,1
168052,2717250,74944,top: 18%; left: 65%;,74715,top: 43%; left: 28%;,361001,top: 80%; left: 40%;,140944,top: 61%; left: 73%;,74975,...,top: 23%; left: 40%;,147113,top: 18%; left: 65%;,4-2-3-1,34248,365,1,3-0,3,0
168053,2697633,264423,top: 3%; left: 40%;,271098,top: 23%; left: 40%;,95738,top: 80%; left: 40%;,126610,top: 61%; left: 7.5%;,260840,...,top: 43%; left: 28%;,37527,top: 2%; left: 30%;,4-4-2 double 6,4028,1063,0,2-2,2,2
168054,2698163,133179,top: 23%; left: 30%;,18644,top: 3%; left: 40%;,7589,top: 80%; left: 40%;,32522,top: 61%; left: 73%;,215118,...,top: 43%; left: 28%;,171424,top: 23%; left: 68%;,4-4-2 double 6,456,1003,0,2-2,2,2
168055,2697634,188131,top: 2%; left: 30%;,188180,top: 2%; left: 50%;,75458,top: 80%; left: 40%;,146889,top: 61%; left: 73%;,170646,...,top: 43%; left: 52%;,201139,top: 18%; left: 65%;,4-2-3-1,24490,369,2,0-1,0,1
168056,2697637,257366,top: 10%; left: 15%;,269878,top: 3%; left: 40%;,241389,top: 80%; left: 40%;,253664,top: 61%; left: 73%;,253206,...,top: 23%; left: 12%;,97241,top: 43%; left: 28%;,4-4-2 double 6,4149,3426,0,2-2,2,2
168057,2794224,142738,top: 43%; left: 28%;,94855,top: 3%; left: 40%;,94507,top: 80%; left: 40%;,82562,top: 63%; left: 28%;,214810,...,top: 39%; left: 40%;,102784,top: 28%; left: 53%;,4-3-3 off.,5622,11622,1,1-0,1,0
168058,2771368,43261,top: 3%; left: 40%;,63170,top: 18%; left: 65%;,62514,top: 80%; left: 40%;,49589,top: 61%; left: 73%;,375755,...,top: 25%; left: 68%;,45858,top: 29%; left: 26%;,3-5-2 off.,32335,1083,1,2-0,2,0
168059,2730300,59772,top: 23%; left: 40%;,199855,top: 3%; left: 40%;,37061,top: 80%; left: 40%;,123765,top: 61%; left: 73%;,42642,...,top: 43%; left: 28%;,21101,top: 18%; left: 65%;,4-2-3-1,2724,941,1,2-0,2,0
168060,2764510,133668,top: 18%; left: 65%;,111995,top: 3%; left: 40%;,51161,top: 80%; left: 40%;,58312,top: 61%; left: 73%;,19638,...,top: 10%; left: 65%;,5336,top: 61%; left: 7.5%;,4-3-3 off.,1332,6418,2,2-3,2,3
168061,2722694,22382,top: 2%; left: 30%;,4380,top: 2%; left: 50%;,7079,top: 80%; left: 40%;,55605,top: 61%; left: 7.5%;,48859,...,top: 43%; left: 28%;,248219,top: 2%; left: 50%;,4-4-2 double 6,801,126,2,1-5,1,5
168062,2698183,62049,top: 32%; left: 68%;,3306,top: 3%; left: 40%;,13460,top: 80%; left: 40%;,3881,top: 62%; left: 40%;,112052,...,top: 23%; left: 12%;,112302,top: 43%; left: 52%;,5-4-1 flat,1933,1010,2,0-1,0,1
168063,2794218,77928,top: 28%; left: 27%;,312151,top: 10%; left: 15%;,72671,top: 80%; left: 40%;,330684,top: 63%; left: 28%;,250004,...,top: 43%; left: 30%;,196037,top: 20%; left: 50%;,3-1-4-2,45713,17974,2,1-3,1,3
168064,2700522,45881,top: 2%; left: 50%;,23934,top: 2%; left: 30%;,147051,top: 80%; left: 40%;,203115,top: 61%; left: 7.5%;,183321,...,top: 23%; left: 30%;,61487,top: 18%; left: 15%;,3-1-4-2,17687,527,2,1-2,1,2
168065,2702772,39924,top: 10%; left: 65%;,23952,top: 3%; left: 40%;,53306,top: 80%; left: 40%;,205497,top: 61%; left: 7.5%;,109720,...,top: 10%; left: 65%;,37157,top: 10%; left: 15%;,4-3-3 def.,2679,969,0,0-0,0,0
168066,2746176,149160,top: 2%; left: 30%;,245075,top: 2%; left: 50%;,338297,top: 80%; left: 40%;,112046,top: 61%; left: 73%;,139298,...,top: 33%; left: 25%;,162939,top: 2%; left: 50%;,3-5-2 flat,17354,21474,0,1-1,1,1
168067,2698150,37647,top: 2%; left: 50%;,120610,top: 2%; left: 30%;,51321,top: 80%; left: 40%;,12691,top: 62%; left: 40%;,92571,...,top: 23%; left: 40%;,122153,top: 43%; left: 52%;,4-2-3-1,781,985,0,1-1,1,1
168068,2746179,167687,top: 10%; left: 15%;,85276,top: 3%; left: 40%;,282333,top: 80%; left: 40%;,331199,top: 61%; left: 7.5%;,199916,...,top: 42%; left: 40%;,106651,top: 2%; left: 30%;,4-3-1-2,20739,5621,1,1-0,1,0
168069,2719223,19335,top: 63%; left: 52.5%;,125177,top: 43%; left: 28%;,67365,top: 80%; left: 40%;,104919,top: 61%; left: 7.5%;,45283,...,top: 3%; left: 40%;,194058,top: 32%; left: 68%;,3-4-3 flat,8904,2540,0,1-1,1,1
168070,2717249,184948,top: 3%; left: 40%;,464800,top: 10%; left: 65%;,90307,top: 80%; left: 40%;,74712,top: 63%; left: 28%;,232390,...,top: 23%; left: 40%;,90872,top: 18%; left: 15%;,4-2-3-1,24893,7087,0,3-3,3,3
168071,2702780,146805,top: 10%; left: 15%;,59957,top: 3%; left: 40%;,81543,top: 80%; left: 40%;,154199,top: 63%; left: 28%;,120651,...,top: 10%; left: 15%;,52112,top: 43%; left: 28%;,4-3-3 def.,1541,347,0,3-3,3,3
168072,2736451,142252,top: 2%; left: 30%;,75794,top: 2%; left: 50%;,143581,top: 80%; left: 40%;,108831,top: 61%; left: 7.5%;,133227,...,top: 25%; left: 12%;,153132,top: 35%; left: 25%;,4-5-1,27771,22821,2,0-2,0,2
168073,2736423,247588,top: 3%; left: 40%;,77441,top: 10%; left: 15%;,123357,top: 80%; left: 40%;,462943,top: 63%; left: 28%;,463336,...,top: 18%; left: 65%;,159947,top: 43%; left: 40%;,4-1-4-1,3923,581,1,3-0,3,0
168074,2746174,114677,top: 3%; left: 40%;,57653,top: 10%; left: 65%;,272357,top: 80%; left: 40%;,139555,top: 61%; left: 73%;,19438,...,top: 39%; left: 40%;,136100,top: 10%; left: 15%;,4-3-3 off.,2124,1388,1,2-1,2,1

In [12]:
concede=m_i_df.drop_duplicates()

In [13]:
concede.drop_duplicates()

,mkey,away10_id,away10_pos,away11_id,away11_pos,away1_id,away1_pos,away2_id,away2_pos,away3_id,...,home8_pos,home9_id,home9_pos,home_formation,home_manager,home_team,result,score,score_away,score_home
0,2604022,45146,top: 2%; left: 30%;,66521,top: 22%; left: 40%;,34370,top: 80%; left: 40%;,262523,top: 61%; left: 73%;,88682,...,top: 36%; left: 40%;,40428,top: 33%; left: 25%;,3-5-2 flat,2127,410,2,2-3,2,3
1,948786,113974,top: 80%; left: 40%;,113979,top: 61%; left: 7.5%;,59373,top: 61%; left: 73%;,57628,top: 63%; left: 28%;,68152,...,top: 3%; left: 40%;,38267,top: 63%; left: 28%;,4-2-3-1,97,3817,0,1-1,1,1
2,1134605,88983,top: 2%; left: 30%;,143219,top: 2%; left: 50%;,45601,top: 80%; left: 40%;,145922,top: 61%; left: 73%;,128912,...,top: 63%; left: 52.5%;,42413,top: 43%; left: 28%;,4-2-3-1,3866,9251,1,4-0,4,0
3,2463048,58030,top: 18%; left: 65%;,78147,top: 3%; left: 40%;,93763,top: 80%; left: 40%;,56112,top: 43%; left: 40%;,45677,...,top: 43%; left: 52%;,39998,top: 23%; left: 68%;,4-4-2 double 6,433,269,1,1-0,1,0
4,2547389,183120,top: 23%; left: 40%;,42393,top: 3%; left: 40%;,128969,top: 80%; left: 40%;,110668,top: 61%; left: 7.5%;,19312,...,top: 61%; left: 7.5%;,24049,top: 43%; left: 52%;,4-2-3-1,5191,339,1,1-0,1,0
5,2463041,41118,top: 63%; left: 52.5%;,18296,top: 3%; left: 40%;,89649,top: 80%; left: 40%;,31608,top: 63%; left: 28%;,83415,...,top: 23%; left: 40%;,84425,top: 18%; left: 15%;,4-2-3-1,6092,17,0,1-1,1,1
6,1143249,6053,top: 2%; left: 50%;,33570,top: 2%; left: 30%;,27539,top: 80%; left: 40%;,58816,top: 61%; left: 73%;,58821,...,top: 25%; left: 12%;,7153,top: 35%; left: 25%;,4-5-1,789,2381,2,0-4,0,4
7,1143248,16499,top: 18%; left: 65%;,174984,top: 3%; left: 40%;,14555,top: 80%; left: 40%;,44996,top: 63%; left: 28%;,16353,...,top: 43%; left: 52%;,5628,top: 10%; left: 15%;,4-3-3 def.,806,3216,2,1-3,1,3
8,1143245,37091,top: 2%; left: 30%;,38768,top: 2%; left: 50%;,28124,top: 80%; left: 40%;,4873,top: 63%; left: 28%;,7402,...,top: 28%; left: 53%;,56372,top: 10%; left: 65%;,4-3-3 off.,2043,820,1,2-1,2,1
9,1143247,36873,top: 18%; left: 15%;,33833,top: 3%; left: 40%;,7110,top: 80%; left: 40%;,16698,top: 61%; left: 73%;,27280,...,top: 43%; left: 52%;,8539,top: 43%; left: 28%;,4-4-2 double 6,5199,2323,1,1-0,1,0
10,1143246,109217,top: 18%; left: 65%;,16589,top: 3%; left: 40%;,15448,top: 80%; left: 40%;,7445,top: 63%; left: 28%;,8680,...,top: 18%; left: 65%;,13389,top: 43%; left: 28%;,4-2-3-1,2332,449,2,0-1,0,1
11,1143243,33796,top: 28%; left: 27%;,6949,top: 3%; left: 40%;,7249,top: 80%; left: 40%;,755,top: 63%; left: 28%;,68523,...,top: 10%; left: 65%;,137616,top: 43%; left: 28%;,4-3-3 def.,7849,3205,2,0-1,0,1
12,2463042,17134,top: 63%; left: 52.5%;,159928,top: 3%; left: 40%;,124497,top: 80%; left: 40%;,60006,top: 43%; left: 28%;,60007,...,top: 18%; left: 65%;,93552,top: 43%; left: 28%;,4-2-3-1,15119,851,1,1-0,1,0
13,2239764,144310,top: 43%; left: 28%;,54022,top: 2%; left: 30%;,51048,top: 80%; left: 40%;,70833,top: 43%; left: 52%;,121208,...,top: 2%; left: 30%;,108825,top: 61%; left: 73%;,4-4-2,6210,6711,0,0-0,0,0
14,2463045,51309,top: 10%; left: 65%;,50674,top: 3%; left: 40%;,153772,top: 80%; left: 40%;,59994,top: 61%; left: 7.5%;,58061,...,top: 18%; left: 65%;,124441,top: 18%; left: 15%;,4-1-4-1,340,129,0,1-1,1,1
15,2341280,188854,top: 23%; left: 40%;,23966,top: 3%; left: 40%;,51710,top: 80%; left: 40%;,149498,top: 63%; left: 28%;,73250,...,top: 23%; left: 40%;,33448,top: 18%; left: 15%;,4-2-3-1,2868,13,1,1-0,1,0
16,2698728,192655,top: 3%; left: 40%;,52731,top: 20%; left: 50%;,2856,top: 80%; left: 40%;,119032,top: 34%; left: 15%;,41767,...,top: 39%; left: 40%;,280387,top: 28%; left: 27%;,4-3-3 off.,472,321,1,3-1,3,1
17,2698729,147043,top: 2%; left: 30%;,186260,top: 2%; left: 50%;,147051,top: 80%; left: 40%;,62854,top: 61%; left: 7.5%;,4843,...,top: 18%; left: 15%;,3730,top: 43%; left: 52%;,4-2-3-1,6517,504,1,4-1,4,1
18,2698724,192655,top: 2%; left: 50%;,52731,top: 25%; left: 68%;,2856,top: 80%; left: 40%;,119032,top: 61%; left: 7.5%;,166375,...,top: 0%; left: 10%;,191486,top: 18%; left: 65%;,3-1-4-2,17687,527,1,5-0,5,0
19,2698725,250490,top: 18%; left: 15%;,154635,top: 3%; left: 40%;,32750,top: 80%; left: 40%;,165732,top: 18%; left: 65%;,172192,...,top: 39%; left: 40%;,280387,top: 28%; left: 27%;,4-3-3 off.,472,321,1,1-0,1,0
20,2698726,189410,top: 10%; left: 15%;,176130,top: 3%; left: 40%;,147027,top: 80%; left: 40%;,169841,top: 63%; left: 28%;,46420,...,top: 43%; left: 52%;,68004,top: 43%; left: 28%;,4-2-3-1,2503,257,2,0-2,0,2
21,2698727,165891,top: 3%; left: 40%;,74532,top: 20%; left: 30%;,165435,top: 80%; left: 40%;,56621,top: 62%; left: 40%;,129642,...,top: 39%; left: 40%;,151658,top: 28%; left: 53%;,4-3-3 off.,28335,2790,0,1-1,1,1
22,2698720,250490,top: 18%; left: 65%;,154635,top: 3%; left: 40%;,32750,top: 80%; left: 40%;,172192,top: 63%; left: 28%;,79392,...,top: 35%; left: 27%;,52556,top: 25%; left: 68%;,4-4-2,4487,434,1,3-0,3,0
23,2698721,68004,top: 43%; left: 28%;,195051,top: 43%; left: 52%;,4769,top: 80%; left: 40%;,122695,top: 63%; left: 28%;,74075,...,top: 61%; left: 7.5%;,107784,top: 18%; left: 15%;,4-1-4-1,2808,163,1,2-0,2,0
24,2698722,51497,top: 18%; left: 65%;,203123,top: 3%; left: 40%;,68030,top: 80%; left: 40%;,289875,top: 63%; left: 28%;,147501,...,top: 43%; left: 52%;,194638,top: 18%; left: 15%;,4-2-3-1,5965,26,1,3-1,3,1
25,2698723,243856,top: 2%; left: 50%;,21625,top: 2%; left: 30%;,4914,top: 80%; left: 40%;,9819,top: 63%; left: 52.5%;,159299,...,top: 23%; left: 12%;,334526,top: 43%; left: 28%;,4-4-2 double 6,5018,452,1,2-1,2,1
26,30462,23364,top: 43%; left: 30%;,23345,top: 23%; left: 40%;,6034,top: 80%; left: 40%;,23351,top: 63%; left: 28%;,23357,...,top: 22%; left: 40%;,6405,top: 42%; left: 40%;,4-3-1-2,2133,749,2,0-1,0,1
27,30465,22119,top: 2%; left: 50%;,28847,top: 2%; left: 30%;,22149,top: 80%; left: 40%;,5992,top: 61%; left: 56.5%;,22103,...,top: 10%; left: 65%;,22277,top: 35%; left: 30%;,3-4-3 flat,2138,2921,0,2-2,2,2
28,2462903,76657,top: 43%; left: 40%;,17902,top: 3%; left: 40%;,2053,top: 80%; left: 40%;,45679,top: 61%; left: 7.5%;,31608,...,top: 61%; left: 73%;,20258,top: 23%; left: 12%;,4-4-2 double 6,1155,91,2,3-4,3,4
29,2462902,20282,top: 18%; left: 15%;,42908,top: 3%; left: 40%;,2398,top: 80%; left: 40%;,11269,top: 61%; left: 7.5%;,88529,...,top: 43%; left: 52%;,139942,top: 23%; left: 68%;,4-4-2 double 6,11289,2589,1,2-1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168045,2731611,73338,top: 33%; left: 40%;,380338,top: 2%; left: 30%;,277221,top: 80%; left: 40%;,89933,top: 62%; left: 40%;,172541,...,top: 18%; left: 15%;,15117,top: 43%; left: 28%;,4-2-3-1,8542,16950,0,1-1,1,1
168046,2771369,89086,top: 18%; left: 65%;,92180,top: 18%; left: 15%;,126360,top: 80%; left: 40%;,44136,top: 63%; left: 28%;,56036,...,top: 43%; left: 28%;,15083,top: 61%; left: 7.5%;,4-2-3-1,41333,16704,1,2-1,2,1
168047,2746560,39800,top: 3%; left: 40%;,284646,top: 10%; left: 65%;,160824,top: 80%; left: 40%;,22209,top: 63%; left: 28%;,38648,...,top: 10%; left: 15%;,340445,top: 39%; left: 40%;,4-3-3 off.,29498,1104,0,1-1,1,1
168048,2697638,102132,top: 2%; left: 30%;,174001,top: 2%; left: 50%;,69306,top: 80%; left: 40%;,119533,top: 61%; left: 7.5%;,37227,...,top: 42%; left: 40%;,256186,top: 22%; left: 40%;,4-3-1-2,1145,206,1,3-1,3,1
168049,2746562,85009,top: 10%; left: 15%;,191183,top: 3%; left: 40%;,163315,top: 80%; left: 40%;,167877,top: 63%; left: 28%;,56605,...,top: 23%; left: 40%;,363177,top: 18%; left: 15%;,4-2-3-1,19718,8373,1,1-0,1,0
168050,2707292,27235,top: 18%; left: 15%;,61505,top: 3%; left: 40%;,24515,top: 80%; left: 40%;,144143,top: 61%; left: 73%;,54512,...,top: 23%; left: 40%;,176906,top: 18%; left: 15%;,4-2-3-1,23173,759,2,0-4,0,4
168051,2732119,164913,top: 43%; left: 28%;,45161,top: 3%; left: 40%;,42531,top: 80%; left: 40%;,198394,top: 63%; left: 28%;,19312,...,top: 43%; left: 52%;,111039,top: 23%; left: 40%;,4-2-3-1,1299,3057,1,4-1,4,1
168052,2717250,74944,top: 18%; left: 65%;,74715,top: 43%; left: 28%;,361001,top: 80%; left: 40%;,140944,top: 61%; left: 73%;,74975,...,top: 23%; left: 40%;,147113,top: 18%; left: 65%;,4-2-3-1,34248,365,1,3-0,3,0
168053,2697633,264423,top: 3%; left: 40%;,271098,top: 23%; left: 40%;,95738,top: 80%; left: 40%;,126610,top: 61%; left: 7.5%;,260840,...,top: 43%; left: 28%;,37527,top: 2%; left: 30%;,4-4-2 double 6,4028,1063,0,2-2,2,2
168054,2698163,133179,top: 23%; left: 30%;,18644,top: 3%; left: 40%;,7589,top: 80%; left: 40%;,32522,top: 61%; left: 73%;,215118,...,top: 43%; left: 28%;,171424,top: 23%; left: 68%;,4-4-2 double 6,456,1003,0,2-2,2,2
168055,2697634,188131,top: 2%; left: 30%;,188180,top: 2%; left: 50%;,75458,top: 80%; left: 40%;,146889,top: 61%; left: 73%;,170646,...,top: 43%; left: 52%;,201139,top: 18%; left: 65%;,4-2-3-1,24490,369,2,0-1,0,1
168056,2697637,257366,top: 10%; left: 15%;,269878,top: 3%; left: 40%;,241389,top: 80%; left: 40%;,253664,top: 61%; left: 73%;,253206,...,top: 23%; left: 12%;,97241,top: 43%; left: 28%;,4-4-2 double 6,4149,3426,0,2-2,2,2
168057,2794224,142738,top: 43%; left: 28%;,94855,top: 3%; left: 40%;,94507,top: 80%; left: 40%;,82562,top: 63%; left: 28%;,214810,...,top: 39%; left: 40%;,102784,top: 28%; left: 53%;,4-3-3 off.,5622,11622,1,1-0,1,0
168058,2771368,43261,top: 3%; left: 40%;,63170,top: 18%; left: 65%;,62514,top: 80%; left: 40%;,49589,top: 61%; left: 73%;,375755,...,top: 25%; left: 68%;,45858,top: 29%; left: 26%;,3-5-2 off.,32335,1083,1,2-0,2,0
168059,2730300,59772,top: 23%; left: 40%;,199855,top: 3%; left: 40%;,37061,top: 80%; left: 40%;,123765,top: 61%; left: 73%;,42642,...,top: 43%; left: 28%;,21101,top: 18%; left: 65%;,4-2-3-1,2724,941,1,2-0,2,0
168060,2764510,133668,top: 18%; left: 65%;,111995,top: 3%; left: 40%;,51161,top: 80%; left: 40%;,58312,top: 61%; left: 73%;,19638,...,top: 10%; left: 65%;,5336,top: 61%; left: 7.5%;,4-3-3 off.,1332,6418,2,2-3,2,3
168061,2722694,22382,top: 2%; left: 30%;,4380,top: 2%; left: 50%;,7079,top: 80%; left: 40%;,55605,top: 61%; left: 7.5%;,48859,...,top: 43%; left: 28%;,248219,top: 2%; left: 50%;,4-4-2 double 6,801,126,2,1-5,1,5
168062,2698183,62049,top: 32%; left: 68%;,3306,top: 3%; left: 40%;,13460,top: 80%; left: 40%;,3881,top: 62%; left: 40%;,112052,...,top: 23%; left: 12%;,112302,top: 43%; left: 52%;,5-4-1 flat,1933,1010,2,0-1,0,1
168063,2794218,77928,top: 28%; left: 27%;,312151,top: 10%; left: 15%;,72671,top: 80%; left: 40%;,330684,top: 63%; left: 28%;,250004,...,top: 43%; left: 30%;,196037,top: 20%; left: 50%;,3-1-4-2,45713,17974,2,1-3,1,3
168064,2700522,45881,top: 2%; left: 50%;,23934,top: 2%; left: 30%;,147051,top: 80%; left: 40%;,203115,top: 61%; left: 7.5%;,183321,...,top: 23%; left: 30%;,61487,top: 18%; left: 15%;,3-1-4-2,17687,527,2,1-2,1,2
168065,2702772,39924,top: 10%; left: 65%;,23952,top: 3%; left: 40%;,53306,top: 80%; left: 40%;,205497,top: 61%; left: 7.5%;,109720,...,top: 10%; left: 65%;,37157,top: 10%; left: 15%;,4-3-3 def.,2679,969,0,0-0,0,0
168066,2746176,149160,top: 2%; left: 30%;,245075,top: 2%; left: 50%;,338297,top: 80%; left: 40%;,112046,top: 61%; left: 73%;,139298,...,top: 33%; left: 25%;,162939,top: 2%; left: 50%;,3-5-2 flat,17354,21474,0,1-1,1,1
168067,2698150,37647,top: 2%; left: 50%;,120610,top: 2%; left: 30%;,51321,top: 80%; left: 40%;,12691,top: 62%; left: 40%;,92571,...,top: 23%; left: 40%;,122153,top: 43%; left: 52%;,4-2-3-1,781,985,0,1-1,1,1
168068,2746179,167687,top: 10%; left: 15%;,85276,top: 3%; left: 40%;,282333,top: 80%; left: 40%;,331199,top: 61%; left: 7.5%;,199916,...,top: 42%; left: 40%;,106651,top: 2%; left: 30%;,4-3-1-2,20739,5621,1,1-0,1,0
168069,2719223,19335,top: 63%; left: 52.5%;,125177,top: 43%; left: 28%;,67365,top: 80%; left: 40%;,104919,top: 61%; left: 7.5%;,45283,...,top: 3%; left: 40%;,194058,top: 32%; left: 68%;,3-4-3 flat,8904,2540,0,1-1,1,1
168070,2717249,184948,top: 3%; left: 40%;,464800,top: 10%; left: 65%;,90307,top: 80%; left: 40%;,74712,top: 63%; left: 28%;,232390,...,top: 23%; left: 40%;,90872,top: 18%; left: 15%;,4-2-3-1,24893,7087,0,3-3,3,3
168071,2702780,146805,top: 10%; left: 15%;,59957,top: 3%; left: 40%;,81543,top: 80%; left: 40%;,154199,top: 63%; left: 28%;,120651,...,top: 10%; left: 15%;,52112,top: 43%; left: 28%;,4-3-3 def.,1541,347,0,3-3,3,3
168072,2736451,142252,top: 2%; left: 30%;,75794,top: 2%; left: 50%;,143581,top: 80%; left: 40%;,108831,top: 61%; left: 7.5%;,133227,...,top: 25%; left: 12%;,153132,top: 35%; left: 25%;,4-5-1,27771,22821,2,0-2,0,2
168073,2736423,247588,top: 3%; left: 40%;,77441,top: 10%; left: 15%;,123357,top: 80%; left: 40%;,462943,top: 63%; left: 28%;,463336,...,top: 18%; left: 65%;,159947,top: 43%; left: 40%;,4-1-4-1,3923,581,1,3-0,3,0
168074,2746174,114677,top: 3%; left: 40%;,57653,top: 10%; left: 65%;,272357,top: 80%; left: 40%;,139555,top: 61%; left: 73%;,19438,...,top: 39%; left: 40%;,136100,top: 10%; left: 15%;,4-3-3 off.,2124,1388,1,2-1,2,1

In [14]:
nemkap1=concede[concede['score0']=='0']
nemkap2=concede[concede['score1']=='0']

KeyError: 'score0'

In [ ]:
df1=nemkap2[['away10_id','away11_id','away1_id','away2_id','away3_id','away4_id','away5_id','away6_id','away7_id','away8_id','away9_id']].unstack().value_counts()
df1

In [ ]:
df2=nemkap1[['home10_id','home11_id','home1_id','home2_id','home3_id','home4_id','home5_id','home6_id','home7_id','home8_id','home9_id']].unstack().value_counts()
df2

In [ ]:
#holtverseny van az első kettő között
print('playerid:',df1.add(df2).sort_values(ascending=False).index[0],'meccsek száma:',df1.add(df2).sort_values(ascending=False).iloc[0])
print('playerid:',df1.add(df2).sort_values(ascending=False).index[1],'meccsek száma:',df1.add(df2).sort_values(ascending=False).iloc[1])

# position-with-largest-average-height

In [15]:
haho=[]
for i in range(1,12):
        haho.append(('df%s' %i))
        #df_height[['home%s_id' %i,'home%s_pos' %i]]
        #('df%s' %i).columns=['playerid','pos']
(haho)

['df1', 'df2', 'df3', 'df4', 'df5', 'df6', 'df7', 'df8', 'df9', 'df10', 'df11']

In [16]:
df_height=m_i_df[a]
frames=[]
def tablagenerator():
    for i in range(1,12):
        haho[i-1]=df_height[['home%s_id' %i,'home%s_pos' %i]]
        haho[i-1].columns=['playerid','pos']
        frames.append(haho[i-1])
        result = pd.concat(frames,axis=0,ignore_index=False)
    return result
df_playerid=tablagenerator()

# Pozició amiben átlagosan a legmagasabbak a játékosok

In [17]:
df_height

,home1_id,home1_pos,away1_id,away1_pos,home2_id,home2_pos,away2_id,away2_pos,home3_id,home3_pos,...,away9_id,away9_pos,home10_id,home10_pos,away10_id,away10_pos,home11_id,home11_pos,away11_id,away11_pos
0,16408,top: 80%; left: 40%;,34370,top: 80%; left: 40%;,261611,top: 27%; left: 10%;,262523,top: 61%; left: 73%;,6750,top: 62%; left: 40%;,...,119235,top: 2%; left: 50%;,6031,top: 2%; left: 50%;,45146,top: 2%; left: 30%;,29316,top: 2%; left: 30%;,66521,top: 22%; left: 40%;
1,3612,top: 80%; left: 40%;,59373,top: 61%; left: 73%;,19354,top: 61%; left: 7.5%;,57628,top: 63%; left: 28%;,26485,top: 63%; left: 52.5%;,...,59352,top: 63%; left: 52.5%;,16474,top: 23%; left: 40%;,113974,top: 80%; left: 40%;,31173,top: 43%; left: 28%;,113979,top: 61%; left: 7.5%;
2,73472,top: 80%; left: 40%;,45601,top: 80%; left: 40%;,141655,top: 61%; left: 7.5%;,145922,top: 61%; left: 73%;,118534,top: 63%; left: 28%;,...,103819,top: 63%; left: 28%;,62049,top: 3%; left: 40%;,88983,top: 2%; left: 30%;,61887,top: 18%; left: 15%;,143219,top: 2%; left: 50%;
3,18971,top: 80%; left: 40%;,93763,top: 80%; left: 40%;,57966,top: 63%; left: 28%;,56112,top: 43%; left: 40%;,11583,top: 63%; left: 52.5%;,...,46469,top: 23%; left: 50%;,31968,top: 23%; left: 12%;,58030,top: 18%; left: 65%;,48547,top: 2%; left: 30%;,78147,top: 3%; left: 40%;
4,91931,top: 80%; left: 40%;,128969,top: 80%; left: 40%;,57987,top: 63%; left: 28%;,110668,top: 61%; left: 7.5%;,101304,top: 63%; left: 52.5%;,...,24484,top: 18%; left: 65%;,97567,top: 23%; left: 40%;,183120,top: 23%; left: 40%;,59908,top: 3%; left: 40%;,42393,top: 3%; left: 40%;
5,104220,top: 80%; left: 40%;,89649,top: 80%; left: 40%;,45685,top: 63%; left: 28%;,31608,top: 63%; left: 28%;,134636,top: 61%; left: 7.5%;,...,86895,top: 23%; left: 40%;,5036,top: 43%; left: 28%;,41118,top: 63%; left: 52.5%;,164265,top: 3%; left: 40%;,18296,top: 3%; left: 40%;
6,67797,top: 80%; left: 40%;,27539,top: 80%; left: 40%;,85302,top: 63%; left: 28%;,58816,top: 61%; left: 73%;,29678,top: 61%; left: 73%;,...,99186,top: 23%; left: 12%;,10364,top: 30%; left: 40%;,6053,top: 2%; left: 50%;,49838,top: 3%; left: 40%;,33570,top: 2%; left: 30%;
7,16693,top: 80%; left: 40%;,14555,top: 80%; left: 40%;,138409,top: 63%; left: 28%;,44996,top: 63%; left: 28%;,33794,top: 61%; left: 73%;,...,77737,top: 43%; left: 28%;,15821,top: 3%; left: 40%;,16499,top: 18%; left: 65%;,66405,top: 10%; left: 65%;,174984,top: 3%; left: 40%;
8,85339,top: 80%; left: 40%;,28124,top: 80%; left: 40%;,37722,top: 63%; left: 28%;,4873,top: 63%; left: 28%;,7005,top: 63%; left: 52.5%;,...,29627,top: 23%; left: 68%;,31867,top: 10%; left: 15%;,37091,top: 2%; left: 30%;,51350,top: 3%; left: 40%;,38768,top: 2%; left: 50%;
9,22109,top: 80%; left: 40%;,7110,top: 80%; left: 40%;,7152,top: 63%; left: 28%;,16698,top: 61%; left: 73%;,138476,top: 63%; left: 52.5%;,...,90937,top: 43%; left: 40%;,46658,top: 2%; left: 30%;,36873,top: 18%; left: 15%;,6924,top: 2%; left: 50%;,33833,top: 3%; left: 40%;
10,16816,top: 80%; left: 40%;,15448,top: 80%; left: 40%;,7345,top: 61%; left: 73%;,7445,top: 63%; left: 28%;,21354,top: 61%; left: 7.5%;,...,29672,top: 43%; left: 28%;,52979,top: 18%; left: 15%;,109217,top: 18%; left: 65%;,3531,top: 3%; left: 40%;,16589,top: 3%; left: 40%;
11,26727,top: 80%; left: 40%;,7249,top: 80%; left: 40%;,58829,top: 63%; left: 28%;,755,top: 63%; left: 28%;,55605,top: 61%; left: 7.5%;,...,933,top: 28%; left: 53%;,55619,top: 10%; left: 15%;,33796,top: 28%; left: 27%;,7394,top: 3%; left: 40%;,6949,top: 3%; left: 40%;
12,160954,top: 80%; left: 40%;,124497,top: 80%; left: 40%;,196832,top: 63%; left: 28%;,60006,top: 43%; left: 28%;,153184,top: 63%; left: 52.5%;,...,114849,top: 18%; left: 65%;,123189,top: 18%; left: 15%;,17134,top: 63%; left: 52.5%;,82367,top: 3%; left: 40%;,159928,top: 3%; left: 40%;
13,50970,top: 80%; left: 40%;,51048,top: 80%; left: 40%;,129314,top: 63%; left: 28%;,70833,top: 43%; left: 52%;,50951,top: 25%; left: 12%;,...,54480,top: 2%; left: 50%;,170016,top: 25%; left: 68%;,144310,top: 43%; left: 28%;,240280,top: 2%; left: 50%;,54022,top: 2%; left: 30%;
14,29903,top: 80%; left: 40%;,153772,top: 80%; left: 40%;,195954,top: 63%; left: 28%;,59994,top: 61%; left: 7.5%;,102382,top: 63%; left: 52.5%;,...,6292,top: 10%; left: 15%;,89010,top: 3%; left: 40%;,51309,top: 10%; left: 65%;,46179,top: 23%; left: 30%;,50674,top: 3%; left: 40%;
15,108390,top: 80%; left: 40%;,51710,top: 80%; left: 40%;,42710,top: 63%; left: 28%;,149498,top: 63%; left: 28%;,54928,top: 63%; left: 52.5%;,...,44412,top: 43%; left: 52%;,37337,top: 43%; left: 28%;,188854,top: 23%; left: 40%;,7980,top: 3%; left: 40%;,23966,top: 3%; left: 40%;
16,260677,top: 80%; left: 40%;,2856,top: 80%; left: 40%;,149652,top: 63%; left: 52.5%;,119032,top: 34%; left: 15%;,183260,top: 61%; left: 73%;,...,190269,top: 43%; left: 30%;,16402,top: 3%; left: 40%;,192655,top: 3%; left: 40%;,192774,top: 10%; left: 65%;,52731,top: 20%; left: 50%;
17,68030,top: 80%; left: 40%;,147051,top: 80%; left: 40%;,171062,top: 61%; left: 7.5%;,62854,top: 61%; left: 7.5%;,289875,top: 63%; left: 28%;,...,334526,top: 35%; left: 27%;,51497,top: 18%; left: 65%;,147043,top: 2%; left: 30%;,203123,top: 3%; left: 40%;,186260,top: 2%; left: 50%;
18,165435,top: 80%; left: 40%;,2856,top: 80%; left: 40%;,56621,top: 62%; left: 40%;,119032,top: 61%; left: 7.5%;,129642,top: 18%; left: 15%;,...,38007,top: 35%; left: 27%;,165891,top: 2%; left: 50%;,192655,top: 2%; left: 50%;,181882,top: 2%; left: 30%;,52731,top: 25%; left: 68%;
19,260677,top: 80%; left: 40%;,32750,top: 80%; left: 40%;,330031,top: 63%; left: 52.5%;,165732,top: 18%; left: 65%;,9915,top: 63%; left: 28%;,...,278365,top: 23%; left: 40%;,16402,top: 3%; left: 40%;,250490,top: 18%; left: 15%;,317583,top: 61%; left: 7.5%;,154635,top: 3%; left: 40%;
20,4769,top: 80%; left: 40%;,147027,top: 80%; left: 40%;,122695,top: 63%; left: 28%;,169841,top: 63%; left: 28%;,17885,top: 63%; left: 52.5%;,...,102409,top: 28%; left: 53%;,111430,top: 3%; left: 40%;,189410,top: 10%; left: 15%;,74075,top: 18%; left: 15%;,176130,top: 3%; left: 40%;
21,147027,top: 80%; left: 40%;,165435,top: 80%; left: 40%;,169841,top: 63%; left: 28%;,56621,top: 62%; left: 40%;,46420,top: 61%; left: 7.5%;,...,191486,top: 34%; left: 65%;,252875,top: 10%; left: 15%;,165891,top: 3%; left: 40%;,176130,top: 3%; left: 40%;,74532,top: 20%; left: 30%;
22,4914,top: 80%; left: 40%;,32750,top: 80%; left: 40%;,87268,top: 63%; left: 28%;,172192,top: 63%; left: 28%;,9819,top: 63%; left: 52.5%;,...,33348,top: 18%; left: 15%;,171820,top: 2%; left: 50%;,250490,top: 18%; left: 65%;,21625,top: 2%; left: 30%;,154635,top: 3%; left: 40%;
23,2856,top: 80%; left: 40%;,4769,top: 80%; left: 40%;,41767,top: 63%; left: 28%;,122695,top: 63%; left: 28%;,47408,top: 63%; left: 52.5%;,...,48119,top: 23%; left: 40%;,68655,top: 23%; left: 50%;,68004,top: 43%; left: 28%;,38007,top: 43%; left: 40%;,195051,top: 43%; left: 52%;
24,64000,top: 80%; left: 40%;,68030,top: 80%; left: 40%;,265127,top: 63%; left: 28%;,289875,top: 63%; left: 28%;,51346,top: 61%; left: 73%;,...,90008,top: 23%; left: 40%;,113125,top: 43%; left: 28%;,51497,top: 18%; left: 65%;,75287,top: 3%; left: 40%;,203123,top: 3%; left: 40%;
25,147051,top: 80%; left: 40%;,4914,top: 80%; left: 40%;,62854,top: 61%; left: 7.5%;,9819,top: 63%; left: 52.5%;,4843,top: 63%; left: 28%;,...,52556,top: 23%; left: 68%;,147043,top: 2%; left: 50%;,243856,top: 2%; left: 50%;,186260,top: 2%; left: 30%;,21625,top: 2%; left: 30%;
26,16748,top: 80%; left: 40%;,6034,top: 80%; left: 40%;,28833,top: 63%; left: 28%;,23351,top: 63%; left: 28%;,6028,top: 63%; left: 52.5%;,...,23358,top: 43%; left: 52%;,6029,top: 2%; left: 50%;,23364,top: 43%; left: 30%;,6020,top: 2%; left: 30%;,23345,top: 23%; left: 40%;
27,35866,top: 80%; left: 40%;,22149,top: 80%; left: 40%;,6014,top: 32%; left: 12%;,5992,top: 61%; left: 56.5%;,22757,top: 62%; left: 40%;,...,28839,top: 23%; left: 40%;,22268,top: 3%; left: 40%;,22119,top: 2%; left: 50%;,22273,top: 10%; left: 15%;,28847,top: 2%; left: 30%;
28,8266,top: 80%; left: 40%;,2053,top: 80%; left: 40%;,18531,top: 43%; left: 52%;,45679,top: 61%; left: 7.5%;,29864,top: 63%; left: 28%;,...,52728,top: 23%; left: 30%;,33956,top: 2%; left: 30%;,76657,top: 43%; left: 40%;,29972,top: 2%; left: 50%;,17902,top: 3%; left: 40%;
29,169374,top: 80%; left: 40%;,2398,top: 80%; left: 40%;,52066,top: 63%; left: 52.5%;,11269,top: 61%; left: 7.5%;,14878,top: 23%; left: 12%;,...,53432,top: 43%; left: 28%;,45754,top: 2%; left: 50%;,20282,top: 18%; left: 15%;,2768,top: 2%; left: 30%;,42908,top: 3%; left: 40%;
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168045,146918,top: 80%; left: 40%;,277221,top: 80%; left: 40%;,264140,top: 63%; left: 28%;,89933,top: 62%; left: 40%;,183150,top: 61%; left: 7.5%;,...,182214,top: 29%; left: 26%;,235341,top: 3%; left: 40%;,73338,top: 33%; left: 40%;,243805,top: 23%; left: 40%;,380338,top: 2%; left: 30%;
168046,106196,top: 80%; left: 40%;,126360,top: 80%; left: 40%;,29213,top: 63%; left: 28%;,44136,top: 63%; left: 28%;,42401,top: 61%; left: 73%;,...,48067,top: 3%; left: 40%;,72458,top: 18%; left: 65%;,89086,top: 18%; left: 65%;,50355,top: 3%; left: 40%;,92180,top: 18%; left: 15%;
168047,127217,top: 80%; left: 40%;,160824,top: 80%; left: 40%;,285091,top: 63%; left: 28%;,22209,top: 63%; left: 28%;,130349,top: 61%; left: 7.5%;,...,119144,top: 10%; left: 15%;,239583,top: 10%; left: 65%;,39800,top: 3%; left: 40%;,192118,top: 3%; left: 40%;,284646,top: 10%; left: 65%;
168048,107775,top: 80%; left: 40%;,69306,top: 80%; left: 40%;,167794,top: 61%; left: 7.5%;,119533,top: 61%; left: 7.5%;,187147,top: 63%; left: 52.5%;,...,41843,top: 43%; left: 52%;,46972,top: 2%; left: 30%;,102132,top: 2%; left: 30%;,78590,top: 2%; left: 50%;,174001,top: 2%; left: 50%;
168049,130388,top: 80%; left: 40%;,163315,top: 80%; left: 40%;,240082,top: 61%; left: 73%;,167877,top: 63%; left: 28%;,370991,top: 61%; left: 7.5%;,...,74304,top: 10%; left: 65%;,140423,top: 18%; left: 65%;,85009,top: 10%; left: 15%;,108541,top: 3%; left: 40%;,191183,top: 3%; left: 40%;
168050,34417,top: 80%; left: 40%;,24515,top: 80%; left: 40%;,168674,top: 61%; left: 7.5%;,144143,top: 61%; left: 73%;,29509,top: 63%; left: 52.5%;,...,38388,top: 23%; left: 40%;,29809,top: 18%; left: 65%;,27235,top: 18%; left: 15%;,324147,top: 3%; left: 40%;,61505,top: 3%; left: 40%;
168051,129585,top: 80%; left: 40%;,42531,top: 80%; left: 40%;,250638,top: 61%; left: 73%;,198394,top: 63%; left: 28%;,168159,top: 61%; left: 7.5%;,...,167105,top: 43%; left: 52%;,260806,top: 18%; left: 65%;,164913,top: 43%; left: 28%;,64535,top: 3%; left: 40%;,45161,top: 3%; left: 40%;
168052,258267,top: 80%; left: 40%;,361001,top: 80%; left: 40%;,90869,top: 18%; left: 15%;,140944,top: 61%; left: 73%;,74701,top: 61%; left: 73%;,...,43244,top: 43%; left: 52%;,74950,top: 43%; left: 52%;,74944,top: 18%; left: 65%;,424058,top: 3%; left: 40%;,74715,top: 43%; left: 28%;
168053,68847,top: 80%; left: 40%;,95738,top: 80%; left: 40%;,161368,top: 61%; left: 73%;,126610,top: 61%; left: 7.5%;,22920,top: 63%; left: 52.5%;,...,107266,top: 43%; left: 30%;,79989,top: 2%; left: 50%;,264423,top: 3%; left: 40%;,78753,top: 23%; left: 12%;,271098,top: 23%; left: 40%;
168054,21327,top: 80%; left: 40%;,7589,top: 80%; left: 40%;,6636,top: 61%; left: 7.5%;,32522,top: 61%; left: 73%;,2998,top: 63%; left: 28%;,...,204103,top: 18%; left: 65%;,79642,top: 2%; left: 50%;,133179,top: 23%; left: 30%;,197838,top: 2%; left: 30%;,18644,top: 3%; left: 40%;
168055,22860,top: 80%; left: 40%;,75458,top: 80%; left: 40%;,222977,top: 61%; left: 7.5%;,146889,top: 61%; left: 73%;,103327,top: 63%; left: 28%;,...,89200,top: 23%; left: 68%;,91225,top: 3%; left: 40%;,188131,top: 2%; left: 30%;,51349,top: 23%; left: 40%;,188180,top: 2%; left: 50%;
168056,20850,top: 80%; left: 40%;,241389,top: 80%; left: 40%;,288549,top: 61%; left: 73%;,253664,top: 61%; left: 73%;,22487,top: 61%; left: 7.5%;,...,45622,top: 10%; left: 65%;,89188,top: 2%; left: 50%;,257366,top: 10%; left: 15%;,77314,top: 2%; left: 30%;,269878,top: 3%; left: 40%;
168057,72975,top: 80%; left: 40%;,94507,top: 80%; left: 40%;,195002,top: 61%; left: 7.5%;,82562,top: 63%; left: 28%;,87360,top: 63%; left: 28%;,...,447237,top: 18%; left: 15%;,265236,top: 28%; left: 27%;,142738,top: 43%; left: 28%;,456514,top: 3%; left: 40%;,94855,top: 3%; left: 40%;
168058,59209,top: 80%; left: 40%;,62514,top: 80%; left: 40%;,31068,top: 62%; left: 40%;,49589,top: 61%; left: 73%;,48634,top: 25%; left: 12%;,...,118044,top: 43%; left: 28%;,180337,top: 2%; left: 50%;,43261,top: 3%; left: 40%;,98539,top: 2%; left: 30%;,63170,top: 18%; left: 65%;
168059,21053,top: 80%; left: 40%;,37061,top: 80%; left: 40%;,96047,top: 63%; left: 28%;,123765,top: 61%; left: 73%;,24667,top: 63%; left: 52.5%;,...,342491,top: 18%; left: 65%;,62570,top: 18%; left: 15%;,59772,top: 23%; left: 40%;,178469,top: 3%; left: 40%;,199855,top: 3%; left: 40%;
168060,34284,top: 80%; left: 40%;,51161,top: 80%; left: 40%;,12953,top: 63%; left: 52.5%;,58312,top: 61%; left: 73%;,238856,top: 61%; left: 73%;,...,57851,top: 43%; left: 52%;,36119,top: 3%; left: 40%;,133668,top: 18%; left: 65%;,237641,top: 10%; left: 15%;,111995,top: 3%; left: 40%;
168061,126681,top: 80%; left: 40%;,7079,top: 80%; left: 40%;,263903,top: 61%; left: 7.5%;,55605,top: 61%; left: 7.5%;,217656,top: 63%; left: 28%;,...,44402,top: 43%; left: 52%;,80697,top: 2%; left: 30%;,22382,top: 2%; left: 30%;,157588,top: 23%; left: 68%;,4380,top: 2%; left: 50%;
168062,19059,top: 80%; left: 40%;,13460,top: 80%; left: 40%;,76799,top: 61%; left: 56.5%;,3881,top: 62%; left: 40%;,41112,top: 59%; left: 7%;,...,41384,top: 10%; left: 15%;,55619,top: 23%; left: 68%;,62049,top: 32%; left: 68%;,65477,top: 3%; left: 40%;,3306,top: 3%; left: 40%;
168063,84462,top: 80%; left: 40%;,72671,top: 80%; left: 40%;,72972,top: 62%; left: 40%;,330684,top: 63%; left: 28%;,279380,top: 61%; left: 15%;,...,203385,top: 3%; left: 40%;,325696,top: 20%; left: 30%;,77928,top: 28%; left: 27%;,248637,top: 3%; left: 40%;,312151,top: 10%; left: 15%;
168064,284695,top: 80%; left: 40%;,147051,top: 80%; left: 40%;,56621,top: 62%; left: 40%;,203115,top: 61%; left: 7.5%;,129642,top: 61%; left: 15%;,...,36080,top: 23%; left: 12%;,165891,top: 2%; left: 50%;,45881,top: 2%; left: 50%;,181882,top: 2%; left: 30%;,23934,top: 2%; left: 30%;
168065,5686,top: 80%; left: 40%;,53306,top: 80%; left: 40%;,22386,top: 63%; left: 28%;,205497,top: 61%; left: 7.5%;,127128,top: 61%; left: 73%;,...,263294,top: 28%; left: 27%;,290587,top: 43%; left: 28%;,39924,top: 10%; left: 65%;,238639,top: 3%; left: 40%;,23952,top: 3%; left: 40%;
168066,278586,top: 80%; left: 40%;,338297,top: 80%; left: 40%;,148852,top: 62%; left: 40%;,112046,top: 61%; left: 73%;,101956,top: 61%; left: 15%;,...,158569,top: 43%; left: 28%;,85075,top: 27%; left: 10%;,149160,top: 2%; left: 30%;,43895,top: 2%; left: 30%;,245075,top: 2%; left: 50%;
168067,59377,top: 80%; left: 40%;,51321,top: 80%; left: 40%;,54906,top: 61%; left: 7.5%;,12691,top: 62%; left: 40%;,117996,top: 63%; left: 52.5%;,...,101213,top: 36%; left: 40%;,3455,top: 3%; left: 40%;,37647,top: 2%; left: 50%;,258923,top: 18%; left: 15%;,120610,top: 2%; left: 30%;
168068,240675,top: 80%; left: 40%;,282333,top: 80%; left: 40%;,130352,top: 61%; left: 7.5%;,331199,top: 61%; left: 7.5%;,324214,top: 61%; left: 73%;,...,198104,top: 28%; left: 27%;,240206,top: 2%; left: 50%;,167687,top: 10%; left: 15%;,61717,top: 22%; left: 40%;,85276,top: 3%; left: 40%;
168069,88453,top: 80%; left: 40%;,67365,top: 80%; left: 40%;,265301,top: 62%; left: 40%;,104919,top: 61%; left: 7.5%;,105719,top: 61%; left: 15%;,...,159004,top: 18%; left: 65%;,139142,top: 35%; left: 30%;,19335,top: 63%; left: 52.5%;,72998,top: 32%; left: 12%;,125177,top: 43%; left: 28%;
168070,381477,top: 80%; left: 40%;,90307,top: 80%; left: 40%;,90941,top: 61%; left: 7.5%;,74712,top: 63%; left: 28%;,315441,top: 63%; left: 28%;,...,424051,top: 10%; left: 15%;,92182,top: 43%; left: 28%;,184948,top: 3%; left: 40%;,74945,top: 3%; left: 40%;,464800,top: 10%; left: 65%;
168071,182891,top: 80%; left: 40%;,81543,top: 80%; left: 40%;,18310,top: 61%; left: 7.5%;,154199,top: 63%; left: 28%;,85295,top: 61%; left: 73%;,...,20622,top: 28%; left: 27%;,205587,top: 10%; left: 65%;,146805,top: 10%; left: 15%;,344888,top: 3%; left: 40%;,59957,top: 3%; left: 40%;
168072,146265,top: 80%; left: 40%;,143581,top: 80%; left: 40%;,108829,top: 63%; left: 28%;,108831,top: 61%; left: 7.5%;,136752,top: 61%; left: 7.5%;,...,164925,top: 25%; left: 68%;,81943,top: 3%; left: 40%;,142252,top: 2%; left: 30%;,441679,top: 25%; left: 68%;,75794,top: 2%; left: 50%;
168073,122489,top: 80%; left: 40%;,123357,top: 80%; left: 40%;,69098,top: 63%; left: 28%;,462943,top: 63%; left: 28%;,415679,top: 63%; left: 52.5%;,...,402236,top: 10%; left: 65%;,316072,top: 23%; left: 30%;,247588,top: 3%; left: 40%;,210051,top: 3%; left: 40%;,77441,top: 10%; left: 15%;
168074,96851,top: 80%; left: 40%;,272357,top: 80%; left: 40%;,90233,top: 61%; left: 73%;,139555,top: 61%; left: 73%;,200653,top: 61%; left: 7.5%;,...,22268,top: 10%; left: 15%;,198084,top: 3%; left: 40%;,114677,top: 3%; left: 40%;,353173,top: 10%; left: 65%;,57653,top: 10%; left: 65%;

In [18]:
df_playerid

        playerid                   pos
0          16408  top: 80%; left: 40%;
1           3612  top: 80%; left: 40%;
2          73472  top: 80%; left: 40%;
3          18971  top: 80%; left: 40%;
4          91931  top: 80%; left: 40%;
5         104220  top: 80%; left: 40%;
6          67797  top: 80%; left: 40%;
7          16693  top: 80%; left: 40%;
8          85339  top: 80%; left: 40%;
9          22109  top: 80%; left: 40%;
10         16816  top: 80%; left: 40%;
11         26727  top: 80%; left: 40%;
12        160954  top: 80%; left: 40%;
13         50970  top: 80%; left: 40%;
14         29903  top: 80%; left: 40%;
15        108390  top: 80%; left: 40%;
16        260677  top: 80%; left: 40%;
17         68030  top: 80%; left: 40%;
18        165435  top: 80%; left: 40%;
19        260677  top: 80%; left: 40%;
20          4769  top: 80%; left: 40%;
21        147027  top: 80%; left: 40%;
22          4914  top: 80%; left: 40%;
23          2856  top: 80%; left: 40%;
24         64000  top: 80%; left: 40%;
25        147051  top: 80%; left: 40%;
26         16748  top: 80%; left: 40%;
27         35866  top: 80%; left: 40%;
28          8266  top: 80%; left: 40%;
29        169374  top: 80%; left: 40%;
...          ...                   ...
168045    243805  top: 23%; left: 40%;
168046     50355   top: 3%; left: 40%;
168047    192118   top: 3%; left: 40%;
168048     78590   top: 2%; left: 50%;
168049    108541   top: 3%; left: 40%;
168050    324147   top: 3%; left: 40%;
168051     64535   top: 3%; left: 40%;
168052    424058   top: 3%; left: 40%;
168053     78753  top: 23%; left: 12%;
168054    197838   top: 2%; left: 30%;
168055     51349  top: 23%; left: 40%;
168056     77314   top: 2%; left: 30%;
168057    456514   top: 3%; left: 40%;
168058     98539   top: 2%; left: 30%;
168059    178469   top: 3%; left: 40%;
168060    237641  top: 10%; left: 15%;
168061    157588  top: 23%; left: 68%;
168062     65477   top: 3%; left: 40%;
168063    248637   top: 3%; left: 40%;
168064    181882   top: 2%; left: 30%;
168065    238639   top: 3%; left: 40%;
168066     43895   top: 2%; left: 30%;
168067    258923  top: 18%; left: 15%;
168068     61717  top: 22%; left: 40%;
168069     72998  top: 32%; left: 12%;
168070     74945   top: 3%; left: 40%;
168071    344888   top: 3%; left: 40%;
168072    441679  top: 25%; left: 68%;
168073    210051   top: 3%; left: 40%;
168074    353173  top: 10%; left: 65%;

[1844029 rows x 2 columns]

In [19]:
#tesztkor=pd.DataFrame(p_i_df['height'].apply(stringtoint).dropna())
average_height=pd.merge(df_playerid,p_i_df,left_on='playerid',right_on='playerid')#.groupby('pos').agg({'height':['mean','count']})
average_height=average_height.dropna().drop_duplicates()
average_height['height']=average_height['height'].apply(stringtoint)
#average_height
average_height.groupby('pos').agg({'height':'mean'}).sort_values('height',ascending=False).index[0]
#average_height

'top: 80%; left: 40%;'

In [20]:
average_height

         playerid                     pos         dob  height
0           16408    top: 80%; left: 40%;  1985-07-11   190.0
98           3612    top: 80%; left: 40%;  1986-07-02   187.0
150         73472    top: 80%; left: 40%;  1990-04-10   194.0
216         18971    top: 80%; left: 40%;  1985-10-14   189.0
267         91931    top: 80%; left: 40%;  1988-01-29   194.0
316        104220    top: 80%; left: 40%;  1994-01-22   192.0
346         67797    top: 80%; left: 40%;  1987-10-23   195.0
408         16693    top: 80%; left: 40%;  1982-08-17   196.0
465         85339    top: 80%; left: 40%;  1991-01-16   190.0
487         22109    top: 80%; left: 40%;  1982-12-11   192.0
558         16816    top: 80%; left: 40%;  1983-10-10   192.0
656         26727    top: 80%; left: 40%;  1985-03-25   190.0
686        160954    top: 80%; left: 40%;  1994-04-15   185.0
717         50970    top: 80%; left: 40%;  1979-07-21   183.0
768         29903    top: 80%; left: 40%;  1987-06-02   182.0
826        108390    top: 80%; left: 40%;  1992-05-11   199.0
957        260677    top: 80%; left: 40%;  1996-02-08   189.0
988         68030    top: 80%; left: 40%;  1990-04-26   186.0
1040       165435    top: 80%; left: 40%;  1993-06-30   186.0
1070         4769    top: 80%; left: 40%;  1985-04-19   187.0
1149       147027    top: 80%; left: 40%;  1994-02-14   188.0
1209         4914    top: 80%; left: 40%;  1984-01-10   187.0
1308         2856    top: 80%; left: 40%;  1982-01-22   187.0
1391        64000    top: 80%; left: 40%;  1989-03-29   189.0
1466       147051    top: 80%; left: 40%;  1994-06-06   190.0
1546        16748    top: 80%; left: 40%;  1983-10-08   185.0
1568        35866    top: 80%; left: 40%;  1973-01-09   182.0
1578         8266    top: 80%; left: 40%;  1977-04-24   190.0
1664       169374    top: 80%; left: 40%;  1992-01-22   190.0
1703        44536    top: 80%; left: 40%;  1989-04-29   192.0
...           ...                     ...         ...     ...
1843690    373595    top: 35%; left: 27%;  1993-04-21   178.0
1843695     22301     top: 2%; left: 50%;  1987-01-17   174.0
1843696    338441     top: 3%; left: 40%;  1997-07-09   179.0
1843698     41168    top: 18%; left: 65%;  1988-06-26   177.0
1843699     45266     top: 3%; left: 40%;  1987-05-16   186.0
1843702    241153    top: 61%; left: 73%;  1990-02-28   190.0
1843704     55023    top: 23%; left: 40%;  1982-08-10   193.0
1843709     37878    top: 25%; left: 68%;  1973-05-27   170.0
1843718     49747     top: 2%; left: 30%;  1976-01-17   178.0
1843719    407416    top: 59%; left: 73%;  1997-07-08   175.0
1843726    216903     top: 2%; left: 30%;  1994-01-04   190.0
1843732     34277    top: 23%; left: 68%;  1988-01-31   185.0
1843733    259257    top: 18%; left: 15%;  1991-12-28   193.0
1843734    273266    top: 18%; left: 65%;  1994-04-26   192.0
1843739     36871  top: 63%; left: 52.5%;  1979-05-12   183.0
1843744    141477     top: 2%; left: 30%;  1985-07-16   186.0
1843745     33114     top: 2%; left: 30%;  1978-04-16   185.0
1843746    200593    top: 20%; left: 30%;  1988-09-01   170.0
1843751    114982     top: 3%; left: 40%;  1988-03-31   176.0
1843753    130811  top: 63%; left: 52.5%;  1990-11-03   186.0
1843755     16282     top: 2%; left: 30%;  1974-07-30   175.0
1843757     52759     top: 3%; left: 40%;  1988-10-04   196.0
1843763     81081     top: 3%; left: 40%;  1989-05-29   178.0
1843765     13087    top: 35%; left: 27%;  1982-09-15   168.0
1843767    371590    top: 43%; left: 28%;  1994-02-02   175.0
1843769      2087     top: 2%; left: 50%;  1984-04-11   188.0
1843772    187585     top: 2%; left: 30%;  1992-06-26   184.0
1843774    324207    top: 43%; left: 28%;  1996-03-01   177.0
1843776    386315     top: 2%; left: 30%;  1996-07-19   196.0
1843780    456514     top: 3%; left: 40%;  1996-10-30   185.0

[331419 rows x 4 columns]

# Position with youngest average age

In [21]:
average_height=average_height.assign(y_as_d = lambda df: pd.to_datetime(average_height['dob'], format = '%Y-%m-%d'))

In [22]:
youngest_age=average_height.drop_duplicates()
youngest_age

         playerid                     pos         dob  height     y_as_d
0           16408    top: 80%; left: 40%;  1985-07-11   190.0 1985-07-11
98           3612    top: 80%; left: 40%;  1986-07-02   187.0 1986-07-02
150         73472    top: 80%; left: 40%;  1990-04-10   194.0 1990-04-10
216         18971    top: 80%; left: 40%;  1985-10-14   189.0 1985-10-14
267         91931    top: 80%; left: 40%;  1988-01-29   194.0 1988-01-29
316        104220    top: 80%; left: 40%;  1994-01-22   192.0 1994-01-22
346         67797    top: 80%; left: 40%;  1987-10-23   195.0 1987-10-23
408         16693    top: 80%; left: 40%;  1982-08-17   196.0 1982-08-17
465         85339    top: 80%; left: 40%;  1991-01-16   190.0 1991-01-16
487         22109    top: 80%; left: 40%;  1982-12-11   192.0 1982-12-11
558         16816    top: 80%; left: 40%;  1983-10-10   192.0 1983-10-10
656         26727    top: 80%; left: 40%;  1985-03-25   190.0 1985-03-25
686        160954    top: 80%; left: 40%;  1994-04-15   185.0 1994-04-15
717         50970    top: 80%; left: 40%;  1979-07-21   183.0 1979-07-21
768         29903    top: 80%; left: 40%;  1987-06-02   182.0 1987-06-02
826        108390    top: 80%; left: 40%;  1992-05-11   199.0 1992-05-11
957        260677    top: 80%; left: 40%;  1996-02-08   189.0 1996-02-08
988         68030    top: 80%; left: 40%;  1990-04-26   186.0 1990-04-26
1040       165435    top: 80%; left: 40%;  1993-06-30   186.0 1993-06-30
1070         4769    top: 80%; left: 40%;  1985-04-19   187.0 1985-04-19
1149       147027    top: 80%; left: 40%;  1994-02-14   188.0 1994-02-14
1209         4914    top: 80%; left: 40%;  1984-01-10   187.0 1984-01-10
1308         2856    top: 80%; left: 40%;  1982-01-22   187.0 1982-01-22
1391        64000    top: 80%; left: 40%;  1989-03-29   189.0 1989-03-29
1466       147051    top: 80%; left: 40%;  1994-06-06   190.0 1994-06-06
1546        16748    top: 80%; left: 40%;  1983-10-08   185.0 1983-10-08
1568        35866    top: 80%; left: 40%;  1973-01-09   182.0 1973-01-09
1578         8266    top: 80%; left: 40%;  1977-04-24   190.0 1977-04-24
1664       169374    top: 80%; left: 40%;  1992-01-22   190.0 1992-01-22
1703        44536    top: 80%; left: 40%;  1989-04-29   192.0 1989-04-29
...           ...                     ...         ...     ...        ...
1843690    373595    top: 35%; left: 27%;  1993-04-21   178.0 1993-04-21
1843695     22301     top: 2%; left: 50%;  1987-01-17   174.0 1987-01-17
1843696    338441     top: 3%; left: 40%;  1997-07-09   179.0 1997-07-09
1843698     41168    top: 18%; left: 65%;  1988-06-26   177.0 1988-06-26
1843699     45266     top: 3%; left: 40%;  1987-05-16   186.0 1987-05-16
1843702    241153    top: 61%; left: 73%;  1990-02-28   190.0 1990-02-28
1843704     55023    top: 23%; left: 40%;  1982-08-10   193.0 1982-08-10
1843709     37878    top: 25%; left: 68%;  1973-05-27   170.0 1973-05-27
1843718     49747     top: 2%; left: 30%;  1976-01-17   178.0 1976-01-17
1843719    407416    top: 59%; left: 73%;  1997-07-08   175.0 1997-07-08
1843726    216903     top: 2%; left: 30%;  1994-01-04   190.0 1994-01-04
1843732     34277    top: 23%; left: 68%;  1988-01-31   185.0 1988-01-31
1843733    259257    top: 18%; left: 15%;  1991-12-28   193.0 1991-12-28
1843734    273266    top: 18%; left: 65%;  1994-04-26   192.0 1994-04-26
1843739     36871  top: 63%; left: 52.5%;  1979-05-12   183.0 1979-05-12
1843744    141477     top: 2%; left: 30%;  1985-07-16   186.0 1985-07-16
1843745     33114     top: 2%; left: 30%;  1978-04-16   185.0 1978-04-16
1843746    200593    top: 20%; left: 30%;  1988-09-01   170.0 1988-09-01
1843751    114982     top: 3%; left: 40%;  1988-03-31   176.0 1988-03-31
1843753    130811  top: 63%; left: 52.5%;  1990-11-03   186.0 1990-11-03
1843755     16282     top: 2%; left: 30%;  1974-07-30   175.0 1974-07-30
1843757     52759     top: 3%; left: 40%;  1988-10-04   196.0 1988-10-04
1843763     81081     top: 3%; left: 40%;  1989-05-29   178.0 1989-05-29
1843765     13087    top: 35%; left: 27%;  1982-09-15   168.0 1982-09-15
1843767    371590    top: 43%; left: 28%;  1994-02-02   175.0 1994-02-02
1843769      2087     top: 2%; left: 50%;  1984-04-11   188.0 1984-04-11
1843772    187585     top: 2%; left: 30%;  1992-06-26   184.0 1992-06-26
1843774    324207    top: 43%; left: 28%;  1996-03-01   177.0 1996-03-01
1843776    386315     top: 2%; left: 30%;  1996-07-19   196.0 1996-07-19
1843780    456514     top: 3%; left: 40%;  1996-10-30   185.0 1996-10-30

[331419 rows x 5 columns]

In [23]:
youngest_age=youngest_age.assign(
    fiatal = lambda youngest_age: pd.Timestamp.now()-youngest_age['y_as_d']).sort_values('fiatal')

In [24]:
pd.Timestamp.now()

Timestamp('2019-04-14 22:36:23.735855')

In [25]:
youngest_age['fiatal']=(youngest_age['fiatal'].dt.days/365)

In [26]:
youngest_age.groupby('pos').agg({'fiatal':'mean'}).sort_values('fiatal').index[0]

'top: 18%; left: 15%;'

# position with highest average value

In [27]:
highest_value=pd.merge(average_height, p_v_df)
highest_value

,playerid,pos,dob,height,y_as_d,date,y
0,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2004-10-04,50000
1,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2005-11-06,100000
2,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2007-02-05,150000
3,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2007-08-27,200000
4,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2007-09-03,250000
5,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2011-02-28,250000
6,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2011-07-02,250000
7,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2011-11-21,250000
8,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2012-02-26,1000000
9,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2012-09-21,1500000
10,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2013-02-10,1750000
11,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2013-07-25,1500000
12,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2014-01-23,1500000
13,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2014-11-08,2500000
14,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2015-01-07,3500000
15,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2015-07-01,5000000
16,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2016-01-04,5000000
17,16408,top: 80%; left: 40%;,1985-07-11,190.0,1985-07-11,2016-07-15,5000000
18,3612,top: 80%; left: 40%;,1986-07-02,187.0,1986-07-02,2004-10-04,200000
19,3612,top: 80%; left: 40%;,1986-07-02,187.0,1986-07-02,2005-01-17,250000
20,3612,top: 80%; left: 40%;,1986-07-02,187.0,1986-07-02,2006-03-23,500000
21,3612,top: 80%; left: 40%;,1986-07-02,187.0,1986-07-02,2006-06-02,1000000
22,3612,top: 80%; left: 40%;,1986-07-02,187.0,1986-07-02,2007-06-19,900000
23,3612,top: 80%; left: 40%;,1986-07-02,187.0,1986-07-02,2009-01-21,1000000
24,3612,top: 80%; left: 40%;,1986-07-02,187.0,1986-07-02,2009-11-09,1500000
25,3612,top: 80%; left: 40%;,1986-07-02,187.0,1986-07-02,2010-01-17,2750000
26,3612,top: 80%; left: 40%;,1986-07-02,187.0,1986-07-02,2010-06-13,3000000
27,3612,top: 80%; left: 40%;,1986-07-02,187.0,1986-07-02,2011-01-12,3000000
28,3612,top: 80%; left: 40%;,1986-07-02,187.0,1986-07-02,2011-02-01,2500000
29,3612,top: 80%; left: 40%;,1986-07-02,187.0,1986-07-02,2011-06-29,1750000
...,...,...,...,...,...,...,...
2620823,52759,top: 3%; left: 40%;,1988-10-04,196.0,1988-10-04,2011-02-11,175000
2620824,52759,top: 3%; left: 40%;,1988-10-04,196.0,1988-10-04,2011-09-27,125000
2620825,52759,top: 3%; left: 40%;,1988-10-04,196.0,1988-10-04,2015-03-15,100000
2620826,52759,top: 3%; left: 40%;,1988-10-04,196.0,1988-10-04,2016-05-05,100000
2620827,13087,top: 35%; left: 27%;,1982-09-15,168.0,1982-09-15,2004-10-04,1000000
2620828,13087,top: 35%; left: 27%;,1982-09-15,168.0,1982-09-15,2005-03-13,800000
2620829,13087,top: 35%; left: 27%;,1982-09-15,168.0,1982-09-15,2005-12-11,750000
2620830,13087,top: 35%; left: 27%;,1982-09-15,168.0,1982-09-15,2007-11-01,500000
2620831,13087,top: 35%; left: 27%;,1982-09-15,168.0,1982-09-15,2008-04-02,750000
2620832,13087,top: 35%; left: 27%;,1982-09-15,168.0,1982-09-15,2008-07-24,850000
2620833,13087,top: 35%; left: 27%;,1982-09-15,168.0,1982-09-15,2009-06-17,550000
2620834,13087,top: 35%; left: 27%;,1982-09-15,168.0,1982-09-15,2010-02-09,350000
2620835,13087,top: 35%; left: 27%;,1982-09-15,168.0,1982-09-15,2011-06-17,350000
2620836,13087,top: 35%; left: 27%;,1982-09-15,168.0,1982-09-15,2011-12-02,250000
2620837,13087,top: 35%; left: 27%;,1982-09-15,168.0,1982-09-15,2012-06-24,300000
2620838,13087,top: 35%; left: 27%;,1982-09-15,168.0,1982-09-15,2013-07-01,0
2620839,2087,top: 2%; left: 50%;,1984-04-11,188.0,1984-04-11,2004-10-04,100000
2620840,2087,top: 2%; left: 50%;,1984-04-11,188.0,1984-04-11,2005-02-15,150000
2620841,2087,top: 2%; left: 50%;,1984-04-11,188.0,1984-04-11,2005-03-21,200000
2620842,2087,top: 2%; left: 50%;,1984-04-11,188.0,1984-04-11,2006-05-29,450000
2620843,2087,top: 2%; left: 50%;,1984-04-11,188.0,1984-04-11,2006-10-04,400000
2620844,2087,top: 2%; left: 50%;,1984-04-11,188.0,1984-04-11,2006-10-17,250000
2620845,2087,top: 2%; left: 50%;,1984-04-11,188.0,1984-04-11,2007-06-26,200000
2620846,2087,top: 2%; left: 50%;,1984-04-11,188.0,1984-04-11,2008-07-13,225000
2620847,2087,top: 2%; left: 50%;,1984-04-11,188.0,1984-04-11,2009-11-17,50000
2620848,2087,top: 2%; left: 50%;,1984-04-11,188.0,1984-04-11,2010-11-19,0
2620849,187585,top: 2%; left: 30%;,1992-06-26,184.0,1992-06-26,2011-12-29,100000
2620850,187585,top: 2%; left: 30%;,1992-06-26,184.0,1992-06-26,2012-11-03,100000
2620851,324207,top: 43%; left: 28%;,1996-03-01,177.0,1996-03-01,2015-10-14,200000
2620852,386315,top: 2%; left: 30%;,1996-07-19,196.0,1996-07-19,2016-07-13,150000

In [28]:
highest_value.groupby('pos').agg({'y':'mean'}).sort_values('y',ascending=False)

                                   y
pos
top: 20%; left: 30%;    2.829177e+06
top: 20%; left: 50%;    2.705045e+06
top: 22%; left: 40%;    2.366156e+06
top: 29%; left: 26%;    2.213537e+06
top: 28%; left: 27%;    2.135502e+06
top: 10%; left: 15%;    2.113666e+06
top: 30%; left: 40%;    2.112280e+06
top: 42%; left: 15%;    2.102294e+06
top: 10%; left: 65%;    2.085686e+06
top: 28%; left: 53%;    2.083013e+06
top: 35%; left: 50%;    2.080851e+06
top: 35%; left: 20%;    2.052865e+06
top: 42%; left: 65%;    2.045152e+06
top: 29%; left: 54%;    2.001287e+06
top: 33%; left: 40%;    1.983923e+06
top: 35%; left: 60%;    1.893528e+06
top: 42%; left: 40%;    1.823707e+06
top: 23%; left: 30%;    1.811364e+06
top: 39%; left: 40%;    1.808686e+06
top: 43%; left: 30%;    1.760895e+06
top: 38%; left: 25%;    1.715911e+06
top: 23%; left: 50%;    1.708842e+06
top: 23%; left: 12%;    1.681334e+06
top: 35%; left: 55%;    1.666181e+06
top: 36%; left: 40%;    1.659739e+06
top: 34%; left: 65%;    1.654426e+06
top: 35%; left: 30%;    1.649695e+06
top: 34%; left: 15%;    1.645693e+06
top: 38%; left: 55%;    1.643346e+06
top: 23%; left: 68%;    1.640126e+06
...                              ...
top: 18%; left: 15%;    1.506518e+06
top: 3%; left: 40%;     1.479271e+06
top: 25%; left: 68%;    1.479233e+06
top: 62%; left: 40%;    1.471713e+06
top: 43%; left: 40%;    1.467666e+06
top: 18%; left: 65%;    1.467219e+06
top: 27%; left: 70%;    1.420291e+06
top: 61%; left: 15%;    1.417166e+06
top: 61%; left: 65%;    1.389268e+06
top: 35%; left: 27%;    1.355437e+06
top: 35%; left: 53%;    1.339715e+06
top: 59%; left: 7%;     1.316295e+06
top: 61%; left: 23.5%;  1.301918e+06
top: 32%; left: 68%;    1.299277e+06
top: 61%; left: 56.5%;  1.239959e+06
top: 43%; left: 52%;    1.227737e+06
top: 63%; left: 40%;    1.223388e+06
top: 43%; left: 28%;    1.217798e+06
top: 59%; left: 73%;    1.141180e+06
top: 32%; left: 12%;    1.034831e+06
top: 63%; left: 28%;    9.926884e+05
top: 63%; left: 52.5%;  9.880678e+05
top: 61%; left: 73%;    9.032277e+05
top: 61%; left: 7.5%;   8.902614e+05
top: 80%; left: 40%;    6.791932e+05
top: 0%; left: 10%;     5.110190e+05
top: 63%; left: 65%;    5.090625e+05
top: 72%; left: 40%;    4.349359e+05
top: 57%; left: 40%;    3.952206e+05
top: 63%; left: 15%;    3.950000e+05

[68 rows x 1 columns]

# longest-time-in-days-between-two-games-for-player

In [29]:
idk=[]
idk.append('date')
for i in range(1,12):
    idk.append('home%s_id' %i)
    idk.append('away%s_id' %i)
idk

['date',
 'home1_id',
 'away1_id',
 'home2_id',
 'away2_id',
 'home3_id',
 'away3_id',
 'home4_id',
 'away4_id',
 'home5_id',
 'away5_id',
 'home6_id',
 'away6_id',
 'home7_id',
 'away7_id',
 'home8_id',
 'away8_id',
 'home9_id',
 'away9_id',
 'home10_id',
 'away10_id',
 'home11_id',
 'away11_id']

In [30]:
frames2=[]
def tablagenerator2():
    for i in range(1,12):
        idk[i]=m_i_df[['home%s_id' %i,'date']]
        idk[i].columns=['playerid','date']
        frames2.append(idk[i])
    for j in range(1,12):
        idk[j]=m_i_df[['away%s_id' %j,'date']]
        idk[j].columns=['playerid','date']
        frames2.append(idk[j])
        
    result = pd.concat(frames2,axis=0,ignore_index=True)
    return result
longest_df=tablagenerator2()
longest_df

         playerid        date
0           16408  2015-09-22
1            3612  2009-03-31
2           73472  2011-12-15
3           18971  2014-11-01
4           91931  2015-04-23
5          104220  2014-10-26
6           67797  2011-09-18
7           16693  2011-09-18
8           85339  2011-09-17
9           22109  2011-09-17
10          16816  2011-09-17
11          26727  2011-09-16
12         160954  2014-10-26
13          50970  2012-09-24
14          29903  2014-11-01
15         108390  2014-04-05
16         260677  2016-08-27
17          68030  2016-08-28
18         165435  2016-09-11
19         260677  2016-09-11
20           4769  2016-09-11
21         147027  2016-08-27
22           4914  2016-08-21
23           2856  2016-08-21
24          64000  2016-09-10
25         147051  2016-09-10
26          16748  2005-01-06
27          35866  2005-01-06
28           8266  2014-07-27
29         169374  2014-07-27
...           ...         ...
3688028    380338  2016-11-26
3688029     92180  2016-11-27
3688030    284646  2016-11-27
3688031    174001  2016-11-27
3688032    191183  2016-11-27
3688033     61505  2016-11-27
3688034     45161  2016-11-27
3688035     74715  2016-11-27
3688036    271098  2016-11-26
3688037     18644  2016-11-26
3688038    188180  2016-11-26
3688039    269878  2016-11-27
3688040     94855  2016-11-24
3688041     63170  2016-11-27
3688042    199855  2016-11-27
3688043    111995  2016-11-27
3688044      4380  2016-11-27
3688045      3306  2016-11-27
3688046    312151  2016-11-24
3688047     23934  2016-11-27
3688048     23952  2016-11-26
3688049    245075  2016-11-26
3688050    120610  2016-11-27
3688051     85276  2016-11-26
3688052    125177  2016-11-27
3688053    464800  2016-11-27
3688054     59957  2016-11-26
3688055     75794  2016-11-27
3688056     77441  2016-11-27
3688057     57653  2016-11-26

[3688058 rows x 2 columns]

In [31]:
longest_df=longest_df.assign(y_as_d = lambda df: pd.to_datetime(longest_df['date'], format = '%Y-%m-%d'))

In [32]:
longest_df=longest_df.sort_values(['playerid','y_as_d'])
longest_df

         playerid        date     y_as_d
2654194         1  2000-11-01 2000-11-01
674721          1  2000-11-09 2000-11-09
2470384         1  2001-08-24 2001-08-24
1003013         1  2001-12-02 2001-12-02
3174321         1  2001-12-07 2001-12-07
2698109         1  2002-02-09 2002-02-09
2654616         1  2002-07-27 2002-07-27
2998200         1  2002-09-14 2002-09-14
896971          1  2003-01-25 2003-01-25
2900735         1  2003-02-01 2003-02-01
855160          1  2003-04-13 2003-04-13
2555048         1  2003-04-16 2003-04-16
546190          1  2003-04-21 2003-04-21
2812644         1  2003-10-28 2003-10-28
2462533         1  2004-08-08 2004-08-08
452092          1  2004-11-15 2004-11-15
1014562         2  2000-09-05 2000-09-05
2702222         2  2000-09-11 2000-09-11
2782125         2  2000-10-14 2000-10-14
938095          2  2000-10-20 2000-10-20
2753834         2  2000-10-23 2000-10-23
1151161         2  2000-11-04 2000-11-04
842360          2  2000-11-09 2000-11-09
2906080         2  2000-12-16 2000-12-16
703558          2  2001-01-27 2001-01-27
2555348         2  2001-02-03 2001-02-03
878960          2  2001-02-10 2001-02-10
2795096         2  2001-02-18 2001-02-18
833438          2  2001-02-22 2001-02-22
716566          2  2001-02-25 2001-02-25
...           ...         ...        ...
3519688    474559  2016-11-20 2016-11-20
1843844    474559  2016-11-26 2016-11-26
1507831    474572  2016-11-20 2016-11-20
1340869    474572  2016-11-23 2016-11-23
3184955    474572  2016-11-26 2016-11-26
3687201    474735  2016-11-20 2016-11-20
3687692    474759  2016-11-19 2016-11-19
3017500    474759  2016-11-27 2016-11-27
334823     474840  2016-11-19 2016-11-19
670101     474842  2016-11-19 2016-11-19
1005379    474846  2016-11-19 2016-11-19
1340657    474848  2016-11-19 2016-11-19
2681769    474851  2016-11-19 2016-11-19
2011213    474853  2016-11-19 2016-11-19
2178852    474854  2016-11-19 2016-11-19
2346491    474855  2016-11-19 2016-11-19
2514130    474858  2016-11-19 2016-11-19
2849408    474859  2016-11-19 2016-11-19
1843162    474984  2016-11-20 2016-11-20
3687602    475071  2016-11-20 2016-11-20
3687717    475149  2016-11-20 2016-11-20
1843723    475188  2016-11-22 2016-11-22
3687391    475301  2016-11-19 2016-11-19
1005432    475301  2016-11-26 2016-11-26
3607237    475390  2014-10-05 2014-10-05
1763210    475390  2014-10-11 2014-10-11
3561401    475390  2014-11-08 2014-11-08
1843532    475418  2016-11-22 2016-11-22
2514553    475418  2016-11-26 2016-11-26
1843986    475637  2016-11-26 2016-11-26

[3688058 rows x 3 columns]

In [33]:
lista = longest_df['y_as_d'].tolist()

In [34]:
pl = longest_df['playerid'].tolist()

In [35]:
kul_lista = [0]
for i in range(len(lista)):
    if i == 0:
        continue
    else:
        if pl[i] == pl[i-1]:
            kul_lista.append(lista[i]- lista[i-1])
        else:
            kul_lista.append(0)

In [86]:
kul_lista

[0,
 Timedelta('8 days 00:00:00'),
 Timedelta('288 days 00:00:00'),
 Timedelta('100 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('64 days 00:00:00'),
 Timedelta('168 days 00:00:00'),
 Timedelta('49 days 00:00:00'),
 Timedelta('133 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('71 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('190 days 00:00:00'),
 Timedelta('285 days 00:00:00'),
 Timedelta('99 days 00:00:00'),
 0,
 Timedelta('6 days 00:00:00'),
 Timedelta('33 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('12 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('37 days 00:00:00'),
 Timedelta('42 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('21 days 00:00:00'),
 Timedelta('20 days 00:00:00'),
 Timedelta('91 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('22 days 00:00:00'),
 Timedelta('13 days 00:00:00'),
 Timedelta('21 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('25 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('38 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('15 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('98 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('49 days 00:00:00'),
 Timedelta('43 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('21 days 00:00:00'),
 Timedelta('15 days 00:00:00'),
 Timedelta('27 days 00:00:00'),
 0,
 Timedelta('6 days 00:00:00'),
 Timedelta('29 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('2 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('45 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('15 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('32 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('13 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 0,
 Timedelta('3 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('9 days 00:00:00'),
 Timedelta('29 days 00:00:00'),
 Timedelta('9 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('2 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('42 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('42 days 00:00:00'),
 Timedelta('11 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('22 days 00:00:00'),
 Timedelta('139 days 00:00:00'),
 Timedelta('216 days 00:00:00'),
 Timedelta('645 days 00:00:00'),
 0,
 Timedelta('122 days 00:00:00'),
 Timedelta('34 days 00:00:00'),
 Timedelta('46 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('13 days 00:00:00'),
 Timedelta('29 days 00:00:00'),
 Timedelta('41 days 00:00:00'),
 Timedelta('28 days 00:00:00'),
 Timedelta('42 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('10 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('337 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('11 days 00:00:00'),
 Timedelta('10 days 00:00:00'),
 Timedelta('91 days 00:00:00'),
 Timedelta('43 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('15 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('56 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('35 days 00:00:00'),
 Timedelta('35 days 00:00:00'),
 Timedelta('197 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('54 days 00:00:00'),
 Timedelta('9 days 00:00:00'),
 Timedelta('15 days 00:00:00'),
 Timedelta('53 days 00:00:00'),
 Timedelta('24 days 00:00:00'),
 0,
 Timedelta('499 days 00:00:00'),
 Timedelta('379 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('490 days 00:00:00'),
 Timedelta('97 days 00:00:00'),
 Timedelta('28 days 00:00:00'),
 Timedelta('84 days 00:00:00'),
 Timedelta('58 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('77 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('145 days 00:00:00'),
 Timedelta('203 days 00:00:00'),
 Timedelta('17 days 00:00:00'),
 Timedelta('53 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('15 days 00:00:00'),
 Timedelta('42 days 00:00:00'),
 Timedelta('79 days 00:00:00'),
 Timedelta('9 days 00:00:00'),
 Timedelta('21 days 00:00:00'),
 Timedelta('406 days 00:00:00'),
 Timedelta('152 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 0,
 Timedelta('6 days 00:00:00'),
 Timedelta('33 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('9 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('2 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('88 days 00:00:00'),
 Timedelta('28 days 00:00:00'),
 Timedelta('11 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('119 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('22 days 00:00:00'),
 Timedelta('73 days 00:00:00'),
 Timedelta('38 days 00:00:00'),
 Timedelta('21 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('118 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('22 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('11 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('52 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('32 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('77 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('22 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('15 days 00:00:00'),
 Timedelta('265 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('32 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('15 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('41 days 00:00:00'),
 Timedelta('42 days 00:00:00'),
 Timedelta('21 days 00:00:00'),
 Timedelta('183 days 00:00:00'),
 Timedelta('13 days 00:00:00'),
 Timedelta('50 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('45 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('55 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('11 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('167 days 00:00:00'),
 Timedelta('9 days 00:00:00'),
 Timedelta('595 days 00:00:00'),
 Timedelta('181 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('1103 days 00:00:00'),
 Timedelta('42 days 00:00:00'),
 Timedelta('17 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('27 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('17 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 0,
 Timedelta('4 days 00:00:00'),
 Timedelta('9 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('9 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('2 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('2 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('49 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('21 days 00:00:00'),
 Timedelta('11 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('287 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('336 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('63 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('22 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('11 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('15 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('49 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('23 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('54 days 00:00:00'),
 Timedelta('111 days 00:00:00'),
 Timedelta('476 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('11 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 0,
 Timedelta('10 days 00:00:00'),
 Timedelta('9 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('12 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('42 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('42 days 00:00:00'),
 Timedelta('9 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('119 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('22 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('38 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('15 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('10 days 00:00:00'),
 Timedelta('9 days 00:00:00'),
 Timedelta('41 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('11 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('56 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('56 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('11 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('15 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('56 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('55 days 00:00:00'),
 Timedelta('11 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('57 days 00:00:00'),
 Timedelta('40 days 00:00:00'),
 Timedelta('28 days 00:00:00'),
 Timedelta('35 days 00:00:00'),
 Timedelta('11 days 00:00:00'),
 Timedelta('10 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('55 days 00:00:00'),
 Timedelta('24 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('29 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('77 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('10 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('15 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('38 days 00:00:00'),
 Timedelta('31 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('10 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('7 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('28 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('8 days 00:00:00'),
 Timedelta('4 days 00:00:00'),
 Timedelta('6 days 00:00:00'),
 Timedelta('15 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('11 days 00:00:00'),
 Timedelta('3 days 00:00:00'),

In [87]:
max([f for f in kul_lista if not type(f) == int])

Timedelta('5179 days 00:00:00')

# biggest-stadium-capacity-difference-upset - kisebb stadionú csapat nyer

In [88]:
m_i_df[['home_team','away_team', 'score0','score1']]

        home_team  away_team score0 score1
0             410          5      2      3
1            3817      22247      1      1
2            9251       9252      4      0
3             269         10      1      0
4             339       2282      1      0
5              17         30      1      1
6            2381        825      0      4
7            3216         20      1      3
8             820       1506      2      1
9            2323       1267      1      0
10            449       6890      0      1
11           3205        589      0      1
12            851        109      1      0
13           6711       7633      0      0
14            129         71      1      1
15             13       1050      1      0
16            321        163      3      1
17            504        452      4      1
18            527        163      5      0
19            321        938      1      0
20            257       2790      0      2
21           2790        527      1      1
22            434        938      3      0
23            163        257      2      0
24             26        504      3      1
25            452        434      2      1
26            749       2251      0      1
27           2921        332      2      2
28             91         30      3      4
29           2589         92      2      1
...           ...        ...    ...    ...
168045      16950       2741      1      1
168046      16704        964      2      1
168047       1104      26722      1      1
168048        206       1177      3      1
168049       8373       4031      1      0
168050        759        255      0      4
168051       3057       3508      4      1
168052        365      18963      3      0
168053       1063       5817      2      2
168054       1003        641      2      2
168055        369        190      0      1
168056       3426       2778      2      2
168057      11622      21655      1      0
168058       1083       2700      2      0
168059        941       5225      2      0
168060       6418        128      2      3
168061        126         36      1      5
168062       1010        512      0      1
168063      17974       1450      1      3
168064        527        452      1      2
168065        969       1159      0      0
168066      21474       9816      1      1
168067        985        379      1      1
168068       5621       1415      1      0
168069       2540         78      1      1
168070       7087       7918      3      3
168071        347       1158      3      3
168072      22821       3342      0      2
168073        581      44805      3      0
168074       1388        130      2      1

[167639 rows x 4 columns]

In [89]:
biggest0=pd.merge(t_i_df,m_i_df[['home_team','away_team', 'score0','score1']],left_on='team_id',right_on='home_team')

In [90]:
biggest=pd.merge(biggest0,t_i_df,left_on='away_team', right_on='team_id')
biggest['seat_diff']=(biggest['seats_x']-biggest['seats_y'])
biggest.dropna()[biggest['seat_diff']<0].sort_values('seat_diff')[biggest['score0']>biggest['score1']]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

,team_id_x,name_x,seats_x,home_team,away_team,score0,score1,team_id_y,name_y,seats_y,seat_diff
14490,2296,CD Numancia,9025.0,2296,131,1,0,131,FC Barcelona,99354.0,-90329.0
150637,23285,University of Pretoria FC.,8000.0,23285,568,1,0,568,Kaizer Chiefs,94700.0,-86700.0
14510,3709,Getafe CF,14400.0,3709,131,1,0,131,FC Barcelona,99354.0,-84954.0
14327,265,Panathinaikos Athens,16620.0,265,131,1,0,131,FC Barcelona,99354.0,-82734.0
150630,14187,Maritzburg United FC,12000.0,14187,568,1,0,568,Kaizer Chiefs,94700.0,-82700.0
90688,629,Olimpia Asunción,0.0,629,2462,2,1,2462,Fluminense Football Club,82238.0,-82238.0
24822,22702,Masr El Makasa,0.0,22702,9094,3,2,9094,Masry Port Said,80000.0,-80000.0
24810,9219,Tala'ea El Gaish,0.0,9219,9094,2,1,9094,Masry Port Said,80000.0,-80000.0
144008,3229,Al-Rayyan Sports Club,0.0,3229,1076,1,0,1076,Esteghlal FC,80000.0,-80000.0
150616,10680,Bidvest Wits FC,15000.0,10680,568,2,1,568,Kaizer Chiefs,94700.0,-79700.0
150619,10680,Bidvest Wits FC,15000.0,10680,568,3,2,568,Kaizer Chiefs,94700.0,-79700.0
14333,331,CA Osasuna,19800.0,331,131,3,2,131,FC Barcelona,99354.0,-79554.0
15567,11596,AD Alcorcón,6000.0,11596,418,4,0,418,Real Madrid,85454.0,-79454.0
91873,629,Olimpia Asunción,0.0,629,614,3,2,614,Clube de Regatas do Flamengo,78838.0,-78838.0
77581,1403,Santos Laguna,28000.0,1403,3631,1,0,3631,CF América,105000.0,-77000.0
14519,16795,Granada CF,22524.0,16795,131,1,0,131,FC Barcelona,99354.0,-76830.0
14322,237,RCD Mallorca,23142.0,237,131,2,1,131,FC Barcelona,99354.0,-76212.0
5293,143,VfL Wolfsburg II,5200.0,143,16,1,0,16,Borussia Dortmund,81360.0,-76160.0
104919,21829,Oeste Futebol Clube (SP),0.0,21829,3319,1,0,3319,Sampaio Corrêa Futebol Clube (MA),75263.0,-75263.0
104920,21829,Oeste Futebol Clube (SP),0.0,21829,3319,1,0,3319,Sampaio Corrêa Futebol Clube (MA),75263.0,-75263.0
24823,22707,El Dakhlia SC,5000.0,22707,9094,2,1,9094,Masry Port Said,80000.0,-75000.0
77600,4035,CF Pachuca,30000.0,4035,3631,3,2,3631,CF América,105000.0,-75000.0
24817,18268,El Shorta,5000.0,18268,9094,1,0,9094,Masry Port Said,80000.0,-75000.0
14471,1050,Villarreal CF,25000.0,1050,131,3,1,131,FC Barcelona,99354.0,-74354.0
14466,1050,Villarreal CF,25000.0,1050,131,3,0,131,FC Barcelona,99354.0,-74354.0
14465,1050,Villarreal CF,25000.0,1050,131,2,1,131,FC Barcelona,99354.0,-74354.0
14464,1050,Villarreal CF,25000.0,1050,131,2,0,131,FC Barcelona,99354.0,-74354.0
14339,366,Real Valladolid CF,26512.0,366,131,1,0,131,FC Barcelona,99354.0,-72842.0
88171,25774,CD León de Huánuco,8000.0,25774,6593,2,1,6593,Universitario de Deportes,80093.0,-72093.0
88170,25774,CD León de Huánuco,8000.0,25774,6593,3,2,6593,Universitario de Deportes,80093.0,-72093.0
...,...,...,...,...,...,...,...,...,...,...,...
125818,593,Kyoto Sanga FC,20242.0,593,23581,2,0,23581,V-Varen Nagasaki,20246.0,-4.0
177,91,Preußen Münster,15050.0,91,66,2,0,66,SpVgg Unterhaching,15053.0,-3.0
109665,1071,Wigan Athletic,25133.0,1071,1027,1,0,1027,Bradford City,25136.0,-3.0
100465,22045,US Latina Calcio,6850.0,22045,4114,1,0,4114,ASD Nocerina 1910,6852.0,-2.0
156073,7039,Cobh Ramblers,-1.0,7039,26223,5,3,26223,Mervue United A.F.C.,0.0,-1.0
131020,8884,Qviding FIF,-1.0,8884,5199,1,0,5199,FC Höllviken,0.0,-1.0
4480,17,Borussia Dortmund II,9999.0,17,110,3,1,110,SV Wacker Burghausen,10000.0,-1.0
4479,17,Borussia Dortmund II,9999.0,17,110,2,1,110,SV Wacker Burghausen,10000.0,-1.0
3047,17,Borussia Dortmund II,9999.0,17,64,3,0,64,SV 07 Elversberg,10000.0,-1.0
3048,17,Borussia Dortmund II,9999.0,17,64,5,0,64,SV 07 Elversberg,10000.0,-1.0
108195,5174,FC Pavia 1911,3999.0,5174,13562,2,1,13562,Savona FBC,4000.0,-1.0
144203,8884,Qviding FIF,-1.0,8884,20703,3,2,20703,IFK Uddevalla,0.0,-1.0
67787,912,VfR Neumünster,4999.0,912,7208,3,1,7208,Preetzer TSV,5000.0,-1.0
148386,2371,1.FC Kaiserslautern U19,-1.0,2371,1462,2,1,1462,FC Bayern Munich U19,0.0,-1.0
148385,2371,1.FC Kaiserslautern U19,-1.0,2371,1462,2,1,1462,FC Bayern Munich U19,0.0,-1.0
148006,5370,Karlsruher SC U19,-1.0,5370,2612,2,0,2612,SpVgg Greuther Fürth U19,0.0,-1.0
13934,1038,UC Sampdoria,36348.0,1038,458,2,0,458,US Palermo,36349.0,-1.0
156074,7039,Cobh Ramblers,-1.0,7039,26223,3,2,26223,Mervue United A.F.C.,0.0,-1.0
130778,8884,Qviding FIF,-1.0,8884,22170,3,0,22170,Torslanda IK,0.0,-1.0
25480,4955,SC Wiedenbrück,5000.0,4955,93,1,0,93,SC Verl,5001.0,-1.0
146111,1313,SC 04 Schwabach,-1.0,1313,47511,1,0,47511,ASV Veitsbronn-Siegelsdorf,0.0,-1.0
162012,21056,Borussia Mönchengladbach U17,-1.0,21056,21073,2,1,21073,Rot-Weiss Essen U17,0.0,-1.0
162013,21056,Borussia Mönchengladbach U17,-1.0,21056,21073,3,0,21073,Rot-Weiss Essen U17,0.0,-1.0
162014,21061,FC Schalke 04 U17,-1.0,21061,21073,2,0,21073,Rot-Weiss Essen U17,0.0,-1.0
162015,21061,FC Schalke 04 U17,-1.0,21061,21073,6,0,21073,Rot-Weiss Essen U17,0.0,-1.0
154166,18691,Club Portugalete,-1.0,18691,8510,3,1,8510,Getafe CF B,0.0,-1.0
25308,17,Borussia Dortmund II,9999.0,17,1006,1,0,1006,Borussia Mönchengladbach II,10000.0,-1.0
146092,1313,SC 04 Schwabach,-1.0,1313,17793,3,0,17793,ASV Pegnitz,0.0,-1.0
146109,1313,SC 04 Schwabach,-1.0,1313,1729,3,2,1729,ATSV Erlangen,0.0,-1.0
154469,18691,Club Portugalete,-1.0,18691,47421,1,0,47421,CF Talavera de la Reina,0.0,-1.0

In [91]:
print(biggest.dropna()[biggest['seat_diff']<0].sort_values('seat_diff')[biggest['score0']>biggest['score1']].iloc[0],'\n','\n','\n', 'biggest_stadium_capacity_difference_upset',\
      abs(biggest.dropna()[biggest['seat_diff']<0].sort_values('seat_diff')[biggest['score0']>biggest['score1']]['seat_diff'].iloc[0]))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

team_id_x            2296
name_x        CD Numancia
seats_x              9025
home_team            2296
away_team             131
score0                  1
score1                  0
team_id_y             131
name_y       FC Barcelona
seats_y             99354
seat_diff          -90329
Name: 14490, dtype: object


 biggest_stadium_capacity_difference_upset 90329.0

# Capacity of stadium of team with most games

In [92]:
home_df=biggest['name_x'].value_counts()
home_df.head(5)

Bayern Munich          367
Bayer 04 Leverkusen    339
Galatasaray SK         315
Borussia Dortmund      313
1.FC Kaiserslautern    287
Name: name_x, dtype: int64

In [93]:
away_df=biggest['name_y'].value_counts()
away_df.head(5)

Bayern Munich          381
Bayer 04 Leverkusen    363
Borussia Dortmund      323
1.FC Kaiserslautern    309
Galatasaray SK         294
Name: name_y, dtype: int64

In [94]:
print(home_df.add(away_df).sort_values(ascending=False).index[0],home_df.add(away_df).sort_values(ascending=False)[0])
capa=home_df.add(away_df).sort_values(ascending=False).index[0]

Bayern Munich 748.0

In [95]:
print('Capacity of stadium of team with most games:',biggest[biggest['name_x']==capa]['seats_x'].iloc[0])

Capacity of stadium of team with most games: 75000.0

# biggest-value-difference -  csapatok összesített játékos-értéke közötti különbség

In [96]:
# P_V_DF + MIDF CSAPATOK ALAPJÁN MECCSENKÉNTI ÉRTÉKKÜLÖNBSÉG

In [13]:
m_i_df

,mkey,away10_id,away10_pos,away11_id,away11_pos,away1_id,away1_pos,away2_id,away2_pos,away3_id,...,home7_pos,home8_id,home8_pos,home9_id,home9_pos,home_formation,home_manager,home_team,result,score
0,2604022,45146,top: 2%; left: 30%;,66521,top: 22%; left: 40%;,34370,top: 80%; left: 40%;,262523,top: 61%; left: 73%;,88682,...,top: 33%; left: 55%;,240306,top: 36%; left: 40%;,40428,top: 33%; left: 25%;,3-5-2 flat,2127,410,2,2-3
1,948786,113974,top: 80%; left: 40%;,113979,top: 61%; left: 7.5%;,59373,top: 61%; left: 73%;,57628,top: 63%; left: 28%;,68152,...,top: 18%; left: 65%;,39743,top: 3%; left: 40%;,38267,top: 63%; left: 28%;,4-2-3-1,97,3817,0,1-1
2,1134605,88983,top: 2%; left: 30%;,143219,top: 2%; left: 50%;,45601,top: 80%; left: 40%;,145922,top: 61%; left: 73%;,128912,...,top: 43%; left: 52%;,128262,top: 63%; left: 52.5%;,42413,top: 43%; left: 28%;,4-2-3-1,3866,9251,1,4-0
3,2463048,58030,top: 18%; left: 65%;,78147,top: 3%; left: 40%;,93763,top: 80%; left: 40%;,56112,top: 43%; left: 40%;,45677,...,top: 43%; left: 28%;,85927,top: 43%; left: 52%;,39998,top: 23%; left: 68%;,4-4-2 double 6,433,269,1,1-0
4,2547389,183120,top: 23%; left: 40%;,42393,top: 3%; left: 40%;,128969,top: 80%; left: 40%;,110668,top: 61%; left: 7.5%;,19312,...,top: 18%; left: 15%;,22378,top: 61%; left: 7.5%;,24049,top: 43%; left: 52%;,4-2-3-1,5191,339,1,1-0
5,2463041,41118,top: 63%; left: 52.5%;,18296,top: 3%; left: 40%;,89649,top: 80%; left: 40%;,31608,top: 63%; left: 28%;,83415,...,top: 18%; left: 65%;,89654,top: 23%; left: 40%;,84425,top: 18%; left: 15%;,4-2-3-1,6092,17,0,1-1
6,1143249,6053,top: 2%; left: 50%;,33570,top: 2%; left: 30%;,27539,top: 80%; left: 40%;,58816,top: 61%; left: 73%;,58821,...,top: 35%; left: 55%;,53556,top: 25%; left: 12%;,7153,top: 35%; left: 25%;,4-5-1,789,2381,2,0-4
7,1143248,16499,top: 18%; left: 65%;,174984,top: 3%; left: 40%;,14555,top: 80%; left: 40%;,44996,top: 63%; left: 28%;,16353,...,top: 43%; left: 28%;,44992,top: 43%; left: 52%;,5628,top: 10%; left: 15%;,4-3-3 def.,806,3216,2,1-3
8,1143245,37091,top: 2%; left: 30%;,38768,top: 2%; left: 50%;,28124,top: 80%; left: 40%;,4873,top: 63%; left: 28%;,7402,...,top: 61%; left: 7.5%;,21494,top: 28%; left: 53%;,56372,top: 10%; left: 65%;,4-3-3 off.,2043,820,1,2-1
9,1143247,36873,top: 18%; left: 15%;,33833,top: 3%; left: 40%;,7110,top: 80%; left: 40%;,16698,top: 61%; left: 73%;,27280,...,top: 23%; left: 68%;,80696,top: 43%; left: 52%;,8539,top: 43%; left: 28%;,4-4-2 double 6,5199,2323,1,1-0
10,1143246,109217,top: 18%; left: 65%;,16589,top: 3%; left: 40%;,15448,top: 80%; left: 40%;,7445,top: 63%; left: 28%;,8680,...,top: 23%; left: 40%;,56386,top: 18%; left: 65%;,13389,top: 43%; left: 28%;,4-2-3-1,2332,449,2,0-1
11,1143243,33796,top: 28%; left: 27%;,6949,top: 3%; left: 40%;,7249,top: 80%; left: 40%;,755,top: 63%; left: 28%;,68523,...,top: 22%; left: 40%;,56518,top: 10%; left: 65%;,137616,top: 43%; left: 28%;,4-3-3 def.,7849,3205,2,0-1
12,2463042,17134,top: 63%; left: 52.5%;,159928,top: 3%; left: 40%;,124497,top: 80%; left: 40%;,60006,top: 43%; left: 28%;,60007,...,top: 23%; left: 40%;,196836,top: 18%; left: 65%;,93552,top: 43%; left: 28%;,4-2-3-1,15119,851,1,1-0
13,2239764,144310,top: 43%; left: 28%;,54022,top: 2%; left: 30%;,51048,top: 80%; left: 40%;,70833,top: 43%; left: 52%;,121208,...,top: 35%; left: 53%;,31436,top: 2%; left: 30%;,108825,top: 61%; left: 73%;,4-4-2,6210,6711,0,0-0
14,2463045,51309,top: 10%; left: 65%;,50674,top: 3%; left: 40%;,153772,top: 80%; left: 40%;,59994,top: 61%; left: 7.5%;,58061,...,top: 23%; left: 50%;,50782,top: 18%; left: 65%;,124441,top: 18%; left: 15%;,4-1-4-1,340,129,0,1-1
15,2341280,188854,top: 23%; left: 40%;,23966,top: 3%; left: 40%;,51710,top: 80%; left: 40%;,149498,top: 63%; left: 28%;,73250,...,top: 18%; left: 65%;,4248,top: 23%; left: 40%;,33448,top: 18%; left: 15%;,4-2-3-1,2868,13,1,1-0
16,2698728,192655,top: 3%; left: 40%;,52731,top: 20%; left: 50%;,2856,top: 80%; left: 40%;,119032,top: 34%; left: 15%;,41767,...,top: 28%; left: 53%;,9934,top: 39%; left: 40%;,280387,top: 28%; left: 27%;,4-3-3 off.,472,321,1,3-1
17,2698729,147043,top: 2%; left: 30%;,186260,top: 2%; left: 50%;,147051,top: 80%; left: 40%;,62854,top: 61%; left: 7.5%;,4843,...,top: 43%; left: 28%;,27410,top: 18%; left: 15%;,3730,top: 43%; left: 52%;,4-2-3-1,6517,504,1,4-1
18,2698724,192655,top: 2%; left: 50%;,52731,top: 25%; left: 68%;,2856,top: 80%; left: 40%;,119032,top: 61%; left: 7.5%;,166375,...,top: 23%; left: 30%;,183312,top: 0%; left: 10%;,191486,top: 18%; left: 65%;,3-1-4-2,17687,527,1,5-0
19,2698725,250490,top: 18%; left: 15%;,154635,top: 3%; left: 40%;,32750,top: 80%; left: 40%;,165732,top: 18%; left: 65%;,172192,...,top: 28%; left: 53%;,9934,top: 39%; left: 40%;,280387,top: 28%; left: 27%;,4-3-3 off.,472,321,1,1-0
20,2698726,189410,top: 10%; left: 15%;,176130,top: 3%; left: 40%;,147027,top: 80%; left: 40%;,169841,top: 63%; left: 28%;,46420,...,top: 18%; left: 65%;,195051,top: 43%; left: 52%;,68004,top: 43%; left: 28%;,4-2-3-1,2503,257,2,0-2
21,2698727,165891,top: 3%; left: 40%;,74532,top: 20%; left: 30%;,165435,top: 80%; left: 40%;,56621,top: 62%; left: 40%;,129642,...,top: 28%; left: 27%;,102409,top: 39%; left: 40%;,151658,top: 28%; left: 53%;,4-3-3 off.,28335,2790,0,1-1
22,2698720,250490,top: 18%; left: 65%;,154635,top: 3%; left: 40%;,32750,top: 80%; left: 40%;,172192,top: 63%; left: 28%;,79392,...,top: 25%; left: 12%;,3391,top: 35%; left: 27%;,52556,top: 25%; left: 68%;,4-4-2,4487,434,1,3-0
23,2698721,68004,top: 43%; left: 28%;,195051,top: 43%; left: 52%;,4769,top: 80%; left: 40%;,122695,top: 63%; left: 28%;,74075,...,top: 61%; left: 73%;,119032,top: 61%; left: 7.5%;,107784,top: 18%; left: 15%;,4-1-4-1,2808,163,1,2-0
24,2698722,51497,top: 18%; left: 65%;,203123,top: 3%; left: 40%;,68030,top: 80%; left: 40%;,289875,top: 63%; left: 28%;,147501,...,top: 23%; left: 40%;,238056,top: 43%; left: 52%;,194638,top: 18%; left: 15%;,4-2-3-1,5965,26,1,3-1
25,2698723,243856,top: 2%; left: 50%;,21625,top: 2%; left: 30%;,4914,top: 80%; left: 40%;,9819,top: 63%; left: 52.5%;,159299,...,top: 23%; left: 68%;,36080,top: 23%; left: 12%;,334526,top: 43%; left: 28%;,4-4-2 double 6,5018,452,1,2-1
26,30462,23364,top: 43%; left: 30%;,23345,top: 23%; left: 40%;,6034,top: 80%; left: 40%;,23351,top: 63%; left: 28%;,23357,...,top: 42%; left: 15%;,6022,top: 22%; left: 40%;,6405,top: 42%; left: 40%;,4-3-1-2,2133,749,2,0-1
27,30465,22119,top: 2%; left: 50%;,28847,top: 2%; left: 30%;,22149,top: 80%; left: 40%;,5992,top: 61%; left: 56.5%;,22103,...,top: 35%; left: 50%;,16897,top: 10%; left: 65%;,22277,top: 35%; left: 30%;,3-4-3 flat,2138,2921,0,2-2
28,2462903,76657,top: 43%; left: 40%;,17902,top: 3%; left: 40%;,2053,top: 80%; left: 40%;,45679,top: 61%; left: 7.5%;,31608,...,top: 43%; left: 28%;,85961,top: 61%; left: 73%;,20258,top: 23%; left: 12%;,4-4-2 double 6,1155,91,2,3-4
29,2462902,20282,top: 18%; left: 15%;,42908,top: 3%; left: 40%;,2398,top: 80%; left: 40%;,11269,top: 61%; left: 7.5%;,88529,...,top: 61%; left: 7.5%;,52529,top: 43%; left: 52%;,139942,top: 23%; left: 68%;,4-4-2 double 6,11289,2589,1,2-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168045,2731611,73338,top: 33%; left: 40%;,380338,top: 2%; left: 30%;,277221,top: 80%; left: 40%;,89933,top: 62%; left: 40%;,172541,...,top: 61%; left: 73%;,214273,top: 18%; left: 15%;,15117,top: 43%; left: 28%;,4-2-3-1,8542,16950,0,1-1
168046,2771369,89086,top: 18%; left: 65%;,92180,top: 18%; left: 15%;,126360,top: 80%; left: 40%;,44136,top: 63%; left: 28%;,56036,...,top: 18%; left: 15%;,57402,top: 43%; left: 28%;,15083,top: 61%; left: 7.5%;,4-2-3-1,41333,16704,1,2-1
168047,2746560,39800,top: 3%; left: 40%;,284646,top: 10%; left: 65%;,160824,top: 80%; left: 40%;,22209,top: 63%; left: 28%;,38648,...,top: 28%; left: 27%;,354725,top: 10%; left: 15%;,340445,top: 39%; left: 40%;,4-3-3 off.,29498,1104,0,1-1
168048,2697638,102132,top: 2%; left: 30%;,174001,top: 2%; left: 50%;,69306,top: 80%; left: 40%;,119533,top: 61%; left: 7.5%;,37227,...,top: 42%; left: 65%;,253316,top: 42%; left: 40%;,256186,top: 22%; left: 40%;,4-3-1-2,1145,206,1,3-1
168049,2746562,85009,top: 10%; left: 15%;,191183,top: 3%; left: 40%;,163315,top: 80%; left: 40%;,167877,top: 63%; left: 28%;,56605,...,top: 43%; left: 28%;,383876,top: 23%; left: 40%;,363177,top: 18%; left: 15%;,4-2-3-1,19718,8373,1,1-0
168050,2707292,27235,top: 18%; left: 15%;,61505,top: 3%; left: 40%;,24515,top: 80%; left: 40%;,144143,top: 61%; left: 73%;,54512,...,top: 43%; left: 28%;,8480,top: 23%; left: 40%;,176906,top: 18%; left: 15%;,4-2-3-1,23173,759,2,0-4
168051,2732119,164913,top: 43%; left: 28%;,45161,top: 3%; left: 40%;,42531,top: 80%; left: 40%;,198394,top: 63%; left: 28%;,19312,...,top: 18%; left: 15%;,159622,top: 43%; left: 52%;,111039,top: 23%; left: 40%;,4-2-3-1,1299,3057,1,4-1
168052,2717250,74944,top: 18%; left: 65%;,74715,top: 43%; left: 28%;,361001,top: 80%; left: 40%;,140944,top: 61%; left: 73%;,74975,...,top: 63%; left: 52.5%;,135883,top: 23%; left: 40%;,147113,top: 18%; left: 65%;,4-2-3-1,34248,365,1,3-0
168053,2697633,264423,top: 3%; left: 40%;,271098,top: 23%; left: 40%;,95738,top: 80%; left: 40%;,126610,top: 61%; left: 7.5%;,260840,...,top: 23%; left: 68%;,22176,top: 43%; left: 28%;,37527,top: 2%; left: 30%;,4-4-2 double 6,4028,1063,0,2-2
168054,2698163,133179,top: 23%; left: 30%;,18644,top: 3%; left: 40%;,7589,top: 80%; left: 40%;,32522,top: 61%; left: 73%;,215118,...,top: 43%; left: 52%;,56872,top: 43%; left: 28%;,171424,top: 23%; left: 68%;,4-4-2 double 6,456,1003,0,2-2
168055,2697634,188131,top: 2%; left: 30%;,188180,top: 2%; left: 50%;,75458,top: 80%; left: 40%;,146889,top: 61%; left: 73%;,170646,...,top: 43%; left: 28%;,22474,top: 43%; left: 52%;,201139,top: 18%; left: 65%;,4-2-3-1,24490,369,2,0-1
168056,2697637,257366,top: 10%; left: 15%;,269878,top: 3%; left: 40%;,241389,top: 80%; left: 40%;,253664,top: 61%; left: 73%;,253206,...,top: 23%; left: 68%;,148365,top: 23%; left: 12%;,97241,top: 43%; left: 28%;,4-4-2 double 6,4149,3426,0,2-2
168057,2794224,142738,top: 43%; left: 28%;,94855,top: 3%; left: 40%;,94507,top: 80%; left: 40%;,82562,top: 63%; left: 28%;,214810,...,top: 10%; left: 65%;,224672,top: 39%; left: 40%;,102784,top: 28%; left: 53%;,4-3-3 off.,5622,11622,1,1-0
168058,2771368,43261,top: 3%; left: 40%;,63170,top: 18%; left: 65%;,62514,top: 80%; left: 40%;,49589,top: 61%; left: 73%;,375755,...,top: 33%; left: 40%;,44318,top: 25%; left: 68%;,45858,top: 29%; left: 26%;,3-5-2 off.,32335,1083,1,2-0
168059,2730300,59772,top: 23%; left: 40%;,199855,top: 3%; left: 40%;,37061,top: 80%; left: 40%;,123765,top: 61%; left: 73%;,42642,...,top: 43%; left: 52%;,217879,top: 43%; left: 28%;,21101,top: 18%; left: 65%;,4-2-3-1,2724,941,1,2-0
168060,2764510,133668,top: 18%; left: 65%;,111995,top: 3%; left: 40%;,51161,top: 80%; left: 40%;,58312,top: 61%; left: 73%;,19638,...,top: 28%; left: 27%;,197622,top: 10%; left: 65%;,5336,top: 61%; left: 7.5%;,4-3-3 off.,1332,6418,2,2-3
168061,2722694,22382,top: 2%; left: 30%;,4380,top: 2%; left: 50%;,7079,top: 80%; left: 40%;,55605,top: 61%; left: 7.5%;,48859,...,top: 43%; left: 52%;,124422,top: 43%; left: 28%;,248219,top: 2%; left: 50%;,4-4-2 double 6,801,126,2,1-5
168062,2698183,62049,top: 32%; left: 68%;,3306,top: 3%; left: 40%;,13460,top: 80%; left: 40%;,3881,top: 62%; left: 40%;,112052,...,top: 43%; left: 28%;,63494,top: 23%; left: 12%;,112302,top: 43%; left: 52%;,5-4-1 flat,1933,1010,2,0-1
168063,2794218,77928,top: 28%; left: 27%;,312151,top: 10%; left: 15%;,72671,top: 80%; left: 40%;,330684,top: 63%; left: 28%;,250004,...,top: 43%; left: 52%;,436032,top: 43%; left: 30%;,196037,top: 20%; left: 50%;,3-1-4-2,45713,17974,2,1-3
168064,2700522,45881,top: 2%; left: 50%;,23934,top: 2%; left: 30%;,147051,top: 80%; left: 40%;,203115,top: 61%; left: 7.5%;,183321,...,top: 43%; left: 40%;,207561,top: 23%; left: 30%;,61487,top: 18%; left: 15%;,3-1-4-2,17687,527,2,1-2
168065,2702772,39924,top: 10%; left: 65%;,23952,top: 3%; left: 40%;,53306,top: 80%; left: 40%;,205497,top: 61%; left: 7.5%;,109720,...,top: 43%; left: 52%;,174094,top: 10%; left: 65%;,37157,top: 10%; left: 15%;,4-3-3 def.,2679,969,0,0-0
168066,2746176,149160,top: 2%; left: 30%;,245075,top: 2%; left: 50%;,338297,top: 80%; left: 40%;,112046,top: 61%; left: 73%;,139298,...,top: 36%; left: 40%;,40482,top: 33%; left: 25%;,162939,top: 2%; left: 50%;,3-5-2 flat,17354,21474,0,1-1
168067,2698150,37647,top: 2%; left: 50%;,120610,top: 2%; left: 30%;,51321,top: 80%; left: 40%;,12691,top: 62%; left: 40%;,92571,...,top: 18%; left: 65%;,44068,top: 23%; left: 40%;,122153,top: 43%; left: 52%;,4-2-3-1,781,985,0,1-1
168068,2746179,167687,top: 10%; left: 15%;,85276,top: 3%; left: 40%;,282333,top: 80%; left: 40%;,331199,top: 61%; left: 7.5%;,199916,...,top: 42%; left: 65%;,163168,top: 42%; left: 40%;,106651,top: 2%; left: 30%;,4-3-1-2,20739,5621,1,1-0
168069,2719223,19335,top: 63%; left: 52.5%;,125177,top: 43%; left: 28%;,67365,top: 80%; left: 40%;,104919,top: 61%; left: 7.5%;,45283,...,top: 10%; left: 65%;,131047,top: 3%; left: 40%;,194058,top: 32%; left: 68%;,3-4-3 flat,8904,2540,0,1-1
168070,2717249,184948,top: 3%; left: 40%;,464800,top: 10%; left: 65%;,90307,top: 80%; left: 40%;,74712,top: 63%; left: 28%;,232390,...,top: 18%; left: 65%;,41367,top: 23%; left: 40%;,90872,top: 18%; left: 15%;,4-2-3-1,24893,7087,0,3-3
168071,2702780,146805,top: 10%; left: 15%;,59957,top: 3%; left: 40%;,81543,top: 80%; left: 40%;,154199,top: 63%; left: 28%;,120651,...,top: 22%; left: 40%;,33847,top: 10%; left: 15%;,52112,top: 43%; left: 28%;,4-3-3 def.,1541,347,0,3-3
168072,2736451,142252,top: 2%; left: 30%;,75794,top: 2%; left: 50%;,143581,top: 80%; left: 40%;,108831,top: 61%; left: 7.5%;,133227,...,top: 35%; left: 55%;,228865,top: 25%; left: 12%;,153132,top: 35%; left: 25%;,4-5-1,27771,22821,2,0-2
168073,2736423,247588,top: 3%; left: 40%;,77441,top: 10%; left: 15%;,123357,top: 80%; left: 40%;,462943,top: 63%; left: 28%;,463336,...,top: 18%; left: 15%;,122666,top: 18%; left: 65%;,159947,top: 43%; left: 40%;,4-1-4-1,3923,581,1,3-0
168074,2746174,114677,top: 3%; left: 40%;,57653,top: 10%; left: 65%;,272357,top: 80%; left: 40%;,139555,top: 61%; left: 73%;,19438,...,top: 28%; left: 27%;,127230,top: 39%; left: 40%;,136100,top: 10%; left: 15%;,4-3-3 off.,2124,1388,1,2-1

In [17]:
meccsek_df=m_i_df[['mkey','home_team','away_team','date']]
meccsek_df

           mkey  home_team  away_team        date
0       2604022        410          5  2015-09-22
1        948786       3817      22247  2009-03-31
2       1134605       9251       9252  2011-12-15
3       2463048        269         10  2014-11-01
4       2547389        339       2282  2015-04-23
5       2463041         17         30  2014-10-26
6       1143249       2381        825  2011-09-18
7       1143248       3216         20  2011-09-18
8       1143245        820       1506  2011-09-17
9       1143247       2323       1267  2011-09-17
10      1143246        449       6890  2011-09-17
11      1143243       3205        589  2011-09-16
12      2463042        851        109  2014-10-26
13      2239764       6711       7633  2012-09-24
14      2463045        129         71  2014-11-01
15      2341280         13       1050  2014-04-05
16      2698728        321        163  2016-08-27
17      2698729        504        452  2016-08-28
18      2698724        527        163  2016-09-11
19      2698725        321        938  2016-09-11
20      2698726        257       2790  2016-09-11
21      2698727       2790        527  2016-08-27
22      2698720        434        938  2016-08-21
23      2698721        163        257  2016-08-21
24      2698722         26        504  2016-09-10
25      2698723        452        434  2016-09-10
26        30462        749       2251  2005-01-06
27        30465       2921        332  2005-01-06
28      2462903         91         30  2014-07-27
29      2462902       2589         92  2014-07-27
...         ...        ...        ...         ...
168045  2731611      16950       2741  2016-11-26
168046  2771369      16704        964  2016-11-27
168047  2746560       1104      26722  2016-11-27
168048  2697638        206       1177  2016-11-27
168049  2746562       8373       4031  2016-11-27
168050  2707292        759        255  2016-11-27
168051  2732119       3057       3508  2016-11-27
168052  2717250        365      18963  2016-11-27
168053  2697633       1063       5817  2016-11-26
168054  2698163       1003        641  2016-11-26
168055  2697634        369        190  2016-11-26
168056  2697637       3426       2778  2016-11-27
168057  2794224      11622      21655  2016-11-24
168058  2771368       1083       2700  2016-11-27
168059  2730300        941       5225  2016-11-27
168060  2764510       6418        128  2016-11-27
168061  2722694        126         36  2016-11-27
168062  2698183       1010        512  2016-11-27
168063  2794218      17974       1450  2016-11-24
168064  2700522        527        452  2016-11-27
168065  2702772        969       1159  2016-11-26
168066  2746176      21474       9816  2016-11-26
168067  2698150        985        379  2016-11-27
168068  2746179       5621       1415  2016-11-26
168069  2719223       2540         78  2016-11-27
168070  2717249       7087       7918  2016-11-27
168071  2702780        347       1158  2016-11-26
168072  2736451      22821       3342  2016-11-27
168073  2736423        581      44805  2016-11-27
168074  2746174       1388        130  2016-11-26

[167639 rows x 4 columns]

In [7]:
frames3=[]
def tablagenerator3():
    for i in range(1,12):
        idk[i]=m_i_df[['home%s_id' %i,'home_team','mkey','date']]
        idk[i].columns=['playerid','team_id','mkey','mdate']
        frames3.append(idk[i])
    for j in range(1,12):
        idk[j]=m_i_df[['away%s_id' %j,'away_team','mkey','date']]
        idk[j].columns=['playerid','team_id','mkey','mdate']
        frames3.append(idk[j])
        
    result = pd.concat(frames3,axis=0,ignore_index=True)
    return result
team_player_id=tablagenerator3().drop_duplicates()
team_player_id

         playerid  team_id     mkey       mdate
0           16408      410  2604022  2015-09-22
1            3612     3817   948786  2009-03-31
2           73472     9251  1134605  2011-12-15
3           18971      269  2463048  2014-11-01
4           91931      339  2547389  2015-04-23
5          104220       17  2463041  2014-10-26
6           67797     2381  1143249  2011-09-18
7           16693     3216  1143248  2011-09-18
8           85339      820  1143245  2011-09-17
9           22109     2323  1143247  2011-09-17
10          16816      449  1143246  2011-09-17
11          26727     3205  1143243  2011-09-16
12         160954      851  2463042  2014-10-26
13          50970     6711  2239764  2012-09-24
14          29903      129  2463045  2014-11-01
15         108390       13  2341280  2014-04-05
16         260677      321  2698728  2016-08-27
17          68030      504  2698729  2016-08-28
18         165435      527  2698724  2016-09-11
19         260677      321  2698725  2016-09-11
20           4769      257  2698726  2016-09-11
21         147027     2790  2698727  2016-08-27
22           4914      434  2698720  2016-08-21
23           2856      163  2698721  2016-08-21
24          64000       26  2698722  2016-09-10
25         147051      452  2698723  2016-09-10
26          16748      749    30462  2005-01-06
27          35866     2921    30465  2005-01-06
28           8266       91  2462903  2014-07-27
29         169374     2589  2462902  2014-07-27
...           ...      ...      ...         ...
3688028    380338     2741  2731611  2016-11-26
3688029     92180      964  2771369  2016-11-27
3688030    284646    26722  2746560  2016-11-27
3688031    174001     1177  2697638  2016-11-27
3688032    191183     4031  2746562  2016-11-27
3688033     61505      255  2707292  2016-11-27
3688034     45161     3508  2732119  2016-11-27
3688035     74715    18963  2717250  2016-11-27
3688036    271098     5817  2697633  2016-11-26
3688037     18644      641  2698163  2016-11-26
3688038    188180      190  2697634  2016-11-26
3688039    269878     2778  2697637  2016-11-27
3688040     94855    21655  2794224  2016-11-24
3688041     63170     2700  2771368  2016-11-27
3688042    199855     5225  2730300  2016-11-27
3688043    111995      128  2764510  2016-11-27
3688044      4380       36  2722694  2016-11-27
3688045      3306      512  2698183  2016-11-27
3688046    312151     1450  2794218  2016-11-24
3688047     23934      452  2700522  2016-11-27
3688048     23952     1159  2702772  2016-11-26
3688049    245075     9816  2746176  2016-11-26
3688050    120610      379  2698150  2016-11-27
3688051     85276     1415  2746179  2016-11-26
3688052    125177       78  2719223  2016-11-27
3688053    464800     7918  2717249  2016-11-27
3688054     59957     1158  2702780  2016-11-26
3688055     75794     3342  2736451  2016-11-27
3688056     77441    44805  2736423  2016-11-27
3688057     57653      130  2746174  2016-11-26

[3688051 rows x 4 columns]

In [8]:
team_value_df=pd.merge(team_player_id,p_v_df)
team_value_df=team_value_df.assign(y_as_d = lambda df: pd.to_datetime(team_value_df['mdate'], format = '%Y-%m-%d'))\
.drop(columns=['mdate'])
team_value_df

          playerid  team_id     mkey        date        y     y_as_d
0            16408      410  2604022  2004-10-04    50000 2015-09-22
1            16408      410  2604022  2005-11-06   100000 2015-09-22
2            16408      410  2604022  2007-02-05   150000 2015-09-22
3            16408      410  2604022  2007-08-27   200000 2015-09-22
4            16408      410  2604022  2007-09-03   250000 2015-09-22
5            16408      410  2604022  2011-02-28   250000 2015-09-22
6            16408      410  2604022  2011-07-02   250000 2015-09-22
7            16408      410  2604022  2011-11-21   250000 2015-09-22
8            16408      410  2604022  2012-02-26  1000000 2015-09-22
9            16408      410  2604022  2012-09-21  1500000 2015-09-22
10           16408      410  2604022  2013-02-10  1750000 2015-09-22
11           16408      410  2604022  2013-07-25  1500000 2015-09-22
12           16408      410  2604022  2014-01-23  1500000 2015-09-22
13           16408      410  2604022  2014-11-08  2500000 2015-09-22
14           16408      410  2604022  2015-01-07  3500000 2015-09-22
15           16408      410  2604022  2015-07-01  5000000 2015-09-22
16           16408      410  2604022  2016-01-04  5000000 2015-09-22
17           16408      410  2604022  2016-07-15  5000000 2015-09-22
18           16408      410  2478935  2004-10-04    50000 2015-05-10
19           16408      410  2478935  2005-11-06   100000 2015-05-10
20           16408      410  2478935  2007-02-05   150000 2015-05-10
21           16408      410  2478935  2007-08-27   200000 2015-05-10
22           16408      410  2478935  2007-09-03   250000 2015-05-10
23           16408      410  2478935  2011-02-28   250000 2015-05-10
24           16408      410  2478935  2011-07-02   250000 2015-05-10
25           16408      410  2478935  2011-11-21   250000 2015-05-10
26           16408      410  2478935  2012-02-26  1000000 2015-05-10
27           16408      410  2478935  2012-09-21  1500000 2015-05-10
28           16408      410  2478935  2013-02-10  1750000 2015-05-10
29           16408      410  2478935  2013-07-25  1500000 2015-05-10
...            ...      ...      ...         ...      ...        ...
34446326    250206    27839  2455210  2015-06-05    25000 2014-05-10
34446327    250206    27839  2455210  2015-12-19    25000 2014-05-10
34446328     20087      321    50645  2004-10-04        0 2005-07-31
34446329     20087      321    50645  2005-09-24   125000 2005-07-31
34446330     75376      291  2530921  2008-06-01    50000 2006-08-20
34446331     75376      291  2530921  2010-01-24    50000 2006-08-20
34446332     75376      291  2530921  2010-08-20    50000 2006-08-20
34446333     75376      291  2530921  2011-04-22        0 2006-08-20
34446334    297654    26100  2502291  2015-07-01    50000 2014-11-18
34446335    297654    26100  2502291  2016-11-01    25000 2014-11-18
34446336     31686    18487  2569194  2010-07-16    50000 2007-04-27
34446337     31686    18487  2569194  2015-07-01        0 2007-04-27
34446338     59775     4078  2208043  2010-04-05   325000 2012-05-06
34446339     59775     4078  2208043  2011-01-21        0 2012-05-06
34446340     59775     4078  2208043  2012-01-28   125000 2012-05-06
34446341     59775     4078  2208043  2012-11-02        0 2012-05-06
34446342     83698    29962  2282058  2012-08-25    25000 2012-10-24
34446343     83698    29962  2282058  2012-08-28    50000 2012-10-24
34446344     83698    29962  2282058  2012-11-22   125000 2012-10-24
34446345     83698    29962  2282058  2013-01-31        0 2012-10-24
34446346     83698    29962  2282058  2013-02-03        0 2012-10-24
34446347     84075     3671   911873  2009-08-06    75000 2008-08-21
34446348    447144     6638  2740509  2016-08-01    50000 2016-08-28
34446349    266911     2672  2289327  2013-12-02   100000 2013-04-21
34446350    266911     2672  2289327  2014-03-28   100000 2013-04-21
34446351    326992    12717  2369946  2015-07-14    25000 2014-05-07
34446352    326331    18338  2542108  2016-07-01    25000 2015-03-09
34446353    121928     4641  2287356  2010-02-11    75000 2010-11-20
34446354    121928     4641  2287356  2010-07-21   100000 2010-11-20
34446355    121928     4641  2287356  2011-09-14        0 2010-11-20

[34446356 rows x 6 columns]

In [73]:
csapatertek=team_value_df.groupby(['team_id','mkey','y_as_d']).agg({'y':'mean'}).reset_index()#.set_index('team_id')
csapatertek
pd.merge(csapatertek,meccsek_df)

,team_id,mkey,y_as_d,y,home_team,away_team,date
0,1,3166,2003-11-07,1.788194e+05,108,1,2003-11-07
1,108,3166,2003-11-07,2.938953e+05,108,1,2003-11-07
2,1,6739,2004-05-22,1.763158e+05,1,108,2004-05-22
3,108,6739,2004-05-22,2.896341e+05,1,108,2004-05-22
4,1,20089,2002-10-03,1.195312e+05,105,1,2002-10-03
5,105,20089,2002-10-03,1.205357e+05,105,1,2002-10-03
6,1,20415,2002-11-23,2.733974e+05,108,1,2002-11-23
7,108,20415,2002-11-23,7.590517e+05,108,1,2002-11-23
8,1,21039,2004-08-08,3.598739e+05,1,111,2004-08-08
9,111,21039,2004-08-08,1.886986e+05,1,111,2004-08-08
10,1,21075,2004-09-19,3.846154e+05,1,24,2004-09-19
11,24,21075,2004-09-19,1.342701e+06,1,24,2004-09-19
12,1,21151,2004-11-12,3.379518e+05,65,1,2004-11-12
13,65,21151,2004-11-12,1.387355e+06,65,1,2004-11-12
14,1,21228,2005-02-20,4.257426e+05,24,1,2005-02-20
15,24,21228,2005-02-20,1.561986e+06,24,1,2005-02-20
16,1,27352,2004-08-21,3.454545e+05,1,3,2004-08-21
17,3,27352,2004-08-21,2.938360e+06,1,3,2004-08-21
18,1,31217,2005-08-06,4.519068e+05,1,80,2005-08-06
19,80,31217,2005-08-06,1.696980e+06,1,80,2005-08-06
20,1,31223,2005-08-14,4.152778e+05,127,1,2005-08-14
21,127,31223,2005-08-14,4.582721e+05,127,1,2005-08-14
22,1,31244,2005-08-28,4.516055e+05,1,63,2005-08-28
23,63,31244,2005-08-28,2.183824e+05,1,63,2005-08-28
24,1,31360,2005-10-16,3.799528e+05,60,1,2005-10-16
25,60,31360,2005-10-16,1.641864e+06,60,1,2005-10-16
26,1,31675,2006-03-19,4.500000e+05,1,60,2006-03-19
27,60,31675,2006-03-19,1.927273e+06,1,60,2006-03-19
28,1,35288,2005-08-20,3.858407e+05,4795,1,2005-08-20
29,4795,35288,2005-08-20,1.170408e+05,4795,1,2005-08-20
...,...,...,...,...,...,...,...
329893,53817,2747059,2016-08-14,2.037255e+06,53818,53817,2016-08-14
329894,53818,2747059,2016-08-14,1.353571e+07,53818,53817,2016-08-14
329895,55013,2734545,2016-08-07,2.000000e+05,55013,11123,2016-08-07
329896,55837,2754490,2016-09-13,1.666667e+05,55837,55833,2016-09-13
329897,55837,2768338,2016-11-22,1.666667e+05,55833,55837,2016-11-22
329898,55870,2754514,2016-09-13,5.000000e+04,41585,55870,2016-09-13
329899,55870,2768344,2016-11-23,5.000000e+04,55870,41585,2016-11-23
329900,55953,2761072,2016-09-28,3.000000e+05,50918,55953,2016-09-28
329901,55953,2764928,2016-10-19,3.000000e+05,55953,50918,2016-10-19
329902,55953,2768371,2016-11-02,3.000000e+05,55956,55953,2016-11-02
329903,55956,2768371,2016-11-02,7.500000e+04,55956,55953,2016-11-02
329904,55953,2768383,2016-11-23,3.000000e+05,55953,55956,2016-11-23
329905,55956,2768383,2016-11-23,1.000000e+05,55953,55956,2016-11-23
329906,55956,2761069,2016-09-28,7.500000e+04,55956,55957,2016-09-28
329907,55957,2761069,2016-09-28,8.750000e+04,55956,55957,2016-09-28
329908,55956,2764926,2016-10-19,7.500000e+04,55957,55956,2016-10-19
329909,55957,2764926,2016-10-19,8.750000e+04,55957,55956,2016-10-19
329910,55960,2764925,2016-10-19,1.100000e+05,55960,55959,2016-10-19
329911,55962,2764918,2016-10-19,7.500000e+04,55963,55962,2016-10-19
329912,55963,2764918,2016-10-19,4.250000e+04,55963,55962,2016-10-19
329913,55963,2761064,2016-09-28,8.200000e+04,55962,55963,2016-09-28
329914,55965,2761061,2016-09-21,2.216667e+05,55964,55965,2016-09-21
329915,55965,2764923,2016-10-19,2.300000e+05,55965,55964,2016-10-19
329916,55965,2768374,2016-11-16,2.285714e+05,55966,55965,2016-11-16
329917,55965,2768386,2016-11-23,2.423077e+05,55965,55966,2016-11-23
329918,55967,2764927,2016-10-19,1.000000e+05,55967,55966,2016-10-19
329919,55969,2761066,2016-09-28,1.316667e+05,55969,55970,2016-09-28
329920,55970,2761066,2016-09-28,5.000000e+04,55969,55970,2016-09-28
329921,55969,2764921,2016-10-19,1.454545e+05,55970,55969,2016-10-19
329922,55970,2764921,2016-10-19,4.000000e+04,55970,55969,2016-10-19

In [76]:
csapatertek

        team_id     mkey     y_as_d              y
0             1     3166 2003-11-07  178819.444444
1             1     6739 2004-05-22  176315.789474
2             1    20089 2002-10-03  119531.250000
3             1    20415 2002-11-23  273397.435897
4             1    21039 2004-08-08  359873.949580
5             1    21075 2004-09-19  384615.384615
6             1    21151 2004-11-12  337951.807229
7             1    21228 2005-02-20  425742.574257
8             1    27352 2004-08-21  345454.545455
9             1    31217 2005-08-06  451906.779661
10            1    31223 2005-08-14  415277.777778
11            1    31244 2005-08-28  451605.504587
12            1    31360 2005-10-16  379952.830189
13            1    31675 2006-03-19  450000.000000
14            1    35288 2005-08-20  385840.707965
15            1    62516 2006-09-23  358500.000000
16            1    62671 2007-04-07  544469.026549
17            1    78200 2008-04-05   73828.125000
18            1   918435 2008-08-05   62640.449438
19            1   918562 2008-08-10   63068.181818
20            1   921744 2008-08-16   61827.956989
21            1   921748 2008-08-22   61827.956989
22            1   923282 2008-08-30  863551.401869
23            1   924013 2008-09-05  119791.666667
24            1  1036626 2010-07-23  214312.977099
25            1  1038226 2010-09-22  224664.429530
26            1  1038407 2011-02-25  184774.436090
27            1  1038438 2011-03-12  163475.177305
28            1  1038498 2011-04-19  181716.417910
29            1  1121922 2011-07-23  198381.294964
...         ...      ...        ...            ...
329893    55870  2768344 2016-11-23   50000.000000
329894    55952  2764922 2016-10-19   50000.000000
329895    55952  2768368 2016-11-02   50000.000000
329896    55953  2761072 2016-09-28  300000.000000
329897    55953  2764928 2016-10-19  300000.000000
329898    55953  2768371 2016-11-02  300000.000000
329899    55953  2768383 2016-11-23  300000.000000
329900    55956  2761069 2016-09-28   75000.000000
329901    55956  2764926 2016-10-19   75000.000000
329902    55956  2768371 2016-11-02   75000.000000
329903    55956  2768383 2016-11-23  100000.000000
329904    55957  2761069 2016-09-28   87500.000000
329905    55957  2764926 2016-10-19   87500.000000
329906    55960  2764925 2016-10-19  110000.000000
329907    55960  2768385 2016-11-23  110000.000000
329908    55961  2764930 2016-10-19   50000.000000
329909    55962  2764918 2016-10-19   75000.000000
329910    55963  2761064 2016-09-28   82000.000000
329911    55963  2764918 2016-10-19   42500.000000
329912    55965  2761061 2016-09-21  221666.666667
329913    55965  2764923 2016-10-19  230000.000000
329914    55965  2768374 2016-11-16  228571.428571
329915    55965  2768386 2016-11-23  242307.692308
329916    55967  2764927 2016-10-19  100000.000000
329917    55969  2761066 2016-09-28  131666.666667
329918    55969  2764921 2016-10-19  145454.545455
329919    55970  2761066 2016-09-28   50000.000000
329920    55970  2764921 2016-10-19   40000.000000
329921    56182  2760634 2016-09-14  165625.000000
329922    56631  2768874 2016-10-26   31250.000000

[329923 rows x 4 columns]

In [31]:
biggest_val_diff=pd.merge(csapatertek,meccsek_df).groupby('mkey').agg({'y':['min','max']})#.assign(diff = {'y':'max'}-{'y':"min"})

In [64]:
biggest_val_diff.set_axis(['min','max'], axis='columns', inplace=False)

                  min           max
mkey
1        3.069630e+06  7.481555e+06
7        1.280660e+06  6.781793e+06
8        2.421203e+06  1.030368e+07
10       2.141239e+06  7.672443e+06
45       5.182519e+06  7.406697e+06
46       6.851471e+06  8.661399e+06
49       7.380117e+06  8.179911e+06
50       3.069630e+06  7.705755e+06
53       5.427000e+06  7.126018e+06
56       3.855495e+05  3.314718e+06
59       1.065071e+06  2.749825e+06
77       1.975060e+06  4.089597e+06
104      3.855495e+05  3.252479e+06
107      1.066288e+06  3.151287e+06
125      1.906084e+06  4.054335e+06
160      1.905702e+06  6.566512e+06
169      1.982080e+06  6.263927e+06
170      1.626772e+06  8.510612e+06
171      2.261555e+06  7.842398e+06
173      1.832870e+06  2.006553e+06
174      1.524348e+06  1.883495e+06
177      1.686161e+06  8.080186e+06
178      1.659701e+06  3.983144e+06
181      2.348558e+06  3.738571e+06
186      2.076376e+06  1.636584e+07
206      1.153109e+07  1.374223e+07
212      4.572194e+06  9.054455e+06
215      3.978982e+06  9.535240e+06
220      1.018429e+06  1.789965e+06
229      7.730556e+05  1.500508e+06
...               ...           ...
2779980  5.833333e+04  2.303191e+05
2779981  1.754545e+05  1.966667e+05
2779985  1.762500e+05  2.093458e+05
2779986  3.951705e+05  6.504673e+05
2779987  1.258621e+05  2.432692e+05
2780178  6.850917e+05  6.956081e+05
2780569  1.095000e+05  1.464844e+05
2780602  1.663793e+05  4.706667e+05
2785594  3.537879e+05  4.191489e+05
2785595  2.472973e+05  3.321429e+05
2785596  2.993421e+05  3.375000e+05
2785597  2.638298e+05  2.796000e+05
2785598  1.982143e+05  2.210938e+05
2785599  2.243902e+05  3.786000e+05
2785600  3.086957e+05  4.829167e+05
2789063  2.000000e+05  5.216667e+05
2789323  1.745968e+05  2.876238e+05
2789327  1.677083e+05  2.189815e+05
2789328  1.901961e+05  2.903333e+05
2789383  2.346591e+05  3.683333e+05
2789474  2.600000e+05  2.600000e+05
2789477  6.500000e+04  1.250000e+05
2794204  3.586957e+04  1.063492e+05
2794215  3.275641e+05  1.094643e+06
2794216  2.613095e+05  2.637931e+05
2794217  3.013750e+05  3.675000e+05
2794218  2.288462e+05  3.186047e+05
2794223  3.195122e+05  4.571429e+05
2794224  2.333333e+05  3.255682e+05
2797991  2.043478e+05  3.151786e+05

[166681 rows x 2 columns]

In [70]:
biggest_val_diff['diff']=biggest_val_diff['max']-biggest_val_diff['min']
biggest_val_diff.sort_values('diff', ascending=False)['diff'].iloc[0]

30709883.814102564

# biggest-value-difference-upset

# Median of winning team average age

In [129]:
m_i_df['winning_team']=np.where(m_i_df['score0']<m_i_df['score1'], m_i_df['away_team'], \
                                np.where(m_i_df['score0']>m_i_df['score1'], m_i_df['home_team'], float('nan')))
m_i_df

,mkey,away10_id,away10_pos,away11_id,away11_pos,away1_id,away1_pos,away2_id,away2_pos,away3_id,...,home9_id,home9_pos,home_formation,home_manager,home_team,result,score,score0,score1,winning_team
0,2604022,45146,top: 2%; left: 30%;,66521,top: 22%; left: 40%;,34370,top: 80%; left: 40%;,262523,top: 61%; left: 73%;,88682,...,40428,top: 33%; left: 25%;,3-5-2 flat,2127,410,2,2-3,2,3,5.0
1,948786,113974,top: 80%; left: 40%;,113979,top: 61%; left: 7.5%;,59373,top: 61%; left: 73%;,57628,top: 63%; left: 28%;,68152,...,38267,top: 63%; left: 28%;,4-2-3-1,97,3817,0,1-1,1,1,NaN
2,1134605,88983,top: 2%; left: 30%;,143219,top: 2%; left: 50%;,45601,top: 80%; left: 40%;,145922,top: 61%; left: 73%;,128912,...,42413,top: 43%; left: 28%;,4-2-3-1,3866,9251,1,4-0,4,0,9251.0
3,2463048,58030,top: 18%; left: 65%;,78147,top: 3%; left: 40%;,93763,top: 80%; left: 40%;,56112,top: 43%; left: 40%;,45677,...,39998,top: 23%; left: 68%;,4-4-2 double 6,433,269,1,1-0,1,0,269.0
4,2547389,183120,top: 23%; left: 40%;,42393,top: 3%; left: 40%;,128969,top: 80%; left: 40%;,110668,top: 61%; left: 7.5%;,19312,...,24049,top: 43%; left: 52%;,4-2-3-1,5191,339,1,1-0,1,0,339.0
5,2463041,41118,top: 63%; left: 52.5%;,18296,top: 3%; left: 40%;,89649,top: 80%; left: 40%;,31608,top: 63%; left: 28%;,83415,...,84425,top: 18%; left: 15%;,4-2-3-1,6092,17,0,1-1,1,1,NaN
6,1143249,6053,top: 2%; left: 50%;,33570,top: 2%; left: 30%;,27539,top: 80%; left: 40%;,58816,top: 61%; left: 73%;,58821,...,7153,top: 35%; left: 25%;,4-5-1,789,2381,2,0-4,0,4,825.0
7,1143248,16499,top: 18%; left: 65%;,174984,top: 3%; left: 40%;,14555,top: 80%; left: 40%;,44996,top: 63%; left: 28%;,16353,...,5628,top: 10%; left: 15%;,4-3-3 def.,806,3216,2,1-3,1,3,20.0
8,1143245,37091,top: 2%; left: 30%;,38768,top: 2%; left: 50%;,28124,top: 80%; left: 40%;,4873,top: 63%; left: 28%;,7402,...,56372,top: 10%; left: 65%;,4-3-3 off.,2043,820,1,2-1,2,1,820.0
9,1143247,36873,top: 18%; left: 15%;,33833,top: 3%; left: 40%;,7110,top: 80%; left: 40%;,16698,top: 61%; left: 73%;,27280,...,8539,top: 43%; left: 28%;,4-4-2 double 6,5199,2323,1,1-0,1,0,2323.0
10,1143246,109217,top: 18%; left: 65%;,16589,top: 3%; left: 40%;,15448,top: 80%; left: 40%;,7445,top: 63%; left: 28%;,8680,...,13389,top: 43%; left: 28%;,4-2-3-1,2332,449,2,0-1,0,1,6890.0
11,1143243,33796,top: 28%; left: 27%;,6949,top: 3%; left: 40%;,7249,top: 80%; left: 40%;,755,top: 63%; left: 28%;,68523,...,137616,top: 43%; left: 28%;,4-3-3 def.,7849,3205,2,0-1,0,1,589.0
12,2463042,17134,top: 63%; left: 52.5%;,159928,top: 3%; left: 40%;,124497,top: 80%; left: 40%;,60006,top: 43%; left: 28%;,60007,...,93552,top: 43%; left: 28%;,4-2-3-1,15119,851,1,1-0,1,0,851.0
13,2239764,144310,top: 43%; left: 28%;,54022,top: 2%; left: 30%;,51048,top: 80%; left: 40%;,70833,top: 43%; left: 52%;,121208,...,108825,top: 61%; left: 73%;,4-4-2,6210,6711,0,0-0,0,0,NaN
14,2463045,51309,top: 10%; left: 65%;,50674,top: 3%; left: 40%;,153772,top: 80%; left: 40%;,59994,top: 61%; left: 7.5%;,58061,...,124441,top: 18%; left: 15%;,4-1-4-1,340,129,0,1-1,1,1,NaN
15,2341280,188854,top: 23%; left: 40%;,23966,top: 3%; left: 40%;,51710,top: 80%; left: 40%;,149498,top: 63%; left: 28%;,73250,...,33448,top: 18%; left: 15%;,4-2-3-1,2868,13,1,1-0,1,0,13.0
16,2698728,192655,top: 3%; left: 40%;,52731,top: 20%; left: 50%;,2856,top: 80%; left: 40%;,119032,top: 34%; left: 15%;,41767,...,280387,top: 28%; left: 27%;,4-3-3 off.,472,321,1,3-1,3,1,321.0
17,2698729,147043,top: 2%; left: 30%;,186260,top: 2%; left: 50%;,147051,top: 80%; left: 40%;,62854,top: 61%; left: 7.5%;,4843,...,3730,top: 43%; left: 52%;,4-2-3-1,6517,504,1,4-1,4,1,504.0
18,2698724,192655,top: 2%; left: 50%;,52731,top: 25%; left: 68%;,2856,top: 80%; left: 40%;,119032,top: 61%; left: 7.5%;,166375,...,191486,top: 18%; left: 65%;,3-1-4-2,17687,527,1,5-0,5,0,527.0
19,2698725,250490,top: 18%; left: 15%;,154635,top: 3%; left: 40%;,32750,top: 80%; left: 40%;,165732,top: 18%; left: 65%;,172192,...,280387,top: 28%; left: 27%;,4-3-3 off.,472,321,1,1-0,1,0,321.0
20,2698726,189410,top: 10%; left: 15%;,176130,top: 3%; left: 40%;,147027,top: 80%; left: 40%;,169841,top: 63%; left: 28%;,46420,...,68004,top: 43%; left: 28%;,4-2-3-1,2503,257,2,0-2,0,2,2790.0
21,2698727,165891,top: 3%; left: 40%;,74532,top: 20%; left: 30%;,165435,top: 80%; left: 40%;,56621,top: 62%; left: 40%;,129642,...,151658,top: 28%; left: 53%;,4-3-3 off.,28335,2790,0,1-1,1,1,NaN
22,2698720,250490,top: 18%; left: 65%;,154635,top: 3%; left: 40%;,32750,top: 80%; left: 40%;,172192,top: 63%; left: 28%;,79392,...,52556,top: 25%; left: 68%;,4-4-2,4487,434,1,3-0,3,0,434.0
23,2698721,68004,top: 43%; left: 28%;,195051,top: 43%; left: 52%;,4769,top: 80%; left: 40%;,122695,top: 63%; left: 28%;,74075,...,107784,top: 18%; left: 15%;,4-1-4-1,2808,163,1,2-0,2,0,163.0
24,2698722,51497,top: 18%; left: 65%;,203123,top: 3%; left: 40%;,68030,top: 80%; left: 40%;,289875,top: 63%; left: 28%;,147501,...,194638,top: 18%; left: 15%;,4-2-3-1,5965,26,1,3-1,3,1,26.0
25,2698723,243856,top: 2%; left: 50%;,21625,top: 2%; left: 30%;,4914,top: 80%; left: 40%;,9819,top: 63%; left: 52.5%;,159299,...,334526,top: 43%; left: 28%;,4-4-2 double 6,5018,452,1,2-1,2,1,452.0
26,30462,23364,top: 43%; left: 30%;,23345,top: 23%; left: 40%;,6034,top: 80%; left: 40%;,23351,top: 63%; left: 28%;,23357,...,6405,top: 42%; left: 40%;,4-3-1-2,2133,749,2,0-1,0,1,2251.0
27,30465,22119,top: 2%; left: 50%;,28847,top: 2%; left: 30%;,22149,top: 80%; left: 40%;,5992,top: 61%; left: 56.5%;,22103,...,22277,top: 35%; left: 30%;,3-4-3 flat,2138,2921,0,2-2,2,2,NaN
28,2462903,76657,top: 43%; left: 40%;,17902,top: 3%; left: 40%;,2053,top: 80%; left: 40%;,45679,top: 61%; left: 7.5%;,31608,...,20258,top: 23%; left: 12%;,4-4-2 double 6,1155,91,2,3-4,3,4,30.0
29,2462902,20282,top: 18%; left: 15%;,42908,top: 3%; left: 40%;,2398,top: 80%; left: 40%;,11269,top: 61%; left: 7.5%;,88529,...,139942,top: 23%; left: 68%;,4-4-2 double 6,11289,2589,1,2-1,2,1,2589.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168045,2731611,73338,top: 33%; left: 40%;,380338,top: 2%; left: 30%;,277221,top: 80%; left: 40%;,89933,top: 62%; left: 40%;,172541,...,15117,top: 43%; left: 28%;,4-2-3-1,8542,16950,0,1-1,1,1,NaN
168046,2771369,89086,top: 18%; left: 65%;,92180,top: 18%; left: 15%;,126360,top: 80%; left: 40%;,44136,top: 63%; left: 28%;,56036,...,15083,top: 61%; left: 7.5%;,4-2-3-1,41333,16704,1,2-1,2,1,16704.0
168047,2746560,39800,top: 3%; left: 40%;,284646,top: 10%; left: 65%;,160824,top: 80%; left: 40%;,22209,top: 63%; left: 28%;,38648,...,340445,top: 39%; left: 40%;,4-3-3 off.,29498,1104,0,1-1,1,1,NaN
168048,2697638,102132,top: 2%; left: 30%;,174001,top: 2%; left: 50%;,69306,top: 80%; left: 40%;,119533,top: 61%; left: 7.5%;,37227,...,256186,top: 22%; left: 40%;,4-3-1-2,1145,206,1,3-1,3,1,206.0
168049,2746562,85009,top: 10%; left: 15%;,191183,top: 3%; left: 40%;,163315,top: 80%; left: 40%;,167877,top: 63%; left: 28%;,56605,...,363177,top: 18%; left: 15%;,4-2-3-1,19718,8373,1,1-0,1,0,8373.0
168050,2707292,27235,top: 18%; left: 15%;,61505,top: 3%; left: 40%;,24515,top: 80%; left: 40%;,144143,top: 61%; left: 73%;,54512,...,176906,top: 18%; left: 15%;,4-2-3-1,23173,759,2,0-4,0,4,255.0
168051,2732119,164913,top: 43%; left: 28%;,45161,top: 3%; left: 40%;,42531,top: 80%; left: 40%;,198394,top: 63%; left: 28%;,19312,...,111039,top: 23%; left: 40%;,4-2-3-1,1299,3057,1,4-1,4,1,3057.0
168052,2717250,74944,top: 18%; left: 65%;,74715,top: 43%; left: 28%;,361001,top: 80%; left: 40%;,140944,top: 61%; left: 73%;,74975,...,147113,top: 18%; left: 65%;,4-2-3-1,34248,365,1,3-0,3,0,365.0
168053,2697633,264423,top: 3%; left: 40%;,271098,top: 23%; left: 40%;,95738,top: 80%; left: 40%;,126610,top: 61%; left: 7.5%;,260840,...,37527,top: 2%; left: 30%;,4-4-2 double 6,4028,1063,0,2-2,2,2,NaN
168054,2698163,133179,top: 23%; left: 30%;,18644,top: 3%; left: 40%;,7589,top: 80%; left: 40%;,32522,top: 61%; left: 73%;,215118,...,171424,top: 23%; left: 68%;,4-4-2 double 6,456,1003,0,2-2,2,2,NaN
168055,2697634,188131,top: 2%; left: 30%;,188180,top: 2%; left: 50%;,75458,top: 80%; left: 40%;,146889,top: 61%; left: 73%;,170646,...,201139,top: 18%; left: 65%;,4-2-3-1,24490,369,2,0-1,0,1,190.0
168056,2697637,257366,top: 10%; left: 15%;,269878,top: 3%; left: 40%;,241389,top: 80%; left: 40%;,253664,top: 61%; left: 73%;,253206,...,97241,top: 43%; left: 28%;,4-4-2 double 6,4149,3426,0,2-2,2,2,NaN
168057,2794224,142738,top: 43%; left: 28%;,94855,top: 3%; left: 40%;,94507,top: 80%; left: 40%;,82562,top: 63%; left: 28%;,214810,...,102784,top: 28%; left: 53%;,4-3-3 off.,5622,11622,1,1-0,1,0,11622.0
168058,2771368,43261,top: 3%; left: 40%;,63170,top: 18%; left: 65%;,62514,top: 80%; left: 40%;,49589,top: 61%; left: 73%;,375755,...,45858,top: 29%; left: 26%;,3-5-2 off.,32335,1083,1,2-0,2,0,1083.0
168059,2730300,59772,top: 23%; left: 40%;,199855,top: 3%; left: 40%;,37061,top: 80%; left: 40%;,123765,top: 61%; left: 73%;,42642,...,21101,top: 18%; left: 65%;,4-2-3-1,2724,941,1,2-0,2,0,941.0
168060,2764510,133668,top: 18%; left: 65%;,111995,top: 3%; left: 40%;,51161,top: 80%; left: 40%;,58312,top: 61%; left: 73%;,19638,...,5336,top: 61%; left: 7.5%;,4-3-3 off.,1332,6418,2,2-3,2,3,128.0
168061,2722694,22382,top: 2%; left: 30%;,4380,top: 2%; left: 50%;,7079,top: 80%; left: 40%;,55605,top: 61%; left: 7.5%;,48859,...,248219,top: 2%; left: 50%;,4-4-2 double 6,801,126,2,1-5,1,5,36.0
168062,2698183,62049,top: 32%; left: 68%;,3306,top: 3%; left: 40%;,13460,top: 80%; left: 40%;,3881,top: 62%; left: 40%;,112052,...,112302,top: 43%; left: 52%;,5-4-1 flat,1933,1010,2,0-1,0,1,512.0
168063,2794218,77928,top: 28%; left: 27%;,312151,top: 10%; left: 15%;,72671,top: 80%; left: 40%;,330684,top: 63%; left: 28%;,250004,...,196037,top: 20%; left: 50%;,3-1-4-2,45713,17974,2,1-3,1,3,1450.0
168064,2700522,45881,top: 2%; left: 50%;,23934,top: 2%; left: 30%;,147051,top: 80%; left: 40%;,203115,top: 61%; left: 7.5%;,183321,...,61487,top: 18%; left: 15%;,3-1-4-2,17687,527,2,1-2,1,2,452.0
168065,2702772,39924,top: 10%; left: 65%;,23952,top: 3%; left: 40%;,53306,top: 80%; left: 40%;,205497,top: 61%; left: 7.5%;,109720,...,37157,top: 10%; left: 15%;,4-3-3 def.,2679,969,0,0-0,0,0,NaN
168066,2746176,149160,top: 2%; left: 30%;,245075,top: 2%; left: 50%;,338297,top: 80%; left: 40%;,112046,top: 61%; left: 73%;,139298,...,162939,top: 2%; left: 50%;,3-5-2 flat,17354,21474,0,1-1,1,1,NaN
168067,2698150,37647,top: 2%; left: 50%;,120610,top: 2%; left: 30%;,51321,top: 80%; left: 40%;,12691,top: 62%; left: 40%;,92571,...,122153,top: 43%; left: 52%;,4-2-3-1,781,985,0,1-1,1,1,NaN
168068,2746179,167687,top: 10%; left: 15%;,85276,top: 3%; left: 40%;,282333,top: 80%; left: 40%;,331199,top: 61%; left: 7.5%;,199916,...,106651,top: 2%; left: 30%;,4-3-1-2,20739,5621,1,1-0,1,0,5621.0
168069,2719223,19335,top: 63%; left: 52.5%;,125177,top: 43%; left: 28%;,67365,top: 80%; left: 40%;,104919,top: 61%; left: 7.5%;,45283,...,194058,top: 32%; left: 68%;,3-4-3 flat,8904,2540,0,1-1,1,1,NaN
168070,2717249,184948,top: 3%; left: 40%;,464800,top: 10%; left: 65%;,90307,top: 80%; left: 40%;,74712,top: 63%; left: 28%;,232390,...,90872,top: 18%; left: 15%;,4-2-3-1,24893,7087,0,3-3,3,3,NaN
168071,2702780,146805,top: 10%; left: 15%;,59957,top: 3%; left: 40%;,81543,top: 80%; left: 40%;,154199,top: 63%; left: 28%;,120651,...,52112,top: 43%; left: 28%;,4-3-3 def.,1541,347,0,3-3,3,3,NaN
168072,2736451,142252,top: 2%; left: 30%;,75794,top: 2%; left: 50%;,143581,top: 80%; left: 40%;,108831,top: 61%; left: 7.5%;,133227,...,153132,top: 35%; left: 25%;,4-5-1,27771,22821,2,0-2,0,2,3342.0
168073,2736423,247588,top: 3%; left: 40%;,77441,top: 10%; left: 15%;,123357,top: 80%; left: 40%;,462943,top: 63%; left: 28%;,463336,...,159947,top: 43%; left: 40%;,4-1-4-1,3923,581,1,3-0,3,0,581.0
168074,2746174,114677,top: 3%; left: 40%;,57653,top: 10%; left: 65%;,272357,top: 80%; left: 40%;,139555,top: 61%; left: 73%;,19438,...,136100,top: 10%; left: 15%;,4-3-3 off.,2124,1388,1,2-1,2,1,1388.0

In [130]:
frames4=[]
def tablagenerator4():
    for i in range(1,12):
        idk[i]=m_i_df[['home%s_id' %i,'home_team','date','winning_team']]
        idk[i].columns=['playerid','team_id','mdate','winning_team']
        frames4.append(idk[i])
    for j in range(1,12):
        idk[j]=m_i_df[['away%s_id' %j,'away_team','date','winning_team']]
        idk[j].columns=['playerid','team_id','mdate','winning_team']
        frames4.append(idk[j])
        
    result = pd.concat(frames4,axis=0,ignore_index=True)
    return result
avg_age=tablagenerator4().drop_duplicates()

In [131]:
avg_age=avg_age.assign(y_as_d = lambda df: pd.to_datetime(avg_age['mdate'], format = '%Y-%m-%d'))\
.drop(columns=['mdate'])
avg_age

         playerid  team_id  winning_team     y_as_d
0           16408      410           5.0 2015-09-22
1            3612     3817           NaN 2009-03-31
2           73472     9251        9251.0 2011-12-15
3           18971      269         269.0 2014-11-01
4           91931      339         339.0 2015-04-23
5          104220       17           NaN 2014-10-26
6           67797     2381         825.0 2011-09-18
7           16693     3216          20.0 2011-09-18
8           85339      820         820.0 2011-09-17
9           22109     2323        2323.0 2011-09-17
10          16816      449        6890.0 2011-09-17
11          26727     3205         589.0 2011-09-16
12         160954      851         851.0 2014-10-26
13          50970     6711           NaN 2012-09-24
14          29903      129           NaN 2014-11-01
15         108390       13          13.0 2014-04-05
16         260677      321         321.0 2016-08-27
17          68030      504         504.0 2016-08-28
18         165435      527         527.0 2016-09-11
19         260677      321         321.0 2016-09-11
20           4769      257        2790.0 2016-09-11
21         147027     2790           NaN 2016-08-27
22           4914      434         434.0 2016-08-21
23           2856      163         163.0 2016-08-21
24          64000       26          26.0 2016-09-10
25         147051      452         452.0 2016-09-10
26          16748      749        2251.0 2005-01-06
27          35866     2921           NaN 2005-01-06
28           8266       91          30.0 2014-07-27
29         169374     2589        2589.0 2014-07-27
...           ...      ...           ...        ...
3688028    380338     2741           NaN 2016-11-26
3688029     92180      964       16704.0 2016-11-27
3688030    284646    26722           NaN 2016-11-27
3688031    174001     1177         206.0 2016-11-27
3688032    191183     4031        8373.0 2016-11-27
3688033     61505      255         255.0 2016-11-27
3688034     45161     3508        3057.0 2016-11-27
3688035     74715    18963         365.0 2016-11-27
3688036    271098     5817           NaN 2016-11-26
3688037     18644      641           NaN 2016-11-26
3688038    188180      190         190.0 2016-11-26
3688039    269878     2778           NaN 2016-11-27
3688040     94855    21655       11622.0 2016-11-24
3688041     63170     2700        1083.0 2016-11-27
3688042    199855     5225         941.0 2016-11-27
3688043    111995      128         128.0 2016-11-27
3688044      4380       36          36.0 2016-11-27
3688045      3306      512         512.0 2016-11-27
3688046    312151     1450        1450.0 2016-11-24
3688047     23934      452         452.0 2016-11-27
3688048     23952     1159           NaN 2016-11-26
3688049    245075     9816           NaN 2016-11-26
3688050    120610      379           NaN 2016-11-27
3688051     85276     1415        5621.0 2016-11-26
3688052    125177       78           NaN 2016-11-27
3688053    464800     7918           NaN 2016-11-27
3688054     59957     1158           NaN 2016-11-26
3688055     75794     3342        3342.0 2016-11-27
3688056     77441    44805         581.0 2016-11-27
3688057     57653      130        1388.0 2016-11-26

[3687910 rows x 4 columns]

In [132]:
seged=p_i_df[['dob','playerid']].assign(player_date = lambda df: pd.to_datetime(p_i_df['dob'], format= '%Y-%m-%d')).drop(columns=['dob'])

In [135]:
avg_age=pd.merge(avg_age,seged)

avg_age=avg_age.assign(eletkor=lambda df: avg_age['y_as_d']-avg_age['player_date'])
avg_age['eletkor'] = avg_age['eletkor'].dt.days
avg_age

         playerid  team_id  winning_team     y_as_d player_date  eletkor
0           16408      410           5.0 2015-09-22  1985-07-11  11030.0
1           16408      410        1038.0 2015-05-10  1985-07-11  10895.0
2           16408      410           NaN 2016-10-31  1985-07-11  11435.0
3           16408      410         410.0 2014-09-29  1985-07-11  10672.0
4           16408      410           NaN 2014-11-23  1985-07-11  10727.0
5           16408      410           NaN 2015-02-01  1985-07-11  10797.0
6           16408      265         265.0 2012-01-22  1985-07-11   9691.0
7           16408      410          46.0 2015-04-28  1985-07-11  10883.0
8           16408      410           NaN 2015-11-01  1985-07-11  11070.0
9           16408      410         276.0 2014-12-14  1985-07-11  10748.0
10          16408     3378        3447.0 2014-09-07  1985-07-11  10650.0
11          16408      410         410.0 2016-08-28  1985-07-11  11371.0
12          16408      410         410.0 2015-04-25  1985-07-11  10880.0
13          16408      410         410.0 2014-09-21  1985-07-11  10664.0
14          16408     3378        3378.0 2013-11-15  1985-07-11  10354.0
15          16408      265         265.0 2012-05-13  1985-07-11   9803.0
16          16408      410          12.0 2015-01-06  1985-07-11  10771.0
17          16408      410           NaN 2016-01-31  1985-07-11  11161.0
18          16408      265           NaN 2012-08-31  1985-07-11   9913.0
19          16408      410         410.0 2014-10-26  1985-07-11  10699.0
20          16408      265           NaN 2012-10-21  1985-07-11   9964.0
21          16408      265           NaN 2012-05-02  1985-07-11   9792.0
22          16408     3378        9173.0 2014-11-14  1985-07-11  10718.0
23          16408      265        1091.0 2012-03-04  1985-07-11   9733.0
24          16408      410         410.0 2015-08-16  1985-07-11  10993.0
25          16408    16795         367.0 2014-04-26  1985-07-11  10516.0
26          16408      410        3522.0 2016-08-13  1985-07-11  11356.0
27          16408      410         410.0 2015-11-22  1985-07-11  11091.0
28          16408      265         265.0 2012-02-12  1985-07-11   9712.0
29          16408      265           NaN 2012-08-28  1985-07-11   9910.0
...           ...      ...           ...        ...         ...      ...
3687378     31686    18487       18487.0 2007-04-27  1979-01-14  10330.0
3687379    422453    22709       31263.0 2016-10-09  1999-01-01   6491.0
3687380    279349    30690           NaN 2013-08-25         NaT      NaN
3687381     59775     4078        4078.0 2012-05-06  1973-04-13  14268.0
3687382    456264    25405       14382.0 2016-08-13  1990-01-01   9721.0
3687383    196194      243        2357.0 2013-10-04  1993-05-29   7433.0
3687384    410465     5512        5512.0 2016-05-11  1997-02-19   7021.0
3687385    429552     6429        6467.0 2016-04-16  1995-04-21   7666.0
3687386    156656     7452         937.0 2005-09-10  1980-02-14   9340.0
3687387    434686     9707        9707.0 2016-05-08  1999-01-01   6337.0
3687388     83698    29962        4585.0 2012-10-24  1991-01-21   7947.0
3687389    452029     2596        7659.0 2016-08-07         NaT      NaN
3687390     84075     3671           NaN 2008-08-21  1981-08-12   9871.0
3687391    447144     6638           NaN 2016-08-28  1989-12-24   9744.0
3687392    451852    20805       22173.0 2016-08-13  1987-02-14  10773.0
3687393    377197    15920       15977.0 2015-06-11  1995-04-01   7376.0
3687394    266911     2672       21957.0 2013-04-21  1994-07-20   6850.0
3687395    107336      531         861.0 2012-01-26  1980-10-19  11421.0
3687396    347672      695         994.0 2016-04-08  1998-02-27   6615.0
3687397    270272    16265       13364.0 2013-05-21  1991-08-08   7957.0
3687398    326992    12717           NaN 2014-05-07         NaT      NaN
3687399    266728    36213       13019.0 2013-04-17         NaT      NaN
3687400    252823      364           NaN 2013-05-05  1990-03-20   8447.0
3687401    324900     4458        7001.0 2015-05-01  1996-08-16   6832.0
3687402    147890      565        1273.0 2010-04-24  1982-08-25  10104.0
3687403    412396     6779           NaN 2016-10-26  1997-08-27   7000.0
3687404    394485    33624       33624.0 2015-10-07  1990-01-01   9410.0
3687405    326331    18338        8523.0 2015-03-09  1997-05-03   6519.0
3687406    121928     4641        4641.0 2010-11-20  1982-03-04  10488.0
3687407    379362    17755        9171.0 2016-11-12  1995-01-02   7985.0

[3687408 rows x 6 columns]

In [136]:
avg_age=avg_age.dropna()
avg_age['iswinner']=np.where(avg_age['team_id']==avg_age['winning_team'], True, False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [165]:
print('median-of-winning-team-avg-age:',avg_age[avg_age['iswinner']==True].groupby(['team_id','y_as_d']).agg({'eletkor':'mean'})\
.reset_index()['eletkor'].median()/365)

median-of-winning-team-avg-age: 26.265753424657536

# a legtöbb kapott gól nélküli meccset lehozó kapus

In [204]:
frames=[]
def tablagenerator5():
    for i in range(1,12):
        haho[i-1]=m_i_df[['home%s_id' %i,'home%s_pos' %i,'score1','date']]
        haho[i-1].columns=['playerid','pos','kapott_gol','date']
        frames.append(haho[i-1])
    for i in range(1,12):
        haho[i-1]=m_i_df[['away%s_id' %i,'away%s_pos' %i,'score0','date']]
        haho[i-1].columns=['playerid','pos','kapott_gol','date']
        frames.append(haho[i-1])
        result = pd.concat(frames,axis=0,ignore_index=False)
    return result
goalkeeper=tablagenerator5()
goalkeeper

        playerid                   pos kapott_gol        date
0          16408  top: 80%; left: 40%;          3  2015-09-22
1           3612  top: 80%; left: 40%;          1  2009-03-31
2          73472  top: 80%; left: 40%;          0  2011-12-15
3          18971  top: 80%; left: 40%;          0  2014-11-01
4          91931  top: 80%; left: 40%;          0  2015-04-23
5         104220  top: 80%; left: 40%;          1  2014-10-26
6          67797  top: 80%; left: 40%;          4  2011-09-18
7          16693  top: 80%; left: 40%;          3  2011-09-18
8          85339  top: 80%; left: 40%;          1  2011-09-17
9          22109  top: 80%; left: 40%;          0  2011-09-17
10         16816  top: 80%; left: 40%;          1  2011-09-17
11         26727  top: 80%; left: 40%;          1  2011-09-16
12        160954  top: 80%; left: 40%;          0  2014-10-26
13         50970  top: 80%; left: 40%;          0  2012-09-24
14         29903  top: 80%; left: 40%;          1  2014-11-01
15        108390  top: 80%; left: 40%;          0  2014-04-05
16        260677  top: 80%; left: 40%;          1  2016-08-27
17         68030  top: 80%; left: 40%;          1  2016-08-28
18        165435  top: 80%; left: 40%;          0  2016-09-11
19        260677  top: 80%; left: 40%;          0  2016-09-11
20          4769  top: 80%; left: 40%;          2  2016-09-11
21        147027  top: 80%; left: 40%;          1  2016-08-27
22          4914  top: 80%; left: 40%;          0  2016-08-21
23          2856  top: 80%; left: 40%;          0  2016-08-21
24         64000  top: 80%; left: 40%;          1  2016-09-10
25        147051  top: 80%; left: 40%;          1  2016-09-10
26         16748  top: 80%; left: 40%;          1  2005-01-06
27         35866  top: 80%; left: 40%;          2  2005-01-06
28          8266  top: 80%; left: 40%;          4  2014-07-27
29        169374  top: 80%; left: 40%;          1  2014-07-27
...          ...                   ...        ...         ...
168045    380338   top: 2%; left: 30%;          1  2016-11-26
168046     92180  top: 18%; left: 15%;          2  2016-11-27
168047    284646  top: 10%; left: 65%;          1  2016-11-27
168048    174001   top: 2%; left: 50%;          3  2016-11-27
168049    191183   top: 3%; left: 40%;          1  2016-11-27
168050     61505   top: 3%; left: 40%;          0  2016-11-27
168051     45161   top: 3%; left: 40%;          4  2016-11-27
168052     74715  top: 43%; left: 28%;          3  2016-11-27
168053    271098  top: 23%; left: 40%;          2  2016-11-26
168054     18644   top: 3%; left: 40%;          2  2016-11-26
168055    188180   top: 2%; left: 50%;          0  2016-11-26
168056    269878   top: 3%; left: 40%;          2  2016-11-27
168057     94855   top: 3%; left: 40%;          1  2016-11-24
168058     63170  top: 18%; left: 65%;          2  2016-11-27
168059    199855   top: 3%; left: 40%;          2  2016-11-27
168060    111995   top: 3%; left: 40%;          2  2016-11-27
168061      4380   top: 2%; left: 50%;          1  2016-11-27
168062      3306   top: 3%; left: 40%;          0  2016-11-27
168063    312151  top: 10%; left: 15%;          1  2016-11-24
168064     23934   top: 2%; left: 30%;          1  2016-11-27
168065     23952   top: 3%; left: 40%;          0  2016-11-26
168066    245075   top: 2%; left: 50%;          1  2016-11-26
168067    120610   top: 2%; left: 30%;          1  2016-11-27
168068     85276   top: 3%; left: 40%;          1  2016-11-26
168069    125177  top: 43%; left: 28%;          1  2016-11-27
168070    464800  top: 10%; left: 65%;          3  2016-11-27
168071     59957   top: 3%; left: 40%;          3  2016-11-26
168072     75794   top: 2%; left: 50%;          0  2016-11-27
168073     77441  top: 10%; left: 15%;          3  2016-11-27
168074     57653  top: 10%; left: 65%;          2  2016-11-26

[3688058 rows x 4 columns]

In [257]:
goalkeeper=goalkeeper[goalkeeper['pos']=='top: 80%; left: 40%;']
kapott_nulla=goalkeeper.sort_values(['playerid','date'], ascending=True)
kapott_nulla=kapott_nulla.reset_index()

In [270]:
def nulla():
    vissza=0
    out=[]
    for i, r in kapott_nulla.iterrows():
        
        if i==0:
            continue
        else:
            if kapott_nulla.loc[i,'playerid']==kapott_nulla.loc[i-1,'playerid']:
                
                if kapott_nulla.loc[i-1,'kapott_gol']=='0':
                    jelen+=1
                    if jelen>vissza:
                        vissza=jelen
                else:
                    jelen=0
            
    return print('a legtöbb kapott gól nélküli meccset hozó kapus' , vissza)
nulla()

a legtöbb kapott gól nélküli meccset hozó kapus 17

# Átlagosan legtöbb gólt kapó kapus születési dátuma és magassága

In [284]:
kapott_nulla['kapott_gol']=kapott_nulla['kapott_gol'].apply(stringtoint)

legtöbb_kapott=kapott_nulla.groupby('playerid').agg({'kapott_gol':'mean'}).sort_values('kapott_gol', ascending=False)

In [296]:
print('születési dátuma:' , legtöbb_kapott.reset_index().merge(p_i_df).loc[0,'dob'] ,'magassága: ', \
      legtöbb_kapott.reset_index().merge(p_i_df).loc[0,'height'], 'kapott gólok száma: ', legtöbb_kapott.reset_index().merge(p_i_df).loc[0,'kapott_gol'])

születési dátuma: 1973-04-24 magassága:  194 kapott gólok száma:  17.0

In [ ]:
list(map(lambda x:x**2, range(10)))

In [356]:
[x**2 for x in range(10) if x%2==0]

[0, 4, 16, 36, 64]

In [357]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]